<app-bar></app-bar>

<div id="about">
    <h2>About</h2>
    <p>
        Hunter is an Open Source (GNU General Public License v3.0) Software
        intended to simplify the daily coding competitions hosting for general
        public. Hunter gives you the ability to create your own coding
        competitions similar to what you see on other competitive sites, but
        with a lot of easy, simplicity and least maintenance.
    </p>
    <p>
        For providing feedback, posting bug/vulnerability , or reporting any
        unreliable competition, kindly reach
        <a
            target="_blank"
            href="https://github.com/msc24x/hunter/issues/new?assignees=&labels=&projects=&template=bug_report.md&title="
            >create an issue on Github</a
        >, or reach out to us through the
        <a href="mailto:msc24x@gmail.com">email</a>.
    </p>

    <h2>Creator</h2>
    <p>
        Hi, Maninderpal Singh here. I am a Software Engineer who did multiple
        projects, and Hunter is the one of those projects. The idea originated
        when I had an urge to set up a coding competition. I was looking for
        convenient platform for this. Even though the popular websites, such as
        HackerRank, provide this kind of hosting service, I decided to create a
        new one. The decision was not only to build such platform, but to learn
        and improve my own skills.
        <br /><br />
        The goal of this platform is to make coding contest hosting so easy that
        everyone could use Hunter to present their own designed coding questions
        with the convenience of a click. They can build, maintain & participate
        in them under one roof.
        <br /><br />
        Another interesting thing that Hunter made me do is to create my own
        remote code execution engine, instead of using existing popular
        solutions like Judge0. My engine named 'Showdown' and is featured and
        integrated on Hunter itself for testing. Showdown will be open source
        soon.
    </p>
    <p>
        Moreover, Connect with me on
        <a href="https://linkedin.com/in/msc24x" target="_blank">LinkedIn</a>.
        Explore more projects on
        <a href="https://github.com/msc24x" target="_blank">GitHub</a> or my
        <a href="https://cambo.in" target="_blank">portfolio</a>.
    </p>

    <h2>How does it work?</h2>
    <p>
        Users can sign up with Github for the free account and start creating
        competitions. Along with the competition meta data and scheduling
        information, you can add questions to your contest. Host can add as many
        questions they like. A question will consists of statement, sample test
        cases and final test cases. Each question can have positive and negative
        marking according to your requirement.
    </p>
    <p>
        On the side of the participants, users who wish to just participate can
        get ready in the compete page, where all the competitions, which were
        made public by the hosts, would appear. Any one can get started with
        them when they are live. Users can submit the code, test them again
        samples and final submit and track their performance.
    </p>
    <p>
        Users submit their solution code to the online judge built for Hunter,
        that detects the language, compiles it and test it against the test
        cases provided by the host user. All this is done by a homegrown
        execution engine called 'Showdown', which is in testing phase and will
        be open source soon. All the results would be public on a live
        scoreboard during the competition..
    </p>

    <h2>Open Source</h2>
    <p>
        Hunter is currently open source and is available on
        <a href="https://github.com/msc24x/hunter" target="_blank">github</a>.
        It will be developed according to how much time does the creator will
        have, and as always contributions are accepted.
    </p>

    <h3>Donate</h3>
    <p>
        The project is open source and completely funded by myself. As we do not
        make any money from this project, you can help funding the project to
        keep it alive. Do visit
        <a href="https://donate.cambo.in">donate.cambo.in</a>
    </p>
</div>
