<app-bar></app-bar>

<div id="about">
    <h4>About Hunter</h4>
    <p>
        Hunter is an open-source software (GNU General Public License v3.0)
        designed to simplify the hosting of daily coding competitions for the
        general public. Hunter empowers you to create your own coding
        competitions, similar to those on other competitive sites, but with
        greater ease, simplicity, and minimal maintenance.
    </p>
    <p>
        For feedback, bug reports, or to report any unreliable competitions,
        please create an issue on
        <a
            target="_blank"
            href="https://github.com/msc24x/hunter/issues/new?assignees=&labels=&projects=&template=bug_report.md&title="
            >GitHub</a
        >, or contact us via <a href="mailto:msc24x@gmail.com">email</a>.
    </p>

    <h4>Creator</h4>
    <p>
        Hello, I'm Maninderpal Singh, a Software Engineer with a passion for
        developing innovative projects. Hunter is one of my creations, born from
        my desire to set up a coding competition platform. While popular
        websites like HackerRank offer similar services, I decided to build a
        new platform to enhance my skills and provide a more convenient
        solution.
        <br /><br />
        The goal of Hunter is to make coding contest hosting so accessible that
        anyone can use it to present their own coding questions with just a
        click. Users can build, maintain, and participate in competitions all
        under one roof.
        <br /><br />
        One of the unique features of Hunter is the custom-built remote code
        execution engine, 'Showdown,' which is integrated into the platform for
        testing. Showdown will soon be open-source.
    </p>
    <p>
        Connect with me on
        <a href="https://linkedin.com/in/msc24x" target="_blank">LinkedIn</a>.
        Explore more projects on
        <a href="https://github.com/msc24x" target="_blank">GitHub</a> or visit
        my <a href="https://cambo.in" target="_blank">portfolio</a>.
    </p>

    <h4>How It Works</h4>
    <p>
        Users can sign up with GitHub for a free account and start creating
        competitions. Along with competition metadata and scheduling
        information, you can add questions to your contest. Hosts can add as
        many questions as they like, each consisting of a statement, sample test
        cases, and final test cases. Questions can have positive and negative
        marking according to your requirements.
    </p>
    <p>
        Participants can prepare on the compete page, where all public
        competitions appear. Anyone can join live competitions, submit their
        code, test it against samples, and track their performance.
    </p>
    <p>
        Submissions are evaluated by Hunter's online judge, which detects the
        language, compiles the code, and tests it against the provided test
        cases. This process is powered by the homegrown execution engine
        'Showdown,' currently in the testing phase and soon to be open-source.
        Results are displayed on a live scoreboard during the competition.
    </p>

    <h4>Open Source</h4>
    <p>
        Hunter is open-source and available on
        <a href="https://github.com/msc24x/hunter" target="_blank">GitHub</a>.
        Development will continue as time permits, and contributions are always
        welcome.
    </p>

    <h4>Donate</h4>
    <p>
        Hunter is an open-source project funded entirely by myself. As we do not
        generate revenue from this project, your donations can help keep it
        alive. Please visit
        <a href="https://donate.cambo.in">donate.cambo.in</a> to contribute.
    </p>
</div>
