@use "../../../assets/fonts";
@use "../../../assets/colors";
@use "../../../assets/mixins" as *;

#dialog_box{
  @include popup;
}

#dialog{
  background-color: white;
  margin-inline: auto;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  //box-shadow: 0 0 9000px 9000px rgba(0, 0, 0, 0.295);
  box-shadow: 0 50px 9000px 9px rgba(0, 0, 0, 0.295);

  p.h1{
    font-family: appFont;
    font-weight: bold;
    color: colors.$text_black;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
  }

  p.h2{
    font-family: appFont;
    font-weight: normal;
    color: colors.$text_black;
    width: 100%;
    text-align: left;
    padding-top: 1rem;
    padding-left: 20px;
    font-size: 1rem;
  }

  p.error{
    font-family: appFont;
    font-weight: normal;
    color: colors.$error;
    text-align: left;
    padding: 20px;
    padding-top: 0px;
  }

  input{
    @include inputText;
    background-color : colors.$dim_white;
    border-width: 1px;
    margin-inline: 20px;
    margin-top: 0px;
  }

  #create_btn{
    font-family: appFont;
    font-weight: normal;
    font-size: 1.2rem;
    border-width: 0px;
    border-radius: 24px;
    padding: 16px;
    margin : 16px;
  }

  #create_btn:hover{
    background-color: colors.$app_e;
    color: colors.$text_white;
  }

}

#create_btn{
  font-weight: bolder;
  font-family: appFont;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: fit-content;

  #plus_btn{
    background-color: whitesmoke;
    width: 55px;
    height: 55px;
    font-size: 24px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
#create_btn:hover{
  cursor: pointer;
  animation-name: outline;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  //box-shadow: 2px 2px 15px 1px #00000044;

}


@keyframes outline {
  100%{
    transform: scale(1.1);
  }
}
