@use "../../../assets/fonts";
@use "../../../assets/colors";
@use "../../../assets/mixins" as *;


#create_dialog_popup{
  
  .error{
    font-family: appFont;
    font-weight: normal;
    color: colors.$error;
    text-align: left;
    padding-top: 0px;
  }
  p{
    color: gray;
    font-size: 1rem;
    max-width: 512px;
  }

  textarea{
    @include appTextArea;
    margin-top: 24px;
    margin-left: 0px;
    width: 90%;
  }

  #create{
    font-family: appFont;
    font-size: 1.2rem;
    border-radius: 24px;
    border-width: 0px;
    width: 100%;
    background-color: whitesmoke;
    padding : 16px;
    margin-top: 24px;
  }

  #create:hover{
    background-color: white;
  }

}

#create_btn{
  font-weight: bolder;
  font-family: appFont;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: fit-content;
  cursor: pointer;

  #plus_btn{
    background-color: whitesmoke;
    width: 55px;
    height: 55px;
    font-size: 24px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
#create_btn:active{
  cursor: pointer;
  animation-name: outline;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  //box-shadow: 2px 2px 15px 1px #00000044;
}

#create_btn:hover{
  #plus_btn{
    animation-name: elivate;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}

@keyframes elivate {
  100%{
    transform: scale(1.1);
    background-color: black;
    color : whitesmoke;
  }
}

@keyframes outline {
  100%{
    transform: scale(0.9);
    opacity: 0;
  }
}
