@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;
@use "../../../../assets/fonts";

.full-app-page {
    margin: auto;
    display: flex;
    gap: 5rem;
}

.community-details {
    width: 100%;
    max-width: 32rem;

    .logo {
        width: 100%;
        max-width: 32rem;
        height: 18rem;
        border-radius: 2rem;
        overflow: hidden;
        @include sweetBorder;

        img {
            height: inherit;
            width: inherit;
            object-fit: cover;
        }
    }

    .app-settings {
        @include blackBack;
    }
}

.panel {
    width: 100%;
}

.membership-requests {
    .request {
        @include blackBack;

        .user-info {
            font-size: 1.15rem;
            font-weight: bold;
        }

        .actions {
            display: flex;
            flex-wrap: nowrap;
            justify-content: end;
        }
    }
}
