<app-loading *ngIf="loading"></app-loading>

<div id="competitions_list">
    <div *ngIf="invitedList?.length">
        <h1>Invitations for you</h1>
        <p class="info-like sticky">
            Private contests where you have been invited to participate
        </p>

        <div class="invited-container">
            <competition-card
                *ngFor="let com of invitedList"
                [com]="com"
                [route]="route"
                [showDesc]="false"
                [shortTitle]="true"
            ></competition-card>
        </div>
    </div>

    <h1>{{ this.heading }}</h1>

    <div class="competitions-block">
        <div id="filter_controls">
            <div class="filters-heading">Filters</div>

            <div>
                <label for="status_select">Search</label>
                &nbsp; &nbsp; &nbsp;
                <input
                    id="query_input"
                    type="text"
                    class="small"
                    [(ngModel)]="query"
                    (input)="updateList()"
                />
            </div>

            <div>
                <label for="status_select">Live Status</label>
                <select
                    id="status_select"
                    Name="Live Status"
                    (change)="updateLiveStatus($event)"
                >
                    <option value="all" [defaultSelected]="true">All</option>
                    <option value="upcoming">Upcoming</option>
                    <option value="live">Live</option>
                    <option value="always">Always Live</option>
                </select>
            </div>

            <div>
                <label for="order_select">Order By</label>
                <select id="order_select" (change)="updateOrderBy($event)">
                    <option value="">Any</option>
                    <option value="desc" [defaultSelected]="true">
                        Latest
                    </option>
                    <option value="asc">Oldest</option>
                </select>
            </div>
        </div>
        <ul id="competitions_ol">
            <create-dialog *ngIf="showBuildButton"></create-dialog>

            <li *ngFor="let com of this.competitionsList">
                <competition-card
                    [com]="com"
                    [showAuthor]="showAuthor"
                    [route]="route"
                ></competition-card>
            </li>

            <li *ngIf="!loading && competitionsList !== null">
                <br />
                <div id="list_end">No more competitions available!</div>
            </li>
            <li *ngIf="loading || competitionsList === null">
                <br />
                <spinner></spinner>
                <div id="list_end">Loading competitions...</div>
            </li>
        </ul>
    </div>
</div>
