<app-loading *ngIf="loading"></app-loading>

<div id="competitions_list">
    <p class="heading">{{ this.heading }}</p>

    <div class="competitions-block">
        <div id="filter_controls">
            <div class="filters-heading">Filters</div>

            <div>
                <label for="status_select">Search</label>
                &nbsp; &nbsp; &nbsp;
                <input
                    id="query_input"
                    type="text"
                    class="small"
                    [(ngModel)]="query"
                    (input)="updateList()"
                />
            </div>

            <div>
                <label for="status_select">Live Status</label>
                <select
                    id="status_select"
                    Name="Live Status"
                    (change)="updateLiveStatus($event)"
                >
                    <option value="all" [defaultSelected]="true">All</option>
                    <option value="upcoming">Upcoming</option>
                    <option value="live">Live</option>
                    <option value="always">Always Live</option>
                </select>
            </div>

            <div>
                <label for="order_select">Order By</label>
                <select id="order_select" (change)="updateOrderBy($event)">
                    <option value="">Any</option>
                    <option value="desc" [defaultSelected]="true">
                        Latest
                    </option>
                    <option value="asc">Oldest</option>
                </select>
            </div>
        </div>
        <ul id="competitions_ol">
            <create-dialog *ngIf="showBuildButton"></create-dialog>

            <li *ngFor="let com of this.competitionsList">
                <div
                    class="competition_card"
                    routerLink="/{{ this.route }}/{{ com.id }}"
                >
                    <div id="c_title" [ngClass]="{ 'untitled': !com.title }">
                        {{ com.title || "untitled" }}
                    </div>
                    <div *ngIf="!showAuthor" class="info-like">
                        Created
                        {{ com.created_at | timeAgo }}
                    </div>
                    <div
                        id="c_host_user"
                        routerLink="/u/{{ com.host_user_id }}"
                    >
                        <ng-template #authorElem>
                            By
                            <user-display
                                [userInfo]="com.host_user"
                            ></user-display>
                            &nbsp;
                            <span
                                *ngIf="com.host_user_id == 1"
                                matTooltip="Official by Hunter"
                            >
                                <fa-icon
                                    [icon]="officialIcon"
                                    style="color: crimson"
                                ></fa-icon>
                            </span>
                        </ng-template>

                        <ng-container
                            [ngTemplateOutlet]="authorElem"
                            *ngIf="showAuthor"
                        ></ng-container>
                        <span
                            *ngIf="!com.public"
                            matTooltip="Private, only visible to you"
                        >
                            <fa-icon
                                [icon]="privateIcon"
                                style="color: crimson"
                            ></fa-icon>
                            &nbsp;
                            <span style="color: crimson"> Private </span>
                        </span>
                    </div>
                    <div class="detail-tag cute-panel" *ngIf="com.practice">
                        For Practice Only
                    </div>
                    <div
                        id="start_schedule"
                        class="detail-tag"
                        [ngClass]="
                            (com.scheduled_at
                            | isLiveStatusPipe : com.scheduled_end_at)
                                ? 'live'
                                : ''
                        "
                    >
                        <span
                            *ngIf="
                                (com.scheduled_at || com.scheduled_end_at) &&
                                !isClosedNow(com)
                            "
                        >
                            <span *ngIf="!isAfterNow(com.scheduled_at)">
                                Not open yet,
                                {{
                                    (com.scheduled_at | timeAgo : true).replace(
                                        "ago",
                                        "left"
                                    )
                                }}
                            </span>
                            <span *ngIf="isAfterNow(com.scheduled_at)">
                                {{
                                    com.scheduled_at
                                        ? "Live Since"
                                        : "Live, closing in"
                                }}
                                {{
                                    com.scheduled_at
                                        ? (com.scheduled_at | timeAgo).replace(
                                              "ago",
                                              ""
                                          )
                                        : (
                                              com.scheduled_end_at
                                              | timeAgo : true
                                          ).replace("ago", "")
                                }}
                            </span>
                        </span>
                        <span
                            *ngIf="!com.scheduled_at && !com.scheduled_end_at"
                        >
                            Always Live
                        </span>
                        &nbsp;
                        <span *ngIf="isClosedNow(com)">
                            <b>Submissions Closed</b>
                        </span>
                    </div>
                    <div
                        *ngIf="
                            com.scheduled_end_at &&
                            !isClosedNow(com) &&
                            isAfterNow(com.scheduled_at)
                        "
                        class="detail-tag"
                    >
                        {{ timeLeft(com.scheduled_end_at, timeLeftFlag) }} left
                    </div>
                    <p id="c_about" *ngIf="com.description">
                        {{ com.description }}
                    </p>
                </div>
            </li>

            <li *ngIf="!loading && competitionsList !== null">
                <br />
                <div id="list_end">No more competitions available!</div>
            </li>
            <li *ngIf="loading || competitionsList === null">
                <br />
                <div id="list_end">Loading competitions...</div>
            </li>
        </ul>
    </div>
</div>
