@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#filter_controls {
    flex-wrap: wrap;
    align-items: stretch;
    font-size: 1.1rem;
    flex-basis: 20%;
    display: flex;
    margin-top: 0.4rem;
    justify-content: stretch;
    background-color: colors.$dim_white;
    border-radius: 1rem;
    margin: 0.3rem;
    padding: 1rem;
    position: sticky;
    top: 2rem;
    @include sweetBorder;

    .filters-heading {
        font-size: 1.5rem;
        font-weight: 500;
    }

    #query_input {
        width: 100%;
    }

    select {
        margin-left: 4px;
        border-radius: 0.7rem;
        border-width: 0px;
        padding: 8px;
        padding-inline: 16px;
        background-color: whitesmoke;
        color: colors.$text_black;
        @include sweetBorder();
    }

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 0.3rem;
    }
}

.heading {
    font-weight: normal;
    color: colors.$text_black;
}

#competitions_list {
    padding-bottom: 24px;
    border-radius: 12px;
}

@media only screen and (max-width: 1024px) {
    #competitions_list {
        margin-inline: 0.5%;
    }
    .flex_container {
        justify-content: center;
    }
    #create_btn {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 620px) {
    .competition_card {
        font-size: 0.8rem;

        #c_title {
            font-size: 1.1rem;
        }
    }

    s {
        font-size: 1rem;
    }

    .competitions-block {
        flex-wrap: wrap;
    }

    #competitions_ol,
    #filter_controls {
        flex-basis: unset !important;
    }

    #filter_controls {
        font-size: 0.8rem;
        position: initial;

        .filters-heading {
            font-size: 1rem;
        }
    }

    .heading {
        font-size: 1.4rem !important;
    }
}

@media only screen and (max-width: 500px) {
    .competition_card {
        font-size: 0.8rem;

        #c_title {
            font-size: 0.9rem;
        }
    }
}

#list_end {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 1rem;
}

#competitions_list p.heading {
    margin-inline: 16px;
    padding-top: 12px;
    font-size: 2rem;
    font-weight: bolder;
}

.competitions-block {
    display: flex;
    align-items: start;
    gap: 3rem;
}

#competitions_ol {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    scroll-behavior: smooth;
    flex-basis: 80%;
    width: 100%;

    li {
        border-width: 2px;
        border-color: black;
    }
}

.competition_card {
    display: block;
    color: inherit;
    margin-bottom: 0.5rem;
    padding: 16px;
    border-radius: 1rem;
    border-color: black;
    border-width: 110px;
    height: fit-content;
    background-color: colors.$dim_white;
    margin-inline: auto;
    max-width: 62rem;
    transition: 200ms;
    cursor: pointer;
    @include sweetBorder();

    &:hover {
        box-shadow: 0 1rem 2rem -2rem black;
        transform: translateY(-0.2rem);
    }

    &:active {
        scale: 0.99;
    }

    .detail-tag {
        background-color: rgba(128, 128, 128, 0.1);
        border-radius: 0.6rem;
        margin-block: 0.3rem;
        padding: 4px;
        padding-inline: 8px;
        margin-right: 4px;
        width: fit-content;
        display: inline-flex;
        @include sweetBorder;

        &.live {
            color: crimson;
            border-color: crimson;
            background-color: colors.$ls;
        }
    }
}

#c_title {
    font-weight: 500;
    word-break: break-word;
    font-size: 1.3rem;
    color: colors.$text_black;

    &.untitled {
        opacity: 0.3;
    }
}
#c_host_user {
    margin-left: 4px;
    margin-top: 6px;
    padding: 4px;
    width: fit-content;
    display: block;
    color: inherit;
}

#c_about {
    word-break: break-word;
    color: rgb(24, 24, 24);
}
