<app-loading *ngIf="loading"></app-loading>

<div id="competitions_list">
    <div class="row">
        <p class="heading">{{ this.heading }}</p>
        <div id="filter_controls">
            <text-input
                id="title_input"
                title="Search"
                (onChangeEvent)="query = $event; updateList()"
            ></text-input>

            <div>
                <label for="status_select">Live Status</label>
                <select
                    id="status_select"
                    Name="Live Status"
                    (change)="updateLiveStatus($event)"
                >
                    <option value="all" [defaultSelected]="true">All</option>
                    <option value="upcoming">Upcoming</option>
                    <option value="live">Live</option>
                    <option value="always">Always Live</option>
                </select>
            </div>

            <div>
                <label for="order_select">Order By</label>
                <select id="order_select" (change)="updateOrderBy($event)">
                    <option value="">Any</option>
                    <option value="desc" [defaultSelected]="true">
                        Latest
                    </option>
                    <option value="asc">Oldest</option>
                </select>
            </div>
        </div>
    </div>

    <ul id="competitions_ol">
        <li *ngFor="let com of this.competitionsList">
            <div
                class="competition_card"
                routerLink="/{{ this.route }}/{{ com.id }}"
            >
                <div id="c_title">{{ com.title }}</div>
                <div id="c_host_user">
                    By
                    {{ com.host_user?.name || "Anonymous" }}
                    <span *ngIf="com.host_user_id != '1'">
                        #{{ com.host_user_id }}
                    </span>
                    &nbsp;
                    <span
                        *ngIf="com.host_user_id == '1'"
                        matTooltip="Official competition by Hunter"
                    >
                        <fa-icon [icon]="officialIcon"></fa-icon>
                    </span>

                    &nbsp;
                    <span
                        *ngIf="!com.public"
                        matTooltip="Private competition, only visible to you"
                    >
                        <fa-icon [icon]="privateIcon"></fa-icon>
                    </span>
                </div>
                <div
                    id="start_schedule"
                    class="detail-tag"
                    [style.color]="
                        (com.scheduled_at | isLiveStatusPipe : com.duration)
                            ? '#D2122Ebb'
                            : 'colors.$text_black'
                    "
                >
                    <span
                        [matTooltip]="com.scheduled_at.toLocaleString()"
                        *ngIf="com.duration !== 0 && !isClosedNow(com)"
                    >
                        Live from
                        {{ com.scheduled_at | date : "MMM d, h:mm a" : "IST" }}
                    </span>
                    <span *ngIf="com.duration === 0"> Always Live </span>
                    &nbsp;
                    <span *ngIf="isClosedNow(com)">
                        <b>Submissions Closed</b>
                    </span>
                </div>
                <div
                    *ngIf="
                        com.duration !== 0 &&
                        !isClosedNow(com) &&
                        isAfterNow(com.scheduled_at)
                    "
                    class="detail-tag"
                >
                    {{ timeLeft(com, timeLeftFlag) }} mins left
                </div>
                <br />
                <p id="c_about">{{ com.description }}</p>
            </div>
        </li>

        <li *ngIf="!loading && competitionsList !== null">
            <div id="list_end">No more competitions available!</div>
        </li>
        <li *ngIf="loading || competitionsList === null">
            <div id="list_end">Loading competitions...</div>
        </li>
    </ul>
</div>
