@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#filter_controls {
    font-size: 1.1rem;
    flex-basis: 30%;
    margin-top: 0.4rem;
    background-color: colors.$dim_white;
    border-radius: 1rem;
    margin: 0.3rem;
    padding: 1rem;
    position: sticky;
    top: 2rem;
    @include sweetBorder;

    .filters-heading {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    #query_input {
        width: calc(100% - 1rem);
    }

    select {
        border-radius: 0.7rem;
        border-width: 0px;
        padding-inline: 8px;
        height: 2rem;
        background-color: whitesmoke;
        color: colors.$text_black;
        @include sweetBorder();
    }

    & > div {
        margin-top: 1rem;
    }

    .inline-setting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

.heading {
    font-weight: normal;
    color: colors.$text_black;
}

#competitions_list {
    padding-bottom: 24px;
    border-radius: 12px;
}

.invited-container {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;

    competition-card {
        padding-top: 0.2rem;
        width: 23rem;
        min-width: 23rem;
    }
}

@media only screen and (max-width: 1024px) {
    #competitions_list {
        margin-inline: 0.5%;
    }
    .flex_container {
        justify-content: center;
    }
    #create_btn {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 620px) {
    s {
        font-size: 1rem;
    }

    .competitions-block {
        flex-wrap: wrap;
    }

    .invited-container {
        competition-card {
            width: 16rem;
            min-width: 16rem;
        }
    }

    #competitions_ol,
    #filter_controls {
        flex-basis: unset !important;
        width: 100%;
    }

    #filter_controls {
        font-size: 0.8rem;
        position: initial;

        .filters-heading {
            font-size: 1rem;
        }
    }

    .heading {
        font-size: 1.4rem !important;
    }
}

#list_end {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 1rem;
}

#competitions_list p.heading {
    margin-inline: 16px;
    padding-top: 12px;
    font-size: 2rem;
    font-weight: bolder;
}

.competitions-block {
    display: flex;
    align-items: start;
    gap: 3rem;
}

#competitions_ol {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    scroll-behavior: smooth;
    flex-basis: 80%;
    width: 100%;

    li {
        border-width: 2px;
        border-color: black;
    }
}
