<div class="appBar">
  <div id="app_title">HUNTER_
    <button *ngIf="showRegisterBtn" id = "register_btn" routerLink="/register">SIGN UP</button>
  </div>
  <a id="navBarBtn" (click)="toggleNavBar()">
    <div id="navBarCompact">
      <ul>
        <li routerLink="/home">
          HOME
        </li>
        <li routerLink="/compete">
          COMPETITIONS
        </li>
        <li>
          CONTACT
        </li>
        <li>
          ABOUT
        </li>
      </ul>
    </div>HUNT
  </a>

  <div id = "navBar">
    <ul>
      <li routerLink="/home">
        HOME
      </li>
      <li routerLink="/compete">
        COMPETITIONS
      </li>
      <li>
        CONTACT
      </li>
      <li>
        ABOUT
      </li>
    </ul>
  </div>
</div>
