div {
    position: fixed;
    top: 0px;
    left: 0px;
    transition: height 10ms;
    width: 100%;
    height: 3px;
    opacity: 0.6;
    background-color: rgb(146, 173, 21);
    animation-name: loading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    box-shadow: 0 20px 90px 9px rgba(0, 0, 0, 0.8);
}

@keyframes loading {
    0% {
        background-color: #393cff;
    }
    20% {
        background-color: #009cbd;
        height: 3px;
    }
    40% {
        background-color: #ffc549;
        height: 12px;
        opacity: 0.4;
    }
    60% {
        background-color: #b645eb;
        height: 3px;
    }
    80% {
        background-color: #9be833;
    }
    100% {
        background-color: #393cff;
    }
}
