:host {
    --shadow-color: rgb(219, 173, 182);
}

div {
    position: fixed;
    top: 0px;
    left: 0px;
    transition: all 10ms;
    width: 100%;
    height: 3px;
    opacity: 0.9;
    z-index: 5000;
    background-color: rgb(146, 173, 21);
    animation-name: loading;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    &.blur {
        scale: 1.5;
        filter: blur(1rem);
    }
}

@keyframes loading {
    0% {
        background-color: #393cff;
    }
    20% {
        background-color: #009dbd7c;
        height: 3px;
    }
    40% {
        background-color: rgba(216, 39, 75, 0.8);
        height: 10px;
    }
    60% {
        background-color: #b645eb;
        height: 3px;
    }
    80% {
        background-color: #6abc00;
    }
    100% {
        background-color: #393cff;
    }
}
