@use "../../../../assets/mixins" as *;
@use "../../../../assets/colors";

#settings_label {
    gap: 2rem;
    align-items: center;
    margin: 0.5rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#user_info {
    #user_info_h {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 8px;
    }

    table {
        td {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    overflow-x: scroll;
    max-width: 350px;
    font-size: 1rem;
    padding: 16px;
    margin: 8px;
    background-color: antiquewhite;
    border: 1px solid rgb(179, 112, 26);
    border-radius: 24px;
}

@media only screen and (max-width: 900px) {
    create-dialog {
        margin-inline: auto;
    }

    .cards-row {
        .dashboard-cards {
            flex-wrap: nowrap;
            overflow: scroll;
            width: 100%;
            justify-content: start;
        }
    }
}

@media only screen and (max-width: 620px) {
    #user_name_input {
        width: 150px !important;
    }

    #label {
        font-size: 1.1rem !important;
    }
}
