<app-bar></app-bar>
<app-loading *ngIf="loading !== 0"></app-loading>

<popup
    id="edit_profile_popup"
    [showControls]="false"
    heading="Manage Profile"
    (closeEvent)="showEditProfileForm(false)"
>
</popup>

<div id="settings_label" class="flex-row justify-sb wrap">
    <h1>Your Workbench</h1>
    <profile-card [controls]="true" [user]="user"></profile-card>
</div>

<div class="row cards-row">
    <div class="flex-row align-stretch wrap justify-center dashboard-cards">
        <dashboard-card
            title="{{ competitionsMetaData.total }}"
            message="Total Competitions Built"
        ></dashboard-card>
        <dashboard-card
            title="{{ competitionsMetaData.live }}"
            message="Competitions Live Right Now"
        ></dashboard-card>
        <dashboard-card
            title="{{ competitionsMetaData.public }}"
            message="Number of Public Competitions"
        ></dashboard-card>
    </div>
</div>

<competitions-list
    heading="Your Competitions"
    route="editor"
    [includeSelf]="true"
    [showAuthor]="false"
    [competitionsList]="this.userCompetitions"
    [showBuildButton]="true"
></competitions-list>
