<app-bar></app-bar>

<app-loading *ngIf="loading"></app-loading>

<popup
  title="Destructive Action"
  id="delete_comp_popup"
  (closeEvent)="handleDeleteCompPopupEvent($event)"
  [showControls]="false"
  [destructive]="true"
>
Deleting the competition is an irreversible operation. All the data
associated with it will be immediately lost forever and users will no longer be able to
see or participate in it.<br>
Remember : If you do not want others to see this competition, you can always
make it private instead of deleting.<br><br>
<b>Enter the current competition code</b>
<input type="text" id="input_competition_code">
<div class="red">{{deleteCompMessage}}</div>
<div id="delete_competition_btn_popup" (click)="deleteCompetition()">Delete</div>
</popup>

<popup
  title="Guide"
  id="guide"
  (closeEvent)="handleGuidePopupEvent($event)"
>

  <b>Saving</b> <br><br>
  Always remember to save your changes by clicking the button SAVE CHANGES in
  the bottom bar. You can also trigger this functionality by keyboard shortcut
  Shift + S
  <br><br><br>

  <b>Duration</b> <br><br>
  If you wish to set your competition live forever, set the duration to 0.
  This practically gives unlimited time to participants.
  <br><br><br>

  <b>Visibility controller</b> <br><br>
  The button next to Rating bounces between two values, PUBLIC and PRIVATE.
  This is essential for the visibility of your competition. Even if the 
  competition has been set to live due to the Schedule, a PRIVATE competition
  would still not be accessible to the users. <br>
  Moreover, a public competition would appear on the Compete page of the website,
  which further will only show questions if and only if it is live.
  <br><br><br>

  <b>Questions List</b> <br><br>
  To see or edit questions' related data, a question must be selected
  from the list. All operations such as Add, Save & Delete would unselect
  the question to avoid confusion.<br>
  Note that the Save button in the list only saves the changes made to the question.
  Though the Save Changes in bottom bar saves all changes.<br>
  It is a must to acknowledge that the questions added would not have any specific order.
  The index numbers in list is only for frontend purposes. Only question IDs 
  distinguish between them.
  <br><br><br>

  <b>Latex in Question Statement</b> <br><br>
  You can write Latex expressions in Question Statement wrapped with dollar signs ($)<br>
  For example,<br> write $\sqrt{{'{'}}p+q{{'}'}}$<br><br>
  It would be rendered as <br>
  <ng-katex data="$\sqrt{p+q}$"></ng-katex> <br>
  To learn more about the syntax, refer
  <a href="https://katex.org/docs/support_table.html" target="_blank"><ng-katex data="$\KaTeX$"></ng-katex></a> 
  <br><br><br>

  <b>Guidelines for setting questions</b><br><br>
  The online judge for Hunter accepts the user's code as a black box.
  Test cases file is given as an input and the output is compared with your solutions file.<br>
  The questions that would require the participants to complete a part of
  the code is currently not supported. Hence, it is advised to keep your
  questions' format as simple input-output style.<br><br>
  e.g. test cases file<br>
  2<br>
  1 2 3<br>
  4 5 6<br>
  solutions file<br>
  6<br>
  15<br>
  <br><br><br>

  <b>Uploading files</b><br><br>
  Only text files with less than 1.5Mb size are acceptable<br>
  It is encouraged as it necessary to format your test cases and solutions file
  correctly. Always check those files against your correct code.<br>
  It is the question setter's responsibility to verify the legitimacy of the
  test cases and reliability of the solutions.
  <br><br><br>

  <b>Points</b><br><br>
  This is the question points that would be accumulated in the total score of the
  participants. The score is given if and only if they pass all the test cases.
  <br><br><br>

  <b>Deleting the competition</b><br><br>
    <div id="delete_competition_btn" (click)="showPopup(true, 'delete_comp_popup'); showPopup(false, 'guide');">
      Delete Competition
    </div>
  <br><br><br>
  
  </popup>

<popup
  title="Confirmation"
  id="public_status_confirm"
  (closeEvent)="handlePrivacyConfirmPopupEvent($event)"
>
  Are you sure to set this competition's visibility to public?
</popup>

<div class="row_flex" style="margin-top: 16px; ">

  <div class="vertical_flex">
    <div id = "desc_label">Competition Description</div>
      <textarea maxlength="456" rows="7" id="text_description">{{this.competitionInfo.description}}</textarea>
  </div>

  <div class="vertical_flex">
    <div class="vertical_flex">
      <div id = "title_label">Competition Title</div>
      <textarea maxlength="120" rows="7" id="text_title">{{this.competitionInfo.title}}</textarea>
    </div>
  </div>

  <div class="vertical_flex" style="align-items: stretch;">

    <div id="duration_label">Duration (minutes)</div>
    <input type="number" min="0" id = "competition_duration"[value]="competitionInfo.duration" >

    <div id="schedule_label">Set Live on schedule</div>
    <input type="datetime-local" id = "competition_schedule" [value]="competitionInfo.start_schedule | date : 'yyyy-MM-ddTHH:mm'">

    <div id ="visbility_controller">
      <div id="id">
        Code : <b>{{competition_id}}</b>
      </div>
      <div id="rating">Rating : <b>{{this.competitionInfo.rating}}</b></div>
      <div id="visibility" (click)="onClickVisibility()">PUBLIC</div>
    </div>

    <div id="created_on">
      {{this.competitionInfo.created_on | date : 'medium'}}
    </div>

  </div>

</div>

<app-info-card (click)="showPopup(true, 'guide')" >Before you set up your contest and define the questions! It is highly recommended to take a look at the guide.</app-info-card>

<questions-list
  [competitionInfo]="competitionInfo"
  [questionsList]="this.competitionQuestions"
  (messageEmitter)="displayLog($event)"
  (questionSelectEmitter)="selectQuestion($event)"
  (saveClicked)="saveQuestion()"
  (fetchRequired)="fetchQuestions()"
  [(questionSelected)]="questionSelected"
>
</questions-list>


<div class="vertical_flex" id="question_editor">
<div id = "question_id">Question ID : {{this.questionSelectedInfo.id || "(No Question Selected)"}}</div>

 <div id="qtitle_label">
   Title
 </div>
  <textarea id = "text_qtitle" maxlength="150" rows="4" [value]="questionSelectedInfo.title"></textarea>

  <div class="flex">
    <div id="qstatement_label">
      Statement
    </div>
    <div id="toggle_preview_btn" (click)="togglePreview()">
      {{ preview_mode? "LaTeX" : "Preview" }}
    </div>
  </div>
 
 <textarea [hidden]="preview_mode" id = "text_statement" maxlength="2048" rows="15" [value]="questionSelectedInfo.statement"></textarea>
 <ng-katex *ngIf="preview_mode" id="text_statement_preview" [data]="questionSelectedInfo.statement"></ng-katex>


 <div class="flex" id="sample_test_cases">
   <div class="vertical_flex">
     <div id="sample_cases_label">
      Sample Tests Cases
     </div>
     <textarea id = "question_sample_cases" maxlength="250" rows="4" [value]="questionSelectedInfo.sample_cases"></textarea>
   </div>
  
   <div class="vertical_flex">
     <div id="sample_sols_label">
       Solution to the samples
      </div>
      <textarea id = "question_sample_sols" maxlength="250" rows="4" [value]="questionSelectedInfo.sample_sols"></textarea>
   </div>
 </div>

 

 <div class="row_flex">

  <label id ="testcases_file_label" class = "file_input" for="testcases_file">
    Upload test cases test file...
  </label>
  <input class = "file_input" (change)="updateFile($event, 'TestCases')" id = "testcases_file" type="file" >
  <a *ngIf="testExists" id = "testcases_download" (click)="downloadFile('testcases')">View TestCases</a>


  <label id = "solutions_file_label" class = "file_input" for="solutions_file">
    Upload test solutions file...
  </label>
  <input class = "file_input" id = "solutions_file" type="file" (change)="updateFile($event, 'Solutions')">
  <a *ngIf="solsExists" id = "solutions_download" (click)="downloadFile('solutions')">View Solutions</a>

  <div id="question_points_lbl">Set Points <input id="question_points" type="number" min="0" [value]="questionSelectedInfo.points" ></div>

  
</div>



</div>

<div class = "row_flex" id="controls">
  <!--button (click)="refreshCompetitionInfo()">RESET UNSAVED CHANGES</button -->
  <button (click)="this.saveChanges()">SAVE CHANGES</button>
  <button (click)="showPopup(true, 'guide')">GUIDE</button>
  <div id = "log" (click)="showLog()">Welcome!</div>
</div>