@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

popup {
    display: none;
}

.red {
    color: darkred;
}

.appTextInput {
    @include appTextArea;
}

.page-section {
    width: 100%;
    display: flex;
    max-width: 1450px;
    gap: 2rem;
    margin-inline: auto;

    .section-side {
        width: 23%;

        .meta-section {
            @include basicBack;
            background-color: whitesmoke;
            border-radius: 2rem;
            height: fit-content;
            padding-bottom: 1.5rem;
        }
    }

    .section-content {
        width: calc(77% - 2rem);
        flex-shrink: 1;
    }

    @media screen and (max-width: 1080px) {
        .section-side {
            width: 40%;
        }

        .section-content {
            width: calc(60% - 2rem);
        }
    }

    @media screen and (max-width: 840px) {
        & {
            flex-wrap: wrap;
        }

        .section-side {
            width: 100%;
        }

        .section-content {
            width: 100%;
        }
    }
}

.full-input {
    width: calc(100% - 32px);
    margin-inline: 0;
}

.participant-link {
    background-color: papayawhip;
    display: flex;
    border-radius: 1rem;
    width: calc(100% - 32px);
    justify-content: space-between;
    color: brown;
    @include sweetBorder();
    border-color: burlywood;
    align-items: center;
    padding: 16px;
    padding-inline: 16px;
    cursor: pointer;
    transition: 100ms;
    gap: 0.4rem;
}

.insight-details {
    border-radius: 16px;
    cursor: pointer;
    background-color: papayawhip;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.view-participation {
    background: aliceblue !important;
    color: #00427c !important;
    border-color: #487094 !important;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
}

.no-question-selected {
    margin-bottom: 12rem !important;
}

#input_competition_code {
    @include appTextArea;
}

#delete_competition_btn_popup {
    font-size: 1.2rem;
    padding: 8px;
    padding-inline: 16px;
    border-radius: 1rem;
    width: fit-content;
    margin: 8px;
    color: white;
    background-color: darkred;
    cursor: pointer;
}

#created_at {
    background-color: whitesmoke;

    font-size: 0.8rem;
    width: fit-content;
    padding: 10px;
    margin-inline: auto;
    border-radius: 0px 0px 1rem 1rem;
}

.question-data {
    @include basicBack;
    background-color: whitesmoke;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 3rem;
    margin-bottom: 8rem;

    .question-type {
        @include blackBack;
        width: fit-content;
        margin-inline: auto;
        margin-top: -2.5rem;
    }
}

#visbility_controller {
    display: flex;
    justify-content: stretch;
    cursor: pointer;
    border-radius: 1rem;
    overflow: hidden;
    font-weight: 600;

    & > div {
        flex-grow: 1;
        white-space: nowrap;
        width: 50%;
        color: whitesmoke;
        padding: 10px;
        text-align: center;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */

        transition: 100ms;

        &:active {
            scale: 1.1;
        }
    }

    .public {
        background-color: crimson;
    }

    .private {
        background-color: rgb(32 113 186);
    }

    &.public {
        .private {
            background-color: #858585;
        }
    }

    &:not(.public) {
        .public {
            background-color: #858585;
        }
    }
}

.quality-warnings {
    @include basicBack;
    background: #ff000010;
    border-color: transparent;
    color: brown;
    margin-top: 1rem;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: fit-content;

    a {
        background-color: transparent;
        color: colors.$text_black;
        width: fit-content;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.row_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.label {
    font-size: 1.1rem;
    text-align: left;
    margin-inline: 6px;
    margin-block: 8px;
    margin-top: 16px;
    color: colors.$text_black;
}

.text-area {
    @include appTextArea;
    font-size: 1rem;
}

#text_title {
    @include appTextArea();
    resize: vertical;
    margin-top: 4px;
}

#text_description {
    @include appTextArea();
    @include hideSrollbar();
    margin-top: 4px;
    resize: vertical;
}

.eval-panel {
    align-items: stretch;

    .sample-cases-container {
        width: 100%;
        display: flex;
        justify-content: stretch;
        justify-content: center;
        align-items: center;
        display: flex;

        & > div {
            flex-grow: 1;
        }

        #sample_cases_label,
        #sample_sols_label {
            font-size: 1rem;
            font-weight: normal;
        }

        textarea {
            @include appTextArea;
            margin: 8px;
            font-family: monospace;
            font-size: large;
            width: calc(100% - 4rem);
        }

        @media screen and (max-width: 720px) {
            flex-wrap: wrap;
        }
    }
}

#controls {
    position: fixed;
    bottom: 0px;
    left: 0px;
    justify-content: space-around;
    align-items: center;
    margin: 0.3rem;
    width: calc(100% - 0.6rem);
    background-color: rgba(193, 193, 193, 0.501);
    backdrop-filter: blur(0.5rem);
    padding-block: 8px;
    z-index: 50;
    border-radius: 1rem;
    flex-wrap: wrap-reverse;
    @include sweetBorder;

    button {
        color: colors.$text_black;
        font-size: 1rem;
        background-color: transparent;
        border-width: 0px;
        padding-inline: 16px;
        min-width: 250px;
        margin: 8px;
        cursor: pointer;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }

    div {
        color: gray;
        min-width: 250px;
        text-align: center;
    }
}

.full-stretch {
    align-items: stretch;
    width: 100%;
    margin-bottom: 120px;
}

.clabel {
    margin-top: 16px;
    font-size: 1.2rem;
    padding: 4px;
    width: 100%;
}

#text_qtitle,
#text_statement {
    @include appTextArea;
    font-size: large;
}

#text_statement,
#text_statement_preview {
    width: 100%;
    width: auto;
    max-height: 42rem;
    resize: vertical;
    overflow-y: scroll;
    font-family: monospace;
}

#text_statement_preview {
    @include appTextArea;
    font-size: 1.05rem !important;
}

label.file_input {
    color: colors.$text_black;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    display: block;
    margin-block: 1rem;
    text-align: center;

    @include sweetBorder();
}

.statement-label-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#toggle_preview_btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    padding-inline-start: 1rem;
    margin-block: 0.5rem;
}

input.file_input {
    display: none;
}

#guide {
    pre {
        @include basicBack;
    }
}

.multiple-choices-panel,
.fill-in-blanks {
    width: 100%;

    .choice {
        display: flex;
        align-items: center;
        gap: 1rem;
        // @include blackBack;
        margin-bottom: 0.5rem;
        height: auto;

        .app-text-area {
            @include appTextArea;
            flex-grow: 1;
            resize: vertical;
        }
    }

    .add-choice {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 1rem;
        margin-inline: auto;
        width: fit-content;
        opacity: 0.7;
        transition: 300ms;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .delete-choice {
        color: darkred;
    }
}

input {
    border-radius: 1rem;
    padding: 8px;
    padding-inline: 16px;
    border-width: 0px;
    margin-inline: 0.3rem;
    font-size: 1.2rem;
    color: colors.$text_black;

    @include sweetBorder();
}

#question_points_lbl,
#question_id {
    font-size: 1.2rem;
    margin: 1rem;
}

.info_text {
    text-align: center;

    color: white;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

#log {
    font-style: italic;
    color: black;
}

#delete_competition_btn {
    font-size: 1rem;
    background-color: #fff0f0;
    color: darkred;
    width: fit-content;
    border: 1px solid darkred;
    border-radius: 24px;
    padding: 8px;
    padding-inline: 16px;
    margin: 4px;
}

#delete_competition_btn:hover {
    cursor: pointer;
}

.questions-list {
    @include blackBack;
    margin-top: 2rem;
}

.editor-first-panel {
    @include blackBack;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.file-uploaders {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 1rem;
    width: 100%;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        padding: 0;
        margin-inline: 0.3rem;
        color: black;
    }

    .solution-code-file {
        #code_file_label {
            height: 5.5rem;
            font-size: larger;
        }

        fa-icon {
            margin-left: 0.3rem;
        }
    }

    .io-files,
    .solution-code-file {
        flex-grow: 1;
    }

    @media screen and (max-width: 720px) {
        flex-wrap: wrap;
    }
}

.marks-section {
}
