<app-bar></app-bar>

<app-loading *ngIf="loading"></app-loading>

<popup
    id="competition-insights"
    heading="Insights"
    [showControls]="false"
    [destructive]="false"
    (closeEvent)="showPopup(false, 'competition-insights')"
>
    <scoreboard
        *ngIf="competitionInfo.id"
        [competition_id]="competitionInfo.id"
        [competitionInfo]="competitionInfo"
        [question_list]="true"
        (metaChange)="scoreMeta = $event"
    ></scoreboard>
</popup>

<popup
    id="code-tester"
    (closeEvent)="showPopup(false, 'code-tester')"
    heading="Verify Participation"
    [showControls]="false"
    [destructive]="false"
    *ngIf="questionSelectedInfo?.type === 0"
>
    <code-tester
        *ngIf="questionSelectedInfo.competition_id && questionSelectedInfo.id"
        [competition_id]="questionSelectedInfo.competition_id"
        [question_id]="questionSelectedInfo.id"
        (lastVerificationChange)="verificationResult = $event"
    ></code-tester>
</popup>

<popup
    id="invite_participants"
    heading="Invite participants"
    [hidden]="!showInviteP"
    (closeEvent)="handleInvitesEvent($event)"
    [showControls]="true"
    [destructive]="false"
    [continueMessage]="'Send invite emails'"
>
    <h3>Email addresses</h3>
    <p>Type or paste in emails below, separated by commas</p>

    <div class="emails-input-container">
        <div class="emails-prev">
            <div *ngFor="let inviteEmail of inviteP.invites" class="email-prev">
                {{ inviteEmail }}
                <span
                    class="rem-temp-email"
                    matTooltip="Remove email"
                    (click)="removeTempEmail(inviteEmail)"
                >
                    <fa-icon [icon]="crossIcon" size="xs"></fa-icon>
                </span>
            </div>
        </div>
        <input
            type="email"
            name="email"
            [(ngModel)]="inviteP.input"
            email
            (input)="handleTempEmail()"
            (blur)="handleTempEmail(true)"
            placeholder="Type emails"
        />

        <manual-error [message]="errors.invites"></manual-error>
    </div>
</popup>

<popup
    heading="Remove Invitee"
    id="delete_invitee"
    [hidden]="!inviteToRemove"
    (closeEvent)="removeInvite($event)"
    [showControls]="true"
    [destructive]="true"
    [continueMessage]="'Yes, remove ' + inviteToRemove?.email"
>
    Invitee <b>{{ inviteToRemove?.email }}</b>
    <span *ngIf="inviteToRemove?.user"
        >(<user-display
            [noAvatar]="true"
            [userInfo]="inviteToRemove!.user"
        ></user-display
        >)</span
    >
    will be removed, and they will not be able to participate in this contest
    anymore.
    <br />
    <br />
    <b>Are you sure you want to continue?</b>
    <br />
</popup>

<popup
    heading="Destructive Action"
    id="delete_comp_popup"
    (closeEvent)="handleDeleteCompPopupEvent($event)"
    [showControls]="false"
    [destructive]="true"
>
    Deleting the competition is an irreversible operation. All the data
    associated with it will be immediately lost forever and users will no longer
    be able to see or participate in it.<br />

    <manual-error
        message="Remember! if you do not want others to see this competition, you can
    always make it private instead of deleting."
    ></manual-error>
    <b>Enter the current competition code ({{ competitionInfo.id }})</b>
    <input type="text" id="input_competition_code" placeholder="Enter code" />
    <manual-error [message]="errors.delete_code"></manual-error>

    <br />
    <br />
    <button class="main danger" (click)="deleteCompetition()">
        Submit, and delete the contest
    </button>
</popup>

<popup
    heading="Guide"
    id="guide"
    (closeEvent)="handleGuidePopupEvent($event)"
    [showControls]="false"
>
    <h3>Meta section</h3>
    <hr />
    <h5>Submissions open at</h5>
    <p>
        Set this as date time at which you would wish your contest to be public,
        with all questions available to see and participate into.
    </p>
    <h5>Submissions close at</h5>
    <p>
        Set this as date time at which you would wish your contest to be closed,
        with all questions hidden. Only scoreboard will be visible to the
        participants; no more submissions will be recorded or evaluated.
    </p>
    <h5>PUBLIC/PRIVATE</h5>
    <p>
        If set to Public, your contest will be shown in the main public
        competitions list. If Private, it won't be visible to anyone, as if it
        does not exists.
    </p>

    <h3>Competition Data</h3>
    <hr />
    <p>
        You can write competition title and description. These will remain
        public even if submissions are not open or have been closed.
    </p>

    <h3>Questions Data</h3>
    <hr />
    <h5>Adding a new question</h5>
    <p>
        Use the "Add" button to create a new question. You can created 4 types
        of questions:
    </p>
    <ol>
        <li>Coding test</li>
        <li>MCQ (Multiple choice question)</li>
        <li>Fill in blank (or Short answer)</li>
        <li>Long answer</li>
    </ol>

    <h5>Editing a question</h5>
    <p>
        Select any question from the question list bar. A new panel will open.
        You can edit all the details of your question there.
    </p>

    <h5>Question statement</h5>
    <p>
        You can not only write plain text into it, but for mathematics questions
        or symbols you can use the LaTeX to write complex symbols. You can click
        Preview to view how your statement will be rendered to the participants.
    </p>
    <p>
        Our LaTeX parser is powered by
        <a href="https://katex.org/docs/support_table.html" target="_blank"
            >Katex (click here to see the guide)</a
        >
    </p>

    <h5>Guidelines for Setting Coding test samples</h5>
    <p>
        The online judge for Hunter accepts the user's code as a black box. A
        test cases file is given as input, and the output is compared with your
        solutions file. Questions requiring participants to complete a part of
        the code are currently not supported. It is advised to keep your
        questions in a simple input-output format.
    </p>
    <p>For example, test cases file:</p>
    <pre>
2
1 2 3
4 5 6
</pre
    >
    Solutions file:
    <pre>
6
15
</pre
    >

    <h3>Saving</h3>
    <hr />
    <p>
        Ensure you save your changes by clicking the "SAVE CHANGES" button in
        the bottom bar. You can also use the keyboard shortcut Shift + S.
    </p>
</popup>

<ng-template #contestWarnings>
    <div *ngIf="quality?.acceptable === false" class="quality-warnings">
        <h3>Please take quality precautions</h3>

        <p *ngIf="quality?.title">
            <manual-error [message]="quality?.title[0]"></manual-error>
        </p>
        <p *ngIf="quality?.description">
            <manual-error [message]="quality?.description[0]"></manual-error>
        </p>
        <p *ngIf="quality?.questions">
            <manual-error [message]="quality?.questions[0]"></manual-error>
        </p>
        <p *ngIf="quality?.questionsAcceptable === false">
            <manual-error
                message="Some of the questions have poor quality, please go through the
            questions with red indicator to view the problems."
            >
            </manual-error>
        </p>
    </div>
</ng-template>

<popup
    heading="Change visibility?"
    id="public_status_confirm"
    (closeEvent)="handlePrivacyConfirmPopupEvent($event)"
    [continueMessage]="'Yes, mark it as public'"
    [destructive]="true"
>
    <manual-error
        message="Are you sure to set this competition's visibility to public? "
    ></manual-error>

    <ng-outlet [ngTemplateOutlet]="contestWarnings"></ng-outlet>

    <h3>Increasing participation</h3>
    <p class="info-like">
        Share your competition link in your class or in your social network to
        make your participants ready.
    </p>
</popup>

<spinner *ngIf="!competitionInfo.id"></spinner>

<div class="page-section" *ngIf="competitionInfo.id">
    <div class="section-side">
        <h2>Meta</h2>

        <div class="meta-section">
            <h3>Visibility</h3>
            <p class="info-like sticky">Set your contest visibility</p>

            <div
                id="visbility_controller"
                ngClass="{{ competitionInfo.visibility }}"
            >
                <div
                    class="private"
                    [ngClass]="{
                        'selected': competitionInfo.visibility == 'PRIVATE'
                    }"
                    (click)="onClickVisibility('PRIVATE')"
                    matTooltip="Visible to no one"
                >
                    <fa-icon
                        [icon]="checkIcon"
                        *ngIf="competitionInfo.visibility == 'PRIVATE'"
                    >
                    </fa-icon>
                    &nbsp; PRIVATE
                </div>
                <div
                    class="invite"
                    [ngClass]="{
                        'selected': competitionInfo.visibility == 'INVITE'
                    }"
                    (click)="onClickVisibility('INVITE')"
                    matTooltip="Visible to only the invited"
                >
                    <fa-icon
                        [icon]="checkIcon"
                        *ngIf="competitionInfo.visibility == 'INVITE'"
                    >
                    </fa-icon>
                    &nbsp; INVITE
                </div>
                <div
                    class="public"
                    [ngClass]="{
                        'selected': competitionInfo.visibility == 'PUBLIC'
                    }"
                    (click)="onClickVisibility('PUBLIC')"
                    matTooltip="Visible to everyone"
                >
                    <fa-icon
                        [icon]="checkIcon"
                        *ngIf="competitionInfo.visibility == 'PUBLIC'"
                    >
                    </fa-icon
                    >&nbsp; PUBLIC
                </div>
            </div>

            <div
                *ngIf="competitionInfo.visibility == 'PUBLIC'"
                class="participant-link"
                (click)="shareAction()"
                matTooltip="Click to share the participation link"
            >
                <span>
                    <fa-icon [icon]="shareIcon" size="lg"></fa-icon>
                </span>
                <span class="link-text"
                    >Share link to the participants, and let the contest
                    begin!</span
                >
            </div>

            <div *ngIf="competitionInfo.visibility == 'INVITE'">
                <h3>Invitees</h3>
                <p class="info-like sticky">
                    {{ competitionInfo.competition_invites?.length || 0 }}
                    people exclusively invited to participate in this
                    competition
                </p>

                <div class="invited-list">
                    <div
                        *ngFor="
                            let invitedObj of competitionInfo.competition_invites
                        "
                        class="invited"
                    >
                        <fa-icon
                            *ngIf="!invitedObj.accepted_at"
                            class="circle-icon"
                            [icon]="circleIcon"
                            size="xs"
                            matTooltip="Invitation sent"
                        ></fa-icon>
                        <fa-icon
                            *ngIf="invitedObj.accepted_at"
                            class="check-icon"
                            [icon]="checkIcon"
                            size="xs"
                            matTooltip="User has accepted the invitation"
                        ></fa-icon>
                        <div
                            [matTooltip]="invitedObj.email"
                            style="display: flex"
                        >
                            <div
                                class="email-text"
                                *ngIf="!invitedObj.accepted_at"
                            >
                                {{ invitedObj.email }}
                            </div>
                            <div *ngIf="invitedObj.accepted_at">
                                <user-display
                                    [noAvatar]="true"
                                    [userInfo]="invitedObj.user"
                                ></user-display>
                            </div>
                        </div>
                        <fa-icon
                            class="remove-icon"
                            [icon]="crossIcon"
                            size="xs"
                            matTooltip="Remove invitee from contest"
                            (click)="inviteToRemove = invitedObj"
                        ></fa-icon>
                    </div>
                </div>

                <div class="button main" (click)="showInviteP = true">
                    Invite participants
                </div>
            </div>

            <h3 style="display: flex; align-items: center">
                Hide Scoreboard? &nbsp; &nbsp;
                <mat-slide-toggle
                    [(ngModel)]="competitionInfo.hidden_scoreboard"
                ></mat-slide-toggle>
            </h3>
            <p class="info-like sticky">
                Enabling it would keep the scoreboard hidden from every
                participant.
                <br />
                (We recommend keeping the scoreboard visible to maintain an
                engaging experience)
            </p>
        </div>

        <div class="meta-section">
            <h3>Schedule</h3>

            <div id="schedule_label" class="label">
                Submissions open at
                <infotip
                    message="When should the competition be visible to read and start accept submissions"
                />
            </div>
            <input
                #scheduleAtInputValue
                type="datetime-local"
                id="competition_schedule"
                class="text-area full-input"
                [value]="utcToDatetimeLocal(competitionInfo.scheduled_at)"
            />
            <div class="info-like sticky">
                <br />
                {{ scheduleAtInputValue.value | prettyDate : undefined : true }}
            </div>
            <div id="schedule_end_label" class="label">
                Reject all submissions after
                <infotip
                    message="When should the competition stop submissions and participation"
                />
            </div>
            <input
                #scheduleEndAtInputValue
                type="datetime-local"
                id="competition_schedule_end"
                class="text-area full-input"
                [value]="utcToDatetimeLocal(competitionInfo.scheduled_end_at)"
            />
            <div class="info-like sticky">
                <br />
                {{
                    scheduleEndAtInputValue.value
                        | prettyDate : undefined : true
                }}
            </div>

            <manual-error
                [message]="contest_errors.scheduled_end_at"
            ></manual-error>

            <ng-template #timeLimitTmpl>
                <h3 style="display: flex; align-items: center">
                    Time Limit &nbsp; &nbsp;
                    <mat-slide-toggle
                        [(ngModel)]="timeLimitEnabled"
                    ></mat-slide-toggle>
                </h3>
                <p class="info-like sticky">
                    Limit how much time should a participant be allowed to spend
                    in this contest?
                </p>

                <div class="duration-picker" *ngIf="timeLimitEnabled">
                    <input
                        type="number"
                        [min]="0"
                        name="hours"
                        [(ngModel)]="timeLimit.hours"
                        (change)="cleanTimeLimits()"
                        (input)="cleanTimeLimits()"
                    />
                    <span>Hours</span>
                    <input
                        [min]="0"
                        [max]="60"
                        type="number"
                        name="mins"
                        [(ngModel)]="timeLimit.mins"
                        (change)="cleanTimeLimits()"
                        (input)="cleanTimeLimits()"
                        [step]="15"
                    />
                    <span>Mins</span>
                </div>

                <manual-error
                    [message]="contest_errors.time_limit"
                ></manual-error>
            </ng-template>

            <ng-outlet
                [ngTemplateOutlet]="timeLimitTmpl"
                *ngIf="!competitionInfo.practice"
            ></ng-outlet>
        </div>

        <div class="meta-section">
            <h3>Insights</h3>

            <div
                class="text-area insight-details cute-panel"
                routerLink="/editor/{{ competitionInfo.id }}/data/insights"
                (click)="showPopup(true, 'competition-insights')"
                *ngIf="scoreMeta"
            >
                <fa-icon
                    [icon]="magicIcon"
                    size="lg"
                    [animation]="'fade'"
                ></fa-icon>
                <span>
                    Insights & evaluations of <br />
                    <b>{{ scoreMeta.total }} hunters</b>, who took part in your
                    contest!
                </span>
            </div>

            <br />

            <a
                class="text-area view-participation cute-panel"
                routerLink="/compete/p/{{ competitionInfo.id }}"
                (click)="showPopup(true, 'competition-insights')"
                *ngIf="scoreMeta"
            >
                <fa-icon [icon]="viewIcon" size="lg"></fa-icon>
                <span> View participation page for your contest </span>
            </a>
        </div>

        <div class="meta-section" *ngIf="ownedCommunities.length">
            <h3>Link Community</h3>
            <mat-select
                placeholder="Add"
                [(ngModel)]="competitionInfo.community_id"
            >
                <mat-option [value]="null">Un-select</mat-option>
                <mat-option *ngFor="let op of ownedCommunities" [value]="op.id"
                    >{{ op.name }}
                    {{
                        op.status === "DISABLED"
                            ? "(Disabled)"
                            : op.status === "NOT_APPROVED"
                            ? "(Rejected)"
                            : op.status === "PENDING_APPROVAL"
                            ? "(Pending Approval)"
                            : ""
                    }}
                </mat-option>
            </mat-select>
            <manual-error
                [message]="contest_errors.community_id"
            ></manual-error>
            <br />
            <br />
            <p class="info-like sticky">
                You can link this competition to a Community created by you.
                Linked competitions will be labeled under the community page.
            </p>

            <div *ngIf="competitionInfo.community_id">
                <h3>
                    Members only? &nbsp; &nbsp;
                    <mat-slide-toggle
                        [(ngModel)]="competitionInfo.community_only"
                    ></mat-slide-toggle>
                </h3>
                <p class="info-like sticky">
                    Enable this to make it visible to only the Community
                    Members, which are Hunter users who have joined the
                    community.
                </p>
            </div>
        </div>
    </div>
    <div class="section-content">
        <ng-outlet [ngTemplateOutlet]="contestWarnings"></ng-outlet>
        <h2>
            Competition
            <span *ngIf="competitionInfo.practice"> (For practice only) </span>
        </h2>

        <p *ngIf="competitionInfo.practice" class="info-like sticky">
            This competition was initialized as a practice contest.
        </p>

        <div class="row_flex editor-first-panel" style="margin-top: 16px">
            <div id="title_label" class="label">Competition Title</div>
            <input
                maxlength="120"
                id="text_title"
                type="text"
                placeholder="Example: University Club Tie-breaker Challenge"
                [(ngModel)]="competitionInfo.title"
            />
            <div id="desc_label" class="label">Competition Description</div>
            <textarea
                maxlength="456"
                rows="5"
                id="text_description"
                placeholder="Example: This challenge consists of ...."
                [(ngModel)]="competitionInfo.description"
            ></textarea>
        </div>

        <br />
        <br />
        <h2>
            {{ this.competitionInfo.questions?.length || "0" }} Question{{
                this.competitionInfo.questions?.length !== 1 ? "s" : ""
            }}
        </h2>

        <div class="questions-list">
            <questions-list
                [competitionInfo]="competitionInfo"
                [questionsList]="this.competitionInfo.questions || []"
                (messageEmitter)="displayLog($event)"
                (questionSelectEmitter)="selectQuestion($event, true)"
                (saveClicked)="saveQuestion()"
                (fetchRequired)="fetchQuestions(false)"
                [(questionSelected)]="questionSelected"
                [quality]="quality"
                [showHeader]="false"
            >
            </questions-list>
        </div>

        <div
            class="no-question-selected"
            *ngIf="!this.questionSelectedInfo.id"
            id="question_id"
        >
            (No Question Selected)
            <infotip
                *ngIf="!questionSelectedInfo.id"
                message="Please select a question from above to see details"
            />
        </div>
        <div class="question-data" *ngIf="questionSelected !== -1">
            <div class="question-type">
                <ques-type-label
                    [ques_type]="questionSelectedInfo.type"
                ></ques-type-label>
            </div>

            <div
                class="quality-warnings"
                *ngIf="quality?.[questionSelectedInfo.id]?.acceptable === false"
            >
                <h3>Please take quality precautions</h3>
                <p
                    *ngFor="
                        let warning of quality[questionSelectedInfo.id]?.title
                    "
                >
                    <manual-error [message]="warning"></manual-error>
                </p>
                <p
                    *ngFor="
                        let warning of quality[questionSelectedInfo.id]
                            ?.statement
                    "
                >
                    <manual-error [message]="warning"></manual-error>
                </p>
                <p
                    *ngFor="
                        let warning of quality[questionSelectedInfo.id]
                            ?.question_choices
                    "
                >
                    <manual-error [message]="warning"></manual-error>
                </p>

                <p
                    *ngFor="
                        let warning of quality[questionSelectedInfo.id]
                            ?.sample_sols
                    "
                >
                    <manual-error [message]="warning"></manual-error>
                </p>
                <p
                    *ngFor="
                        let warning of quality[questionSelectedInfo.id]
                            ?.question_verifications
                    "
                >
                    <manual-error [message]="warning"></manual-error>
                </p>
            </div>

            <h3 class="clabel">
                <span *ngIf="questionSelectedInfo.type === 0"
                    >Coding task title</span
                >
                <span *ngIf="questionSelectedInfo.type === 1"
                    >Question title</span
                >
                <span *ngIf="questionSelectedInfo.type === 2"
                    >Question title</span
                >
                <span *ngIf="questionSelectedInfo.type === 3">Task title</span>
            </h3>

            <input
                id="text_qtitle"
                maxlength="400"
                type="text"
                [(ngModel)]="questionSelectedInfo.title"
                placeholder="Example: Write a program to flip the string."
            />

            <manual-error [message]="errors.title"></manual-error>

            <div class="statement-label-container">
                <h3 class="clabel">
                    Question statement
                    <!-- <infotip
                        message="The statement body supports Latex by default, learn more about the typesetting at katex.org"
                    ></infotip>
                    <span class="info-like" style="font-size: 0.8rem">
                        <a
                            href="https://katex.org/docs/support_table.html"
                            target="_blank"
                            >(Click here KaTeX guide to write LaTeX)</a
                        >
                    </span> -->
                </h3>
                <!-- <div
                    id="toggle_preview_btn"
                    matTooltip="Click to toggle LaTeX preview"
                    (click)="preview_mode = !preview_mode"
                >
                    Preview
                    <mat-slide-toggle
                        [checked]="preview_mode"
                    ></mat-slide-toggle>
                </div> -->
            </div>

            <textarea
                [hidden]="preview_mode"
                id="text_statement"
                maxlength="4000"
                rows="6"
                [(ngModel)]="questionSelectedInfo.statement"
                placeholder="Example: You are given a list of strings separated by a space..."
            ></textarea>
            <ng-katex
                *ngIf="preview_mode"
                id="text_statement_preview"
                [data]="questionSelectedInfo.statement"
            ></ng-katex>
            <p class="info-like sticky" *ngIf="questionSelectedInfo.type == 2">
                <br />
                In your statement, you may <b>include one blank space</b> in any
                format, making it visible to the participant. The participant
                will then be prompted to type their answer in the blank space.
                Unlike Multiple Choice Questions (MCQs),
                <b
                    >Fill in the Blank questions do not provide the participant
                    with a selection of choices to choose from.</b
                >
            </p>

            <manual-error [message]="errors.statement"></manual-error>

            <br />

            <h3>Evaluation</h3>
            <p class="info-like sticky" *ngIf="questionSelectedInfo.type === 3">
                Your question type is &nbsp;
                <ques-type-label
                    [ques_type]="questionSelectedInfo.type"
                ></ques-type-label
                >. &nbsp; Automatic evaluation is not feasible for this type of
                question. Therefore, participants' responses will not be
                automatically evaluated, and they will not receive points or
                penalties. You will be provided with the responses and can
                evaluate them yourself based on the range you provide below.
            </p>
            <p>
                <fa-icon [icon]="correctIcon"></fa-icon> &nbsp; Positive marking
                for this question
                <input
                    id="question_points"
                    type="number"
                    min="0"
                    [max]="40"
                    [(ngModel)]="questionSelectedInfo.points"
                />
            </p>
            <p class="info-like sticky">
                This is the weighage the question holds. Participants will be
                awarded this many points to their first correct submission. A
                maximum of 40 points can be set for one question
            </p>

            <manual-error [message]="errors.points"></manual-error>

            <p>
                <fa-icon [icon]="minusIcon"></fa-icon> &nbsp; Negative marking
                for each wrong submission
                <input
                    id="question_neg_points"
                    type="number"
                    min="0"
                    [max]="40"
                    [(ngModel)]="questionSelectedInfo.neg_points"
                />
            </p>
            <p class="info-like sticky">
                Set this to any non-zero value (1-40) to apply negative marking
                for the participants. Every wrong submission prior a successful
                one will result into the reduction of their final scores.
            </p>
            <manual-error [message]="errors.neg_points"></manual-error>

            <div *ngIf="questionSelectedInfo.type === 2">
                <p *ngIf="questionSelectedInfo.type === 2">
                    Enable case sensitivity for responses &nbsp;

                    <mat-slide-toggle
                        [(ngModel)]="questionSelectedInfo.case_sensitive"
                    ></mat-slide-toggle>
                </p>
                <p
                    *ngIf="questionSelectedInfo.type === 2"
                    class="info-like sticky"
                >
                    If enabled, responses such as 'apple', 'Apple', 'APPle' or
                    'APPLE' are treated as different. (<b
                        >Recommended to keep it disabled</b
                    >, as it prevents false penalities against minor mistakes)
                </p>
            </div>

            <div *ngIf="questionSelectedInfo.type === 3">
                <p>
                    <mat-slide-toggle
                        [checked]="questionSelectedInfo.char_limit !== null"
                        (change)="toggleCharLimit($event.checked)"
                    ></mat-slide-toggle>
                    &nbsp; Minimum number of words acceptable in a response
                    <input
                        type="number"
                        [min]="1"
                        [max]="1000"
                        [(ngModel)]="questionSelectedInfo.char_limit"
                    />
                </p>

                <p class="info-like sticky">
                    If disabled, participants can submit any number of words.
                </p>
            </div>

            <manual-error [message]="errors.char_limit"></manual-error>

            <div class="fill-in-blanks" *ngIf="questionSelectedInfo.type == 2">
                <h3>Possible Answers for your blank space</h3>
                <p class="info-like sticky">
                    We will evaluate participants' input against an exact match
                    of your provided possible answers. Please ensure that you do
                    not include more than one or two words.
                    <b
                        >If you believe there are multiple answers with
                        different spellings or synonyms, feel free to add as
                        many possible answers as you would like.</b
                    >
                </p>

                <p class="info-like">
                    <b>These will stay hidden from the participants</b>
                </p>

                <div
                    class="choice"
                    *ngFor="let choice of questionSelectedInfo.question_choices"
                    [hidden]="choice.delete"
                >
                    <div
                        class="delete-choice"
                        (click)="markChoiceAsDeletedToggle(choice)"
                    >
                        <fa-icon
                            *ngIf="!choice.delete"
                            [icon]="trashIcon"
                            matTooltip="Delete the possible answer"
                        ></fa-icon>
                        <fa-icon
                            [icon]="trashUpIcon"
                            *ngIf="choice.delete"
                            matTooltip="Undo delete"
                        ></fa-icon>
                    </div>
                    <input
                        id="choice-text-{{ choice.id }}"
                        type="text"
                        name="choice-text"
                        class="app-text-area"
                        [(ngModel)]="choice.text"
                        [disabled]="choice.delete === true"
                        [ngClass]="{ 'disabled no-click': choice.delete }"
                    />
                </div>
                <manual-error
                    *ngIf="questionSelectedInfo.question_choices?.length === 0"
                    message="No possible answers added so far. Quickly add one using the
                    button below. Otherwise your question will remain
                    unanswerable."
                >
                </manual-error>
                <manual-error
                    [message]="errors.question_choices"
                ></manual-error>

                <div class="add-choice" (click)="addNewChoiceInQuestion()">
                    + Add new possible answer
                </div>
            </div>

            <div
                class="multiple-choices-panel"
                *ngIf="questionSelectedInfo.type == 1"
            >
                <h3>Choices</h3>
                <p class="info-like">
                    The choices you add will be shown to the participants. You
                    can input the text for each choice as desired. You can set
                    any number of choices to be correct.
                    <b
                        >A participant's response will be positively marked only
                        if they select all the correct choices.</b
                    >
                </p>

                <div
                    class="choice"
                    *ngFor="let choice of questionSelectedInfo.question_choices"
                    [hidden]="choice.delete"
                >
                    <div
                        class="delete-choice"
                        (click)="markChoiceAsDeletedToggle(choice)"
                    >
                        <fa-icon
                            *ngIf="!choice.delete"
                            [icon]="trashIcon"
                            matTooltip="Delete the choice"
                        ></fa-icon>
                        <fa-icon
                            [icon]="trashUpIcon"
                            *ngIf="choice.delete"
                            matTooltip="Undo delete"
                        ></fa-icon>
                    </div>
                    <textarea
                        id="choice-text-{{ choice.id }}"
                        type="text"
                        name="choice-text"
                        class="app-text-area"
                        [(ngModel)]="choice.text"
                        [disabled]="choice.delete === true"
                        [ngClass]="{ 'disabled no-click': choice.delete }"
                    ></textarea>

                    <div
                        style="font-size: smaller"
                        [ngClass]="{ 'disabled no-click': choice.delete }"
                    >
                        Is this a correct choice? &nbsp; &nbsp; <br />
                        <mat-slide-toggle
                            [(ngModel)]="choice.is_correct"
                        ></mat-slide-toggle>
                    </div>
                </div>
                <p
                    *ngIf="questionSelectedInfo.question_choices?.length === 0"
                    class="info-like"
                >
                    No choices added so far. Quickly add one using the button
                    below. Otherwise, your question will have no correct answer.
                </p>
                <manual-error
                    [message]="errors.question_choices"
                ></manual-error>

                <div class="add-choice" (click)="addNewChoiceInQuestion()">
                    + Add new choice
                </div>
            </div>

            <div class="flex eval-panel" *ngIf="questionSelectedInfo.type == 0">
                <div class="sample-cases-container">
                    <div>
                        <div id="sample_cases_label" class="clabel">
                            Sample Tests Cases (Sample input)
                            <infotip
                                message="Small test cases for participants to test their code against without actually submitting for evaluation. These will be visible to the participants"
                            ></infotip>
                        </div>
                        <textarea
                            id="question_sample_cases"
                            maxlength="1000"
                            rows="6"
                            [(ngModel)]="questionSelectedInfo.sample_cases"
                            placeholder="Example: dice car club winter"
                        ></textarea>
                        <manual-error
                            [message]="errors.sample_cases"
                        ></manual-error>
                    </div>

                    <div>
                        <div id="sample_sols_label" class="clabel">
                            Sample expected output<infotip
                                message="This is what you expect the code to output in stdout. These will be visible to the participants."
                            ></infotip>
                        </div>
                        <textarea
                            id="question_sample_sols"
                            maxlength="1000"
                            rows="6"
                            [(ngModel)]="questionSelectedInfo.sample_sols"
                            placeholder="Example: ecid rac bulc retniw"
                        ></textarea>
                        <manual-error
                            [message]="errors.sample_sols"
                        ></manual-error>
                    </div>
                </div>

                <h3>Hidden test cases</h3>
                <div class="file-uploaders">
                    <div class="io-files">
                        <label
                            id="testcases_file_label"
                            class="file_input"
                            for="testcases_file"
                            matTooltipPosition="left"
                            matTooltip="Upload a text file that should contain the hidden test cases to provide as an input to the runtime programs submitted by the users. These test cases will not be shown to the participants."
                        >
                            Test Cases

                            <a
                                *ngIf="testExists"
                                [href]="downloadFileUrl('testcases')"
                                matTooltip="Download existing test cases file"
                                [download]="
                                    questionSelectedInfo.id + '_testcases.txt'
                                "
                            >
                                (Uploaded)
                                <fa-icon [icon]="downloadIcon"></fa-icon>
                            </a>
                        </label>
                        <input
                            class="file_input"
                            (change)="updateFile($event, 'testcases')"
                            id="testcases_file"
                            type="file"
                        />

                        <label
                            id="solutions_file_label"
                            class="file_input"
                            for="solutions_file"
                            matTooltipPosition="left"
                            matTooltip="Upload a text file to define the expected output from participants code when test cases are supplied to them"
                        >
                            Expected output
                            <a
                                *ngIf="solsExists"
                                [href]="downloadFileUrl('solutions')"
                                [download]="
                                    questionSelectedInfo.id + '_solutions.txt'
                                "
                                matTooltip="Download existing solution to test cases file"
                            >
                                (Uploaded)
                                <fa-icon [icon]="downloadIcon"></fa-icon>
                            </a>
                        </label>
                        <input
                            class="file_input"
                            id="solutions_file"
                            type="file"
                            (change)="updateFile($event, 'solutions')"
                        />
                    </div>
                    <div class="solution-code-file">
                        <label
                            id="code_file_label"
                            class="file_input"
                            (click)="showPopup(true, 'code-tester')"
                            [matTooltip]="
                                !solsExists
                                    ? 'You must upload Expected output file to test your competition'
                                    : ''
                            "
                            [ngClass]="{
                                'no-click disabled': !solsExists
                            }"
                        >
                            Click here to test the question <br />
                            by submitting the correct code. &nbsp;
                            <fa-icon
                                *ngIf="verificationResult?.success === true"
                                [icon]="checkIcon"
                                style="color: green"
                                [matTooltip]="
                                    'Verification was successful at ' +
                                    verificationResult?.created_at?.toLocaleString()
                                "
                            ></fa-icon>

                            <fa-icon
                                *ngIf="verificationResult?.success === false"
                                [icon]="crossIcon"
                                style="color: red"
                                [matTooltip]="
                                    'Verification failed at ' +
                                    verificationResult?.created_at?.toLocaleString()
                                "
                            ></fa-icon>

                            <br />
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row_flex" id="controls">
            <button
                (click)="
                    showPopup(true, 'delete_comp_popup');
                    showPopup(false, 'guide')
                "
            >
                <fa-icon [icon]="trashIcon"></fa-icon> &nbsp; DELETE
            </button>
            <!-- <div matTooltip="Logs for fun" id="log" (click)="showLog()">
                Welcome!
            </div> -->
            <button (click)="showPopup(true, 'guide')">
                <fa-icon [icon]="guideIcon"></fa-icon> &nbsp; GUIDE
            </button>
            <button
                matTooltip="Save the competition and selected question (Shift + S)"
                (click)="this.saveChanges()"
            >
                <span [hidden]="!changesInterval.unsavedChanges">*</span>
                SAVE CHANGES
            </button>
        </div>
    </div>
</div>
