<app-bar></app-bar>

<app-loading *ngIf="loading"></app-loading>

<popup
    id="competition-insights"
    heading="Insights"
    [showControls]="false"
    [destructive]="false"
    (closeEvent)="showPopup(false, 'competition-insights')"
>
    <scoreboard
        *ngIf="competitionInfo.id"
        [competition_id]="competitionInfo.id"
        [competitionInfo]="competitionInfo"
        [question_list]="true"
        (metaChange)="scoreMeta = $event"
    ></scoreboard>
</popup>

<popup
    id="code-tester"
    (closeEvent)="showPopup(false, 'code-tester')"
    heading="Verify Participation"
    [showControls]="false"
    [destructive]="false"
    *ngIf="questionSelectedInfo?.type === 0"
>
    <code-tester
        *ngIf="questionSelectedInfo.competition_id && questionSelectedInfo.id"
        [competition_id]="questionSelectedInfo.competition_id"
        [question_id]="questionSelectedInfo.id"
        (lastVerificationChange)="verificationResult = $event"
    ></code-tester>
</popup>

<popup
    heading="Destructive Action"
    id="delete_comp_popup"
    (closeEvent)="handleDeleteCompPopupEvent($event)"
    [showControls]="false"
    [destructive]="true"
>
    Deleting the competition is an irreversible operation. All the data
    associated with it will be immediately lost forever and users will no longer
    be able to see or participate in it.<br />

    <p class="error-like">
        <b>
            Remember : If you do not want others to see this competition, you
            can always make it private instead of deleting.
        </b>
    </p>
    <b>Enter the current competition code ({{ competitionInfo.id }})</b>
    <input type="text" id="input_competition_code" placeholder="Enter code" />
    <manual-error [message]="errors.delete_code"></manual-error>
    <div id="delete_competition_btn_popup" (click)="deleteCompetition()">
        Delete
    </div>
</popup>

<popup
    heading="Guide"
    id="guide"
    (closeEvent)="handleGuidePopupEvent($event)"
    [showControls]="false"
>
    <h3>Meta section</h3>
    <hr />
    <h5>Submissions open at</h5>
    <p>
        Set this as date time at which you would wish your contest to be public,
        with all questions available to see and participate into.
    </p>
    <h5>Submissions close at</h5>
    <p>
        Set this as date time at which you would wish your contest to be closed,
        with all questions hidden. Only scoreboard will be visible to the
        participants; no more submissions will be recorded or evaluated.
    </p>
    <h5>PUBLIC/PRIVATE</h5>
    <p>
        If set to Public, your contest will be shown in the main public
        competitions list. If Private, it won't be visible to anyone, as if it
        does not exists.
    </p>

    <h3>Competition Data</h3>
    <hr />
    <p>
        You can write competition title and description. These will remain
        public even if submissions are not open or have been closed.
    </p>

    <h3>Questions Data</h3>
    <hr />
    <h5>Adding a new question</h5>
    <p>
        Use the "Add" button to create a new question. You can created 4 types
        of questions:
    </p>
    <ol>
        <li>Coding test</li>
        <li>MCQ (Multiple choice question)</li>
        <li>Fill in blank (or Short answer)</li>
        <li>Long answer</li>
    </ol>

    <h5>Editing a question</h5>
    <p>
        Select any question from the question list bar. A new panel will open.
        You can edit all the details of your question there.
    </p>

    <h5>Question statement</h5>
    <p>
        You can not only write plain text into it, but for mathematics questions
        or symbols you can use the LaTeX to write complex symbols. You can click
        Preview to view how your statement will be rendered to the participants.
    </p>
    <p>
        Our LaTeX parser is powered by
        <a href="https://katex.org/docs/support_table.html" target="_blank"
            >Katex (click here to see the guide)</a
        >
    </p>

    <h5>Guidelines for Setting Coding test samples</h5>
    <p>
        The online judge for Hunter accepts the user's code as a black box. A
        test cases file is given as input, and the output is compared with your
        solutions file. Questions requiring participants to complete a part of
        the code are currently not supported. It is advised to keep your
        questions in a simple input-output format.
    </p>
    <p>For example, test cases file:</p>
    <pre>
2
1 2 3
4 5 6
</pre
    >
    Solutions file:
    <pre>
6
15
</pre
    >

    <h3>Saving</h3>
    <hr />
    <p>
        Ensure you save your changes by clicking the "SAVE CHANGES" button in
        the bottom bar. You can also use the keyboard shortcut Shift + S.
    </p>
</popup>

<popup
    heading="Confirmation"
    id="public_status_confirm"
    (closeEvent)="handlePrivacyConfirmPopupEvent($event)"
>
    Are you sure to set this competition's visibility to public?
</popup>

<!-- <app-info-card (click)="showPopup(true, 'guide')"
    >Before you set up your contest and define the questions! It is highly
    recommended to take a look at the guide.</app-info-card
> -->

<div class="page-section">
    <div class="section-side">
        <h2>Meta</h2>

        <div class="meta-section">
            <h3>Schedule</h3>

            <div id="schedule_label" class="label">
                Submissions open at
                <infotip
                    message="When should the competition be visible to read and start accept submissions"
                />
            </div>
            <input
                type="datetime-local"
                id="competition_schedule"
                class="text-area full-input"
                [value]="competitionInfo.scheduled_at | prettyDate"
            />
            <div id="schedule_end_label" class="label">
                Close submissions at
                <infotip
                    message="When should the competition stop submissions and participation"
                />
            </div>
            <input
                type="datetime-local"
                id="competition_schedule_end"
                class="text-area full-input"
                [value]="competitionInfo.scheduled_end_at | prettyDate"
            />

            <div id="visbility_controller">
                <div id="id">
                    Visibility
                    <infotip
                        message="Set your contest visibility (Public/Private)"
                    ></infotip>
                </div>
                <!-- <div id="rating">
                    Rating : <b>{{ this.competitionInfo.rating }}</b>
                </div> -->
                <div
                    [matTooltip]="
                        competitionInfo.public
                            ? 'Click to toggle, currently anybody can see or participate in the competition'
                            : 'Click to toggle, currently no one can see or participate in the competition'
                    "
                    id="visibility"
                    (click)="onClickVisibility()"
                >
                    PUBLIC
                </div>
            </div>

            <h3>Insights</h3>
            <div
                class="participant-link"
                (click)="shareAction()"
                matTooltip="Click to share the participation link"
            >
                <span class="link-text"
                    >Share link to the participants, and let the contest
                    begin!</span
                >
                <span>
                    <fa-icon [icon]="shareIcon" size="lg"></fa-icon>
                </span>
            </div>
            <div
                class="text-area insight-details cute-panel"
                routerLink="/editor/{{ competitionInfo.id }}/data/insights"
                (click)="showPopup(true, 'competition-insights')"
                *ngIf="scoreMeta"
            >
                <fa-icon
                    [icon]="magicIcon"
                    size="lg"
                    [animation]="'fade'"
                ></fa-icon>
                <span>
                    Insights of <b>{{ scoreMeta.total }}</b> users, who took
                    part in your contest!
                </span>
            </div>
        </div>
    </div>
    <div class="section-content">
        <h2>Competition Data</h2>

        <div class="row_flex editor-first-panel" style="margin-top: 16px">
            <div id="title_label" class="label">Title</div>
            <textarea
                maxlength="120"
                id="text_title"
                rows="1"
                placeholder="Example: University Club Tie-breaker Challenge"
                [(ngModel)]="competitionInfo.title"
            ></textarea>
            <div id="desc_label" class="label">Description</div>
            <textarea
                maxlength="456"
                rows="5"
                id="text_description"
                placeholder="Example: This challenge consists of ...."
                [(ngModel)]="competitionInfo.description"
            ></textarea>
        </div>

        <br />
        <br />
        <h2>Questions Data</h2>

        <div class="questions-list">
            <questions-list
                [competitionInfo]="competitionInfo"
                [questionsList]="this.competitionInfo.questions || []"
                (messageEmitter)="displayLog($event)"
                (questionSelectEmitter)="selectQuestion($event)"
                (saveClicked)="saveQuestion()"
                (fetchRequired)="fetchQuestions()"
                [(questionSelected)]="questionSelected"
            >
            </questions-list>
        </div>

        <div *ngIf="!this.questionSelectedInfo.id" id="question_id">
            (No Question Selected)
            <infotip
                *ngIf="!questionSelectedInfo.id"
                message="Please select a question from above to see details"
            />
        </div>
        <div class="question-data" *ngIf="questionSelected !== -1">
            <div class="question-type">
                <ques-type-label
                    [ques_type]="questionSelectedInfo.type"
                ></ques-type-label>
            </div>

            <div class="clabel">Title</div>

            <textarea
                id="text_qtitle"
                maxlength="400"
                rows="3"
                [(ngModel)]="questionSelectedInfo.title"
                placeholder="Example: Write a program to flip the string."
            ></textarea>

            <manual-error [message]="errors.title"></manual-error>

            <div class="statement-label-container">
                <div class="clabel">
                    Statement
                    <infotip
                        message="The statement body supports Latex by default, learn more about the typesetting at katex.org"
                    ></infotip>
                    <span class="info-like" style="font-size: 0.8rem">
                        <a
                            href="https://katex.org/docs/support_table.html"
                            target="_blank"
                            >(Click here KaTeX guide to write LaTeX)</a
                        >
                    </span>
                </div>
                <div
                    id="toggle_preview_btn"
                    matTooltip="Click to toggle LaTeX preview"
                    (click)="preview_mode = !preview_mode"
                >
                    Preview
                    <mat-slide-toggle
                        [checked]="preview_mode"
                    ></mat-slide-toggle>
                </div>
            </div>

            <p class="info-like" *ngIf="questionSelectedInfo.type == 2">
                In your statement, you may <b>include one blank space</b> in any
                format, making it visible to the participant. The participant
                will then be prompted to type their answer in the blank space.
                Unlike Multiple Choice Questions (MCQs),
                <b
                    >Fill in the Blank questions do not provide the participant
                    with a selection of choices to choose from.</b
                >
            </p>

            <textarea
                [hidden]="preview_mode"
                id="text_statement"
                maxlength="4000"
                rows="6"
                [(ngModel)]="questionSelectedInfo.statement"
                placeholder="Example: You are given a list of strings separated by a space..."
            ></textarea>
            <ng-katex
                *ngIf="preview_mode"
                id="text_statement_preview"
                [data]="questionSelectedInfo.statement"
            ></ng-katex>

            <manual-error [message]="errors.statement"></manual-error>

            <br />

            <h3>Evaluation</h3>
            <p class="info-like" *ngIf="questionSelectedInfo.type === 3">
                Your question type is &nbsp;
                <ques-type-label
                    [ques_type]="questionSelectedInfo.type"
                ></ques-type-label
                >. &nbsp; Automatic evaluation is not feasible for this type of
                question. Therefore, participants' responses will not be
                automatically evaluated, and they will not receive points or
                penalties. You will be provided with the responses and can
                evaluate them yourself based on the range you provide below.
            </p>
            <p>
                Reward
                <input
                    id="question_points"
                    type="number"
                    min="0"
                    [max]="40"
                    [(ngModel)]="questionSelectedInfo.points"
                />
                points for first correct submission
                <infotip
                    message="This is the weighage the question holds. Participants will be awarded this many points to their first correct submission. A maximum of 9 points can be set for one question"
                ></infotip>
            </p>

            <manual-error [message]="errors.points"></manual-error>

            <p>
                Cut
                <input
                    id="question_neg_points"
                    type="number"
                    min="0"
                    [max]="40"
                    [(ngModel)]="questionSelectedInfo.neg_points"
                />
                points for each wrong submission
                <infotip
                    message="Set this to any non-zero value (1-40) to apply negative marking for the participants. Every wrong submission prior a successful one will result into the reduction of their final scores."
                ></infotip>
            </p>
            <manual-error [message]="errors.neg_points"></manual-error>

            <p *ngIf="questionSelectedInfo.type === 2">
                Do you want to enable case sensitivity
                <infotip
                    message="If disabled, responses such as 'apple', 'Apple', 'APPle' or 'APPLE' are treated as equal. (Recommended to keep it disabled, as it prevents false penalities against minor mistakes)"
                ></infotip>
                for the responses? &nbsp;

                <mat-slide-toggle
                    [(ngModel)]="questionSelectedInfo.case_sensitive"
                ></mat-slide-toggle>
            </p>

            <p *ngIf="questionSelectedInfo.type === 3">
                <mat-slide-toggle
                    [checked]="questionSelectedInfo.char_limit !== null"
                    (change)="toggleCharLimit($event.checked)"
                ></mat-slide-toggle>
                &nbsp; Accept minimum
                <input
                    type="number"
                    [min]="1"
                    [max]="1000"
                    [(ngModel)]="questionSelectedInfo.char_limit"
                />
                number of words in a response
                <infotip
                    message="If disabled, participants can submit any number of words"
                ></infotip>
            </p>

            <manual-error [message]="errors.char_limit"></manual-error>

            <div class="fill-in-blanks" *ngIf="questionSelectedInfo.type == 2">
                <h3>Possible Answers for your blank space</h3>
                <p class="info-like">
                    We will evaluate participants' input against an exact match
                    of your provided possible answers. Please ensure that you do
                    not include more than one or two words.
                    <b
                        >If you believe there are multiple answers with
                        different spellings or synonyms, feel free to add as
                        many possible answers as you would like.</b
                    >
                </p>

                <p class="info-like">
                    <b>These will be stay hidden from the participants</b>
                </p>

                <div
                    class="choice"
                    *ngFor="let choice of questionSelectedInfo.question_choices"
                    [hidden]="choice.delete"
                >
                    <div
                        class="delete-choice"
                        (click)="markChoiceAsDeletedToggle(choice)"
                    >
                        <fa-icon
                            *ngIf="!choice.delete"
                            [icon]="trashIcon"
                            matTooltip="Delete the possible answer"
                        ></fa-icon>
                        <fa-icon
                            [icon]="trashUpIcon"
                            *ngIf="choice.delete"
                            matTooltip="Restore the choice"
                        ></fa-icon>
                    </div>
                    <input
                        type="text"
                        name="choice-text"
                        class="app-text-area"
                        [(ngModel)]="choice.text"
                        [disabled]="choice.delete === true"
                        [ngClass]="{ 'disabled no-click': choice.delete }"
                    />
                </div>
                <p
                    *ngIf="questionSelectedInfo.question_choices?.length === 0"
                    class="info-like"
                >
                    No possible answers added so far. Quickly add one using the
                    button below. Otherwise your question will remain
                    unanswerable.
                </p>
                <manual-error
                    [message]="errors.question_choices"
                ></manual-error>

                <div class="add-choice" (click)="addNewChoiceInQuestion()">
                    + Add new possible answer
                </div>
            </div>

            <div
                class="multiple-choices-panel"
                *ngIf="questionSelectedInfo.type == 1"
            >
                <h3>Choices</h3>
                <p class="info-like">
                    The choices you add will be shown to the participants. You
                    can input the text for each choice as desired. You can set
                    any number of choices to be correct.
                    <b
                        >A participant's response will be positively marked only
                        if they select all the correct choices.</b
                    >
                </p>

                <div
                    class="choice"
                    *ngFor="let choice of questionSelectedInfo.question_choices"
                    [hidden]="choice.delete"
                >
                    <div
                        class="delete-choice"
                        (click)="markChoiceAsDeletedToggle(choice)"
                    >
                        <fa-icon
                            *ngIf="!choice.delete"
                            [icon]="trashIcon"
                            matTooltip="Delete the choice"
                        ></fa-icon>
                        <fa-icon
                            [icon]="trashUpIcon"
                            *ngIf="choice.delete"
                            matTooltip="Restore the choice"
                        ></fa-icon>
                    </div>
                    <textarea
                        type="text"
                        name="choice-text"
                        class="app-text-area"
                        [(ngModel)]="choice.text"
                        [disabled]="choice.delete === true"
                        [ngClass]="{ 'disabled no-click': choice.delete }"
                    ></textarea>

                    <div
                        style="font-size: smaller"
                        [ngClass]="{ 'disabled no-click': choice.delete }"
                    >
                        Is this a correct choice? &nbsp; &nbsp; <br />
                        <mat-slide-toggle
                            [(ngModel)]="choice.is_correct"
                        ></mat-slide-toggle>
                    </div>
                </div>
                <p
                    *ngIf="questionSelectedInfo.question_choices?.length === 0"
                    class="info-like"
                >
                    No choices added so far. Quickly add one using the button
                    below. Otherwise, your question will have no correct answer.
                </p>
                <manual-error
                    [message]="errors.question_choices"
                ></manual-error>

                <div class="add-choice" (click)="addNewChoiceInQuestion()">
                    + Add new choice
                </div>
            </div>

            <div class="flex eval-panel" *ngIf="questionSelectedInfo.type == 0">
                <div class="sample-cases-container">
                    <div>
                        <div id="sample_cases_label" class="clabel">
                            Sample Tests Cases
                            <infotip
                                message="Small test cases for participants to test their code against without actually submitting for evaluation. These will be visible to the participants"
                            ></infotip>
                        </div>
                        <textarea
                            id="question_sample_cases"
                            maxlength="1000"
                            rows="6"
                            [(ngModel)]="questionSelectedInfo.sample_cases"
                            placeholder="Example: dice car club winter"
                        ></textarea>
                        <manual-error
                            [message]="errors.sample_cases"
                        ></manual-error>
                    </div>

                    <div>
                        <div id="sample_sols_label" class="clabel">
                            Solution to the samples<infotip
                                message="Solution to the test cases provided above. These will be visible to the participants"
                            ></infotip>
                        </div>
                        <textarea
                            id="question_sample_sols"
                            maxlength="1000"
                            rows="6"
                            [(ngModel)]="questionSelectedInfo.sample_sols"
                            placeholder="Example: ecid rac bulc retniw"
                        ></textarea>
                        <manual-error
                            [message]="errors.sample_sols"
                        ></manual-error>
                    </div>
                </div>
                <div class="file-uploaders">
                    <div class="io-files">
                        <label
                            id="testcases_file_label"
                            class="file_input"
                            for="testcases_file"
                            matTooltipPosition="left"
                            matTooltip="Upload a text file to define evaluation test cases for this question. These test cases will not be shown to the participants. Hunter will use this to test participants' code"
                        >
                            Test Cases

                            <a
                                [href]="downloadFileUrl('testcases')"
                                [download]="
                                    questionSelectedInfo.id + '_testcases.txt'
                                "
                            >
                                <fa-icon
                                    *ngIf="testExists"
                                    matTooltip="Download existing test cases file"
                                    [icon]="downloadIcon"
                                ></fa-icon>
                            </a>
                        </label>
                        <input
                            class="file_input"
                            (change)="updateFile($event, 'testcases')"
                            id="testcases_file"
                            type="file"
                        />

                        <label
                            id="solutions_file_label"
                            class="file_input"
                            for="solutions_file"
                            matTooltipPosition="left"
                            matTooltip="Upload a text file to define the expected output from participants code when test cases are supplied to them"
                        >
                            Solution to tests
                            <a
                                [href]="downloadFileUrl('solutions')"
                                [download]="
                                    questionSelectedInfo.id + '_solutions.txt'
                                "
                            >
                                <fa-icon
                                    *ngIf="solsExists"
                                    [icon]="downloadIcon"
                                    matTooltip="Download existing solution to test cases file"
                                ></fa-icon>
                            </a>
                        </label>
                        <input
                            class="file_input"
                            id="solutions_file"
                            type="file"
                            (change)="updateFile($event, 'solutions')"
                        />
                    </div>
                    <div class="solution-code-file">
                        <label
                            id="code_file_label"
                            class="file_input"
                            (click)="showPopup(true, 'code-tester')"
                            [matTooltip]="
                                !testExists || !solsExists
                                    ? 'You must upload both test cases files to test your competition'
                                    : ''
                            "
                            [ngClass]="{
                                'no-click disabled': !testExists || !solsExists
                            }"
                        >
                            *Verify Participation
                            <fa-icon
                                *ngIf="verificationResult?.success === true"
                                [icon]="checkIcon"
                                style="color: green"
                                [matTooltip]="
                                    'Verification was successful at ' +
                                    verificationResult?.created_at?.toLocaleString()
                                "
                            ></fa-icon>

                            <fa-icon
                                *ngIf="verificationResult?.success === false"
                                [icon]="crossIcon"
                                style="color: red"
                                [matTooltip]="
                                    'Verification failed at ' +
                                    verificationResult?.created_at?.toLocaleString()
                                "
                            ></fa-icon>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row_flex" id="controls">
            <button
                (click)="
                    showPopup(true, 'delete_comp_popup');
                    showPopup(false, 'guide')
                "
            >
                <fa-icon [icon]="trashIcon"></fa-icon> &nbsp; DELETE CONTEST
            </button>
            <div matTooltip="Logs for fun" id="log" (click)="showLog()">
                Welcome!
            </div>
            <button (click)="showPopup(true, 'guide')">
                <fa-icon [icon]="guideIcon"></fa-icon> &nbsp; GUIDE
            </button>
            <button
                matTooltip="Save the competition and selected question (Shift + S)"
                (click)="this.saveChanges()"
            >
                SAVE CHANGES
            </button>
        </div>
    </div>
</div>
