@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

popup {
    display: none;
}

.red {
    color: darkred;
}

.appTextInput {
    @include appTextArea;
}

.c-insights {
    max-width: 320px;

    .participant-link {
        font-family: monospace;
        background-color: papayawhip;
        display: flex;
        border-radius: 16px;
        width: calc(100% - 32px);
        justify-content: space-between;

        .link-text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-right: 6px;
        }

        fa-icon {
            color: rgb(30, 30, 30);
        }
    }

    .insight-details {
        border-radius: 16px;

        background-color: papayawhip;
        margin-top: 1rem;
    }
}

#input_competition_code {
    border-width: 0px;
    font-family: appFont;
    width: 84px;
    font-size: 1.1rem;
    border-radius: 24px;
    padding: 8px;
    margin: 8px;
    background-color: whitesmoke;
}

#delete_competition_btn_popup {
    font-family: appFont;
    font-size: 1.2rem;
    padding: 8px;
    padding-inline: 16px;
    border-radius: 24px;
    width: fit-content;
    margin: 8px;
    color: white;
    background-color: darkred;
}

#created_at {
    background-color: whitesmoke;
    font-family: appFont;
    font-size: 0.8rem;
    width: fit-content;
    padding: 10px;
    margin-inline: auto;
    border-radius: 0px 0px 1rem 1rem;
}

#visbility_controller {
    display: flex;
    margin-top: 16px;
    font-family: appFont;
    cursor: default;
    border-radius: 1rem;
    @include sweetBorder();

    #id {
        background-color: white;
        border-radius: 1rem 0px 0px 1rem;
        font-family: appFont;
        width: fit-content;
        padding: 10px;
    }

    #rating {
        background-color: whitesmoke;
        font-family: appFont;
        width: fit-content;
        padding: 10px;
    }

    #visibility {
        background-color: rgb(20, 220, 120);
        color: rgb(0, 0, 0);
        border-radius: 0px 1rem 1rem 0px;
        font-family: appFont;
        font-weight: bold;
        width: 64px;
        padding: 10px;
        cursor: pointer;
        text-align: center;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
}

.vertical_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: fit-content;

    a {
        background-color: transparent;
        color: colors.$text_black;
        width: fit-content;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.row_flex {
    font-family: appFont;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.label {
    font-family: appFont;
    font-size: 1.1rem;
    text-align: left;
    width: 100%;
    margin-inline: 16px;
    margin-block: 8px;
    color: colors.$text_black;
}

.text-area {
    @include appTextArea;
    font-size: 1rem;
}

#text_title {
    @include appTextArea();
    // width: 246px;
    margin-top: 4px;
}

#text_description {
    @include appTextArea();
    @include hideSrollbar();
    // width: 512px;
    width: 100%;
    margin-top: 4px;
}

#evaluation-section {
    font-family: appFont;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-basis: 100%;

    .sample-cases-container {
        justify-content: center;
        align-items: center;
        display: flex;

        #sample_cases_label,
        #sample_sols_label {
            font-size: 1rem;
            font-weight: normal;
        }

        textarea {
            @include appTextArea;
            margin: 8px;
            width: 80%;
            font-family: monospace;
            font-size: large;
            // background-color: white;
        }
    }

    .points-container {
        padding: 1rem;
    }

    .eval-panel {
        align-items: stretch;

        .sample-cases-container {
            width: 100%;
            display: flex;
            justify-content: stretch;

            div {
                flex-grow: 1;

                textarea {
                    width: calc(100% - 3rem);
                }
            }
        }
    }
}

// @media only screen and (max-width: 1180px) {
//     #text_description {
//         width: 860px;
//         height: 120px;
//     }

//     #text_title {
//         width: 550px;
//         height: 120px;
//     }
// }

// @media only screen and (max-width: 990px) {
//     #text_description {
//         width: 660px;
//         height: 120px;
//     }

//     #text_title {
//         width: 660px;
//         height: 100px;
//     }
// }

// @media only screen and (max-width: 720px) {
//     #text_description {
//         width: 490px;
//         height: 120px;
//     }

//     #text_title {
//         width: 256px;
//         height: 180px;
//     }
// }

// @media only screen and (max-width: 580px) {
//     #text_description {
//         width: 320px;
//         height: 180px;
//     }

//     #text_title {
//         width: 320px;
//         height: 120px;
//     }
// }

#controls {
    position: fixed;
    bottom: 0px;
    left: 0px;
    justify-content: space-around;
    align-items: center;
    margin: 0.3rem;
    width: calc(100% - 0.6rem);
    background-color: rgba(193, 193, 193, 0.501);
    backdrop-filter: blur(0.5rem);
    padding-block: 8px;
    z-index: 5;
    border-radius: 1rem;
    @include sweetBorder;

    button {
        color: colors.$text_black;
        font-size: 1rem;
        background-color: transparent;
        border-width: 0px;
        padding-inline: 16px;
        min-width: 250px;
        margin: 8px;
        cursor: pointer;
    }

    div {
        color: gray;
        min-width: 250px;
        text-align: center;
    }
}

.full-stretch {
    align-items: stretch;
    width: 100%;
    margin-bottom: 56px;
}

.clabel {
    margin-top: 16px;
    font-size: 1.2rem;
    padding: 4px;
    width: 100%;
}

#text_qtitle,
#text_statement {
    @include appTextArea;
    font-size: large;
    font-weight: normal;
}

#text_statement,
#text_statement_preview {
    width: 100%;
    width: auto;
    height: 360px;
    overflow-y: scroll;
    font-family: monospace;
}

#text_statement_preview {
    @include appTextArea;
    font-size: 1.05rem !important;
}

label.file_input {
    color: colors.$text_black;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 18rem;
    cursor: pointer;
    display: block;
    margin-block: 1rem;
    text-align: center;
    border-width: 1px;
    border-style: dashed;
    border-color: gray;
}
#toggle_preview_btn:hover {
    background-color: whitesmoke;
}

#toggle_preview_btn {
    @include basicBack;
    cursor: pointer;
    margin-block: 1rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;

    fa-icon {
        width: 1rem;
    }
}

input.file_input {
    display: none;
}

a {
    border-radius: 24px;
    font-family: appFont;
    padding: 8px;
    padding-inline: 16px;
    cursor: pointer;
}

a:hover,
#toggle_preview_btn:hover {
    background-color: white;
}

#question_points,
#question_neg_points {
    border-radius: 1rem;
    padding: 8px;
    padding-inline: 16px;
    border-width: 0px;
    margin-inline: 0.3rem;
    font-size: 1.2rem;
    width: 2.2rem;
    color: colors.$text_black;

    @include sweetBorder();
}

#question_points_lbl,
#question_id {
    font-family: appFont;
    font-size: 1.2rem;
    margin: 1rem;
}

.info_text {
    text-align: center;
    font-family: appFont;
    color: white;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

#log {
    font-family: appFont;
    font-style: italic;
    color: black;
}

#delete_competition_btn {
    font-family: appFont;
    font-size: 1rem;
    background-color: #fff0f0;
    color: darkred;
    width: fit-content;
    border: 1px solid darkred;
    border-radius: 24px;
    padding: 8px;
    padding-inline: 16px;
    margin: 4px;
}

#delete_competition_btn:hover {
    cursor: pointer;
}

.questions-list {
    @include blackBack;
    margin-top: 2rem;
}

.editor-first-panel {
    @include blackBack;
    gap: 2rem;

    .desc-panel {
        flex-grow: 1;
        margin-left: 16px;
    }

    .title-panel {
        flex-grow: 0.5;
        margin-left: 16px;
        .label,
        .vertical_flex,
        textarea {
            width: 100%;
        }
    }
}

.editor-second-panel {
    .title-eval-container {
        @include blackBack;
        padding-inline: 2rem;
        margin-top: 1rem;
        align-items: stretch;
        flex-wrap: nowrap;
        gap: 5rem;

        .title-container {
            width: 60%;
            justify-content: space-between;

            #text_qtitle {
                width: calc(100% - 2rem);
            }
        }
    }
}

.file-uploaders {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    width: 100%;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        padding: 0;
        margin-inline: 0.3rem;
    }

    .solution-code-file {
        #code_file_label {
            height: 5.5rem;
            font-size: larger;
        }

        fa-icon {
            margin-left: 0.3rem;
        }
    }
}

.marks-section {
}
