@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

#view-submissions-list-popup {
    width: 30%;
}

#score_board {
    width: inherit;

    .next-prev-options {
        @include nextPrevControls;
    }

    questions-list {
        @include blackBack;
        display: block;
        position: sticky;
        top: 0rem;
        backdrop-filter: blur(16px);
        background-color: #a2a2a229;
    }

    #sc_title {
        font-size: 1.4rem;
        font-weight: bold;
        padding: 8px;
    }

    #scores_table {
        font-size: 1.1rem;

        &.question-scoreboard {
            & > div:not(.table_heading):not(.unusual) {
                cursor: pointer;
            }
        }

        .table_heading {
            font-weight: bold;
            margin-bottom: 8px;
            background-color: whitesmoke;
        }

        .user-rank-row {
            background-color: rgb(220, 231, 245);
            border-radius: 0.3rem;
            @include sweetBorder();
        }

        background-color: whitesmoke;
        padding: 16px;
        border-radius: 1rem;
        @include sweetBorder();

        display: flex;
        flex-direction: column;

        div:not(.unusual) {
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.3rem;

            &.selected {
                position: sticky;
                top: 6rem;
                z-index: 50;
                @include basicBack;
                border-radius: 0.5rem;
                background-color: whitesmoke;
            }

            div {
                width: 200px;
                word-break: break-all;
            }

            .rank-col {
                flex-basis: 5%;
                text-align: center;
                text-wrap: nowrap;
            }

            .name-col {
                flex-basis: 45%;
                justify-content: start;

                .ahead-statement {
                    font-size: 0.8rem;
                    font-weight: bold;
                }
            }

            .time-col {
                flex-basis: 30%;
            }

            .score,
            .score-p,
            .score-n,
            .ques-col {
                flex-basis: 10%;
                justify-content: center;
            }

            .score-p {
                color: darkcyan;
                overflow: visible;
            }

            .score {
                color: green;
                text-wrap: nowrap;
            }

            .score-n {
                color: darkred;
            }
        }

        & > div:not(.table_heading):not(.unusual):hover {
            background-color: colors.$text_white;
            border-radius: 0.3rem;
        }
    }
}

@media only screen and (max-width: 512px) {
    .score,
    .score-p,
    .time-col {
        display: none !important;
    }

    .name-col {
        flex-basis: initial !important;
    }
}
