
<app-loading *ngIf="loading"></app-loading>
<app-bar></app-bar>

<div id="settings_label">Account Data</div>

<div class="row">

  <div id="user_info">
    <div id="user_info_h">Personal Info</div>
    <table >
      <tr>
        <td>User ID &nbsp;</td> <td>- &nbsp; {{user.id}}</td>
      </tr>
      <tr>
        <td>Full Name &nbsp;</td> <td>- &nbsp;{{user.name}}</td>
      </tr>
      <tr>
        <td>Email &nbsp;</td> <td>- &nbsp;{{user.email}}</td>
      </tr>
    </table>
  </div>

  <div id="profile_editor">
    <div id="label">Update public user name</div>
    <div class="row">
      <input id = "user_name_input" type="text" maxlength="50">
      <div id = "save_btn" (click)="updateUserInfo()">Update</div>
    </div>
  </div>
  
  <create-dialog></create-dialog>
</div>



<competitions-list
  heading="Your Competitions"
  route="editor"
  [host_user_id]="user.id"
  [competitionsList]="this.userCompetitions"
></competitions-list>
