@use "../../../assets/mixins" as *;


#settings_label{
    font-family: appFont;
    font-weight: bold;
    font-size: 2.2rem;
    margin : 16px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#profile_editor{
    font-family: appFont;
    margin : 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    div{
        margin-inline: 8px;
    }

    #label{
        font-size: 1.3rem;
    }

    #user_name_input{
       background-color: whitesmoke;
       border-radius: 24px;
       padding : 16px;
       border-width: 0px;
       font-size: 1rem;
    }

    #save_btn{
       background-color: whitesmoke;
       border-radius: 24px;
       cursor: pointer;
       padding : 16px;
       margin : 4px;
    }

    #save_btn:hover{
        background-color: white;
    }
}

@media only screen and (max-width : 900px) {
    create-dialog{
        margin-top: 64px;
        margin-inline: auto;
    }
}

@media only screen and (max-width : 620px) {

    #user_input_name{
        width: 156px;
    }

    #label{
        font-size: 1.1rem !important;
    }
    

    
    
}