@use "../../../assets/mixins" as *;

#profile_editor{
    font-family: appFont;
    margin : 8px;
    display: flex;
    align-items: center;
    
    div{
        margin-inline: 8px;
    }

    #label{
        font-weight: bold;
        font-size: 1.3rem;
    }

    #user_name_input{
       background-color: whitesmoke;
       border-radius: 24px;
       padding : 16px;
       border-width: 0px;
       font-size: 1rem;
    }

    #save_btn{
       background-color: whitesmoke;
       border-radius: 24px;
       cursor: pointer;
       padding : 16px
    }

    #save_btn:hover{
        background-color: white;
    }
}