
<app-loading *ngIf="loading"></app-loading>
<app-bar></app-bar>

<div id="settings_label">Account Settings</div>

<div class="row">
  <div id="profile_editor">
    <div id="label">Edit your public user name</div>
    <div class="row">
      <input id = "user_name_input" type="text">
      <div id = "save_btn" (click)="updateUserInfo()">Save</div>
    </div>
  </div>
  
  <create-dialog></create-dialog>
</div>



<competitions-list
  heading="Your Competitions"
  route="editor"
  [host_user_id]="user.id"
  [competitionsList]="this.userCompetitions"
></competitions-list>
