@use "../../../../assets/mixins" as *;
@use "../../../../assets/colors";
@use "../../../../assets/fonts";

:host {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        border: none;
        outline: none;
        background-color: whitesmoke;
        padding: 8px;
        padding-inline: 1rem;
        margin-left: 1rem;
        border-radius: 1rem;
        @include sweetBorder();
    }
    input:active {
        outline: none;
    }
    #trunc_title_btn {
        cursor: pointer;
    }
}
