#text_input_body{
    display: flex;
    align-items: center;
    background-color: transparent;
    padding : 4px;
    padding-inline: 16px;
    border-radius: 24px;
    input{
      border : none;
      outline: none;
      background-color: whitesmoke;
      padding : 4px;
      width: 150px;
      font-family: appFont;
      font-size: 1.1rem;
      margin-inline: 4px;
      border-radius: 24px;
    }
    input:active{
      border : none;
      outline: none;
    }
    #trunc_title_btn{
        cursor: pointer;
    }
    
  }