<app-bar></app-bar>

<!--div id="logo" class="app-line">Hunter <span>I</span></div-->

<div id="tagline" class="app-line">Your Place To Host Programming Competitions.</div>

<div class="row">
  <img id="ss1" class="app-img-r" src="../../../assets/ss1.png" width="640px" height="640px">
  <div id="ss1_tag" class="app-line">Build Your Own Competitions With A Click.</div>
</div>

<div class="row" id="ss2_row">
  <div id="ss2_tag" class="app-line">Let The World Participate In Your Challenge</div>
  <img id="ss2" class="app-img-b" src="../../../assets/ss4.png">
</div>

<div class="row">
  <img id="ss3" class="app-img-r" width="640px" height="640px" src="../../../assets/ss3.png">
  <div id="ss3_tag" class="app-line">Compile & Execute On Hunter's Servers.</div>
</div>

<div *ngIf="!isAuthenticated" class="row">
  <div id="login_tag" class="app-line">Login Into Your Account</div>
  <login-dialog></login-dialog>
</div>

