@use "../../../assets/fonts";
@use "../../../assets/colors";
@use "../../../assets/mixins" as *;
@media only screen and(max-width : 1024px) {
  #tagline{
    font-size: 3rem;
  }
}

@media only screen and(min-width : 1024px) {
  #tagline{
    font-size: 7rem;
  }
}

.container_f2{
  display: flex;
  flex-wrap : wrap;
  justify-content: space-around;
  margin-top: 84px;
}

div#tagline{
  font-family: appFont;
  font-weight: bolder;
  vertical-align: middle;
}

@keyframes come_close_right {
  100%{
    transform: scale(1.5);
    color: colors.$text_white;
    background-color: colors.$text_black;
  }
}




