@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

#num{
  @include appTextArea;
  width: fit-content;
  font-size: 8rem;
  margin-inline: auto;
  margin-top: 30%;
  font-weight: 1000;
  background-color: transparent;
}

#msg, #link{
  margin-top: 120px;
  font-family: appFont;
  font-size: 4rem;
  text-align: center;
}

#link{
  @include appTextArea;
  font-size: 2rem;
  margin-inline: auto;
  width: fit-content;
  cursor: pointer;
  padding : 24px;
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

#link:hover{
  color : black;
}
