@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;
.container_f2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 54px;
}

@media only screen and (max-width : 850px){
  #register_tagline{
    font-size: 30px;
    text-align: center;
    width: 520px;

  }
}

signin-dialog{
  margin-left: 2%;
  margin-right: 2%;
}


@media only screen and (min-width : 850px){
  #register_tagline{
    width: 520px;
    font-size: 120px;
  }
}

#register_tagline{
  font-family: appFont;
  font-weight: bolder;
  margin-left: 5%;
  margin-right: 5%;
}


