@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

#create_dialog_popup {
    .error {
        font-weight: normal;
        color: colors.$error;
        text-align: left;
        padding-top: 0px;
    }
    p {
        max-width: 712px;
    }

    input {
        @include appTextArea;
        margin-left: 0px;
        width: calc(100% - 2rem);
    }

    #create {
        font-size: 1.2rem;
        width: 100%;
        margin-top: 1.5rem;
    }
}

.create_btn {
    max-width: 60rem;
    padding: 2rem;
    margin: 2rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: 300ms;
    @include yellowBg;
    border-width: 2px;

    &:hover {
        cursor: pointer;
        background-color: rgb(255, 249, 240);
        transform: scale(1.01);
    }
}
