<app-loading *ngIf="loading"></app-loading>

<popup
    title="Destructive Action"
    id="delete_confirm"
    (closeEvent)="handleDeleteConfirmation($event)"
>
    You are about to delete the question. This is an irreversible action.
</popup>

<ol id="questions_list">
    <div>Questions</div>
    <li
        *ngFor="let question of this.questionsList; index as i"
        [ngClass]="{ 'selected-question': questionSelected == i }"
        (click)="selectQuestion($event)"
    >
        Q
        <fa-icon
            *ngIf="getQuestionProgress(question.id) as quesProgress"
            [icon]="quesProgress.accepted ? checkIcon : crossIcon"
            [style]="
                quesProgress.accepted ? 'color: darkgreen' : 'color: darkred'
            "
            class="question-progress"
            [matTooltip]="quesProgress.total + ' points'"
            matTooltipPosition="above"
        ></fa-icon>

        <span>
            {{ this.questionsList.indexOf(question) }}
        </span>
    </li>
    <div
        matTooltip="Insert one new question"
        *ngIf="editable"
        id="create_question_btn"
        (click)="addQuestion()"
    >
        Add
    </div>
    <div
        matTooltip="Save changes for the selected question"
        *ngIf="editable"
        id="save_question_btn"
        (click)="saveClicked.emit()"
    >
        Save
    </div>
    <div
        matTooltip="Delete the selected question"
        *ngIf="editable"
        id="delete_question_btn"
        (click)="showDeleteConfirmation(true)"
    >
        DELETE
    </div>
</ol>
