<img
    *ngIf="userInfo && !noAvatar"
    src="{{ userInfo.avatar_url || '/assets/empty-profile.webp' }}"
    alt="user-avatar"
    class="avatar"
/>
<a
    *ngIf="!noClick"
    class="user-name link-like"
    routerLink="/u/{{ userInfo?.id }}"
>
    <span class="name-text">
        {{ userInfo?.name?.trim() || "Anonymous" }}
    </span>
    <span class="user-tag">#{{ userInfo?.id }}</span>
</a>

<span *ngIf="noClick" class="user-name">
    <span class="name-text">
        {{ userInfo?.name?.trim() || "Anonymous" }}
    </span>
    <span class="user-tag">#{{ userInfo?.id }}</span>
</span>
