:host {
    display: inline-flex;
    align-items: center;

    * {
        color: inherit;
    }
}

.avatar {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
    margin-right: 0.3rem;
    margin-bottom: 3px;
}

.user-tag {
    opacity: 0.6;
}

.user-name {
    display: inline-flex;
    align-items: center;
}

.name-text {
    max-width: 13rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
