:host {
    display: inline-flex;
    align-items: center;
}

.avatar {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
    margin-right: 0.3rem;
    margin-bottom: 3px;
}

.user-name {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
