@use "../../../assets/colors";
@use "../../../assets/mixins";

#dialog_box{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.548);
  box-shadow: 0 50px 9000px 900px rgba(0, 0, 0, 0.548);
}

#dialog{
  background-color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  //box-shadow: 0 0 9000px 9000px rgba(0, 0, 0, 0.295);
  box-shadow: 0 50px 9000px 9px rgba(0, 0, 0, 0.295);

  p.h1{
    font-family: appFont;
    font-weight: bold;
    color: colors.$text_black;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
  }

  p.h2{
    font-family: appFont;
    font-weight: normal;
    color: colors.$text_black;
    width: 100%;
    text-align: left;
    padding-top: 1rem;
    padding-left: 20px;
    font-size: 1rem;
  }

  p.error{
    font-family: appFont;
    font-weight: normal;
    color: colors.$error;
    text-align: left;
    padding: 20px;
    padding-top: 0px;
  }

  input{
    @include mixins.inputText;
    background-color : colors.$dim_white;
    border-width: 1px;
    margin-inline: 20px;
    margin-top: 0px;
  }

  #create_btn{
    font-family: appFont;
    font-weight: normal;
    font-size: 1.2rem;
    border-width: 0px;
    border-radius: 24px;
    padding: 16px;
    margin : 16px;
  }

  #create_btn:hover{
    background-color: colors.$app_e;
    color: colors.$text_white;
  }

}
