<div id = "competitions_list">
  <p class = "heading">{{this.heading}}</p>

  <ul id="competitions_ol">
    <li *ngFor="let com of this.competitionsList">
      <div class = "competition_card" routerLink="/{{this.route}}/{{com.id}}">
        <div id = "c_title">{{com.title}}</div>
        <div id = "c_host_user">By {{com.host_user_id | userInfoPipe | async}}</div>
        <div id ="start_schedule"
          [style.color]="isAfterNow(com.start_schedule) && isLive(com.start_schedule, com.duration) ? '#D2122Ebb' : 'colors.$text_black' "
        >
          Live from {{com.start_schedule | date : "full" : "IST"}}
          &nbsp;
          <div *ngIf="!isLive(com.start_schedule, com.duration)" ><b>Has Ended</b></div>
        </div>
        <p id = "c_about">{{com.description}}</p>
      </div>
    </li>
    <li><div id="list_end">No more {{this.heading}} available!</div></li>
  </ul>
</div>
