<app-loading *ngIf="loading"></app-loading>

<div class="appBar">
  <div id="app_title">
    <a id = "app_title_full">{{app_title}}</a>
    <div *ngIf="!isAuthenticated && showRegisterBtn" id = "register_btn" (click)="redirectToGitHubOAuth()">SIGN IN</div>
    <div *ngIf="isAuthenticated" id= "user_email" routerLink="/editor/workbench" >{{user.email}}</div>
    <div *ngIf="isAuthenticated && user.name" id= "user_name" routerLink="/editor/workbench" >{{user.name}}</div>
    <a *ngIf="isAuthenticated" id = "logout_btn" (click)="sendLogoutRequest()">Logout</a>
  </div>
  <a id="navBarBtn" (click)="toggleNavBar()">EXPLORE
    <div id="navBarCompact">
      <ul>
        <li routerLink="/home">
          HOME
        </li>
        <li routerLink="/compete">
          COMPETITIONS
        </li>
        <li *ngIf="isAuthenticated" routerLink="/editor/workbench">
          EDITOR
        </li>
        <li routerLink="/about">
          ABOUT
        </li>
      </ul>
    </div>
  </a>

  <div id = "navBar">
    <ul>
      <li routerLink="/home">
        HOME
      </li>
      <li routerLink="/compete">
        COMPETITIONS
      </li>
      <li *ngIf="isAuthenticated" routerLink="/editor/workbench">
        EDITOR
      </li>
      <li routerLink="/about">
        ABOUT
      </li>
    </ul>
  </div>
</div>