@use "../../assets/colors";
@use "../../assets/mixins" as *;
@use "../../assets/fonts";



#created_on{
  background-color: whitesmoke;
  font-family: appFont;
  font-size: 0.8rem;
  width: fit-content;
  padding : 10px;
  margin-inline: auto;
  border-radius: 0px 0px 24px 24px ;
}

#visbility_controller{
  display: flex;
  margin-top: 16px;
  font-family: appFont;
  cursor: default;
  border: 1px solid gray;
  border-radius: 24px;

  #id{
    background-color: white;
    border-radius: 24px 0px 0px 24px;
    font-family: appFont;
    width: fit-content;
    padding : 10px;
  }

  #rating{
    background-color: whitesmoke;
    font-family: appFont;
    width: fit-content;
    padding : 10px;
  }

  #visibility{
    background-color: rgb(20, 220, 120);
    color : rgb(0, 0, 0);
    border-radius: 0px 24px 24px 0px;
    font-family: appFont;
    font-weight: bold;
    width: 64px;
    padding : 10px;
    cursor: pointer;
    text-align: center;
  }
}

.vertical_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.row_flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


#title_label, #desc_label, #duration_label, #schedule_label{
  font-family: appFont;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
  margin-left: 16px;
  margin-top: 6px;
  color: colors.$text_black;
}

#competition_duration, #competition_schedule{
  @include appTextArea;
  font-size: 1rem;
}


#text_title{
  @include appTextArea();
  width: 246px;
  margin-top: 4px;
}

#text_description{
  @include appTextArea();
  min-width: 0px;
  width: 512px;
  margin-top: 4px;
}


@media only screen and (max-width : 556px) {
  #text_description, #text_title{
    width: 320px;
  }

}

#controls{
  position: fixed;
  bottom: 0px;
  left: auto;
  right: auto;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.295);
  backdrop-filter: blur(8px);

  button{
    font-family: appFont;
    font-weight: normal;
    color: colors.$text_black;
    font-size: 1rem;
    background-color: transparent;
    border-width: 0px;
    padding-inline: 16px;
    min-width: 156px;
    margin: 8px;
    //border: solid colors.$text_white;
    //border-width: 1px;//0px 1px 0px 1px;
  }
  button:hover{
    transform: scale(1.1);
  }

}

#questions_list{
  list-style: none;
  padding: 0px;
  display: flex;
  overflow: scroll;
  border-radius: 12px;
  font-family: appFont;
  margin-inline: 7%;
  scroll-behavior: smooth;

  div{
    background-color: white;
    border-radius: 12px;
    padding : 16px;
    font-weight: bold;
    width: max-content;
    text-align: center;
    margin-right: 16px;
    cursor: default;
    border : 1px solid gray;

  }

  div#create_question_btn{
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
  }

  div#delete_question_btn{
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
  }

  li{
    background-color: #E4E4E4;
    border-radius: 12px;
    padding : 16px;
    font-weight: bold;
    width: max-content;
    text-align: center;
    margin-right: 6px;
    cursor: pointer;
  }

  li:hover, div#create_question_btn:hover, div#save_question_btn:hover, div#delete_question_btn:hover{
    background-color: colors.$text_black;
    color : colors.$text_white;
  }
}

#question_editor{
  align-items: stretch;
  width: 100%;
  margin-bottom: 5%;
}

#qtitle_label, #qstatement_label{
  padding-left: 7.5%;
  font-family: appFont;
  font-weight: normal;
  margin-top: 16px;
  font-size: 1.2rem;
}

#text_qtitle, #text_statement{
  @include appTextArea;
  margin-inline: 7%;
}

label.file_input{
  font-family: appFont;
  font-weight: bold;
  color: colors.$text_black;
  background-color: colors.$dim_white;
  border-radius: 24px;
  width: fit-content;
  padding : 12px;
  margin : 4px;
  cursor: default;
}
label.file_input:hover{
  background-color: colors.$sweet_white;
}

input.file_input{
  display: none;
}

#question_points{
  @include appTextArea;
}

.info_text{
  text-align : center;
  font-family: appFont;
  color : white;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

#log{
  font-family: appFont;
  font-style: italic;
  color:black;
}

body{
  margin: 0px;
}
