@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

.points-time-col {
    flex-basis: 60%;
}

.next-prev-options {
    @include nextPrevControls;
}

.view-submission {
    cursor: pointer;
    white-space: nowrap;

    fa-icon {
        color: colors.$text_black;
    }

    &:hover {
        span {
            text-decoration: underline;
        }
    }
}

#pts_desc::-webkit-scrollbar {
    display: none;
}

code-editor {
    // @include basicBack;
    display: block;
    width: 860px;
    margin-block: 1rem;
    // overflow: scroll;
}

pretty-meta {
    display: block;
    padding: 1rem;
    @include basicBackZ;
}

@media only screen and (max-width: 720px) {
    #output_points {
        flex-direction: column;
        #pts_desc {
            width: 91% !important;
        }
    }
}

@media only screen and (max-width: 512px) {
    .points-time-col {
        display: none !important;
    }

    .btable div div {
        flex-basis: initial;
    }
}
