@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

.points-time-col {
    flex-basis: 60%;
}

.next-prev-options {
    @include nextPrevControls;
}

.view-submission {
    cursor: pointer;
    white-space: nowrap;

    fa-icon {
        color: colors.$text_black;
    }

    &:hover {
        span {
            text-decoration: underline;
        }
    }
}

.view-submission-container {
    .user-submission {
        pre {
            @include basicBack;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            max-width: 38rem;
            max-height: 24rem;
            overflow: auto;
        }
    }

    .grading-status {
        @include basicBack;
        font-weight: 500;
    }
}

.submission-row {
    cursor: pointer;
}

#pts_desc::-webkit-scrollbar {
    display: none;
}

code-editor {
    display: block;
    max-width: 720px;
    margin-block: 1rem;
}

pretty-meta {
    display: block;
    padding: 1rem;
    @include basicBackZ;
}

@media only screen and (max-width: 720px) {
    #output_points {
        flex-direction: column;
        #pts_desc {
            width: 91% !important;
        }
    }
}

@media only screen and (max-width: 512px) {
    .points-time-col {
        display: none !important;
    }
}
