@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

.points-time-col {
    flex-basis: 60%;

    &:not(.header) {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
    }
}

.next-prev-options {
    @include nextPrevControls;
}

.view-submission {
    cursor: pointer;
    white-space: nowrap;

    fa-icon {
        color: colors.$text_black;
    }

    &:hover {
        span {
            text-decoration: underline;
        }
    }
}

.eval-table-view-container {
    display: flex;
    width: 100%;

    .evaluation-table {
        flex-basis: 40%;
        height: fit-content;
        position: sticky;
        top: 10rem;
        margin-right: 1rem;
    }

    .view-submission-container {
        @include blackBack;
        flex-grow: 1;
        border-radius: 1rem;
        max-width: 55%;
    }
}

.submission-row {
    cursor: pointer;
}

#pts_desc::-webkit-scrollbar {
    display: none;
}

code-editor {
    display: block;
    max-width: 720px;
    margin-block: 1rem;
}

pretty-meta {
    display: block;
    padding: 1rem;
    @include basicBackZ;
}

@media only screen and (max-width: 720px) {
    #output_points {
        flex-direction: column;
        #pts_desc {
            width: 91% !important;
        }
    }
}

@media only screen and (max-width: 512px) {
    .points-time-col {
        display: none !important;
    }
}
