@use "../../../assets/fonts";
@use "../../../assets/colors";
@use "../../../assets/mixins" as *;

#bg{
    @include popup;
    font-family: appFont;
}


#dialog::-webkit-scrollbar{
    display: none
}

#dialog{
    @include popupBox;
    max-height: 890px;
    overflow-y: scroll;
    padding: 24px;
    font-size: 1.2rem;
    margin-inline: 2%;

    #title{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .row{
        margin-top: 24px;
        display: flex;
        justify-content: space-around;

        div{
            padding : 8px;
            padding-inline: 16px;
            background-color: colors.$text_white;
            cursor: pointer;
            border-radius: 12px;
        }

        div:hover{
            background-color: whitesmoke;

        }
    }
}