@use "../../../assets/colors";
@use "../../../assets/fonts";
@use "../../../assets/mixins";




div#loginDialog{
  background-color: colors.$dim_white;
  width: 300px;
  height: 500px;
  border-radius: 30px;
  padding-top: 1px;
  /*float: right;
  margin-right: 8%;
  margin-top: 64px;
  margin-left: 1%;*/

  p.sectionHeading{
    position: relative;
    font-size: 1.5em;
    margin-top: 16px;
    text-align: center;
    font-family: appFont;
    font-weight: bolder;
    color: colors.$text_black;
    align-self: center;
  }
  p.inputHeading{
    position: relative;
    font-size : 16px;
    margin-top: 34px;
    margin-bottom: 5px;
    margin-left: 17px;
    font-family: appFont;
    font-weight: normal;
    color: colors.$text_black;
  }
  input.textbox{
    @include mixins.inputText;
  }
  #keep_logged_check{
    size: 12px;
    margin-left: 17px;
    margin-top: 5px;
    float: left;
  }

  p.line{
    font-size: 12px;
    float: left;
    font-family: appFont;
    margin-top: 5px;
    margin-left: 5px;
    text-align: justify;
    font-weight: normal;
    color: colors.$text_black;
  }
  p.line:hover{
    cursor: pointer;
  }
  #login_btn{
    background-color: #ffffff;
    border-radius: 5px;
    color: colors.$text_black;
    border-width: 0px;
    stroke-width: 0px;
    height: 30px;
    width: 271px;
    margin-left: 12px;
    margin-right: 12px;
    font-weight: bold;
    font-family: appFont;
    text-align: center;
  }
  #login_btn:hover{
    animation: come_close;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

  }
  #login_btn:hover:active{
    animation: push;
    color: colors.$text_white;
    background-color: colors.$text_black;
  }

  @keyframes come_close {
    100%{
      transform: scale(1.05);
      color: colors.$text_white;
      background-color: colors.$text_black;
    }
  }

  @keyframes push {
    100%{
      transform: scale(0.9);
    }
  }
  #register_heading{
    font-size: 12px;
    font-family: appFont;
    margin-top: 50px;
    font-weight: normal;
    color: colors.$text_black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
  }
  #register_heading:hover{
    cursor: pointer;
    transform: scale(1.05);
  }

  #responseMessage{
    font-size: 12px;
    font-family: appFont;
    margin-top: 50px;
    font-weight: normal;
    color: rgb(148, 48, 48);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }



}
