@use "../../../../assets/colors";
@use "../../../../assets/fonts";
@use "../../../../assets/mixins" as *;

:host {
    .last-verification-res {
        @include basicBack;
        margin-bottom: 3rem;
        margin-inline: auto;
        padding-bottom: 2rem !important;

        .failure-reason {
            pre {
                width: 100%;
                overflow: scroll;
                font-weight: 100;
            }
        }
    }
    .test-solution-btn {
        margin-left: auto;
    }
}
