<div class="last-verification-res">
    <pretty-meta
        *ngIf="lastVerification"
        [meta]="lastVerification.reason"
        [success]="lastVerification.success"
    ></pretty-meta>

    <i *ngIf="lastVerification">
        <br />Last verification attempted at
        {{ lastVerification.created_at.toLocaleString() }}</i
    >
    <br />
    <br />
    <button
        class="main"
        [ngClass]="{
            'no-click disabled': verificationInProgress,
            'test-solution-btn': true
        }"
        (click)="verifySolution()"
    >
        Submit New Verification Request
    </button>
</div>

<p>
    Use the code tester to verify that your created competition is valid and is
    solvable. To proceed please select desired language and write correct code
    for the solution of this question. We will verify if your solution works.
</p>

<code-editor [(code)]="code" [(languageSelected)]="language"> </code-editor>
