@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

.drop-down-list{
  font-family: appFont;
  background-color: colors.$text_black;
  color: colors.$text_white;
  padding-inline: 8px;
  height: 1.8rem;
  min-width: 64px;
  width: max-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  cursor: pointer;

  div{
    display: flex;
    flex-direction: row;
    margin-left: 24px;
  }

  li{
    list-style: none;
    height: 1.8rem;
    padding-inline: 12px;
    display: flex !important;
    align-items: center;
  }

  li:hover{
    background-color: rgb(22, 22, 22);
  }

}

.drop-down-list:hover{
  background-color: #3f3f3f;
}

