<div id="question_title" [ngClass]="{ 'titleOnly': titleOnly }">
    <span class="title_text">
        {{ questionInfo.title || "Untitled" }}
    </span>
    <br /><br />

    <span class="info-like"
        >Correct Submission: <b>{{ questionInfo.points }} </b> points
    </span>
    <br />
    <span class="info-like" *ngIf="!questionInfo.neg_points">
        No negative marking
    </span>
    <span class="info-like" *ngIf="questionInfo.neg_points">
        Incorrect submission:
        <b>-{{ questionInfo.neg_points }} </b> points
    </span>
    <ques-type-label [ques_type]="questionInfo.type"></ques-type-label>
</div>

<div id="question_statement" *ngIf="!titleOnly">
    <b>Statement</b>
    <br />
    <br />
    <div id="statement-content"></div>
    <!-- [innerHtml]="getQuestionStatement(questionInfo.statement)" -->
    <br />

    <div *ngIf="questionInfo.sample_cases">
        <b>Sample Cases</b>
        <pre>{{ questionInfo.sample_cases }}</pre>
    </div>
    <div *ngIf="questionInfo.sample_sols">
        <b>Sample Output</b>
        <pre>{{ questionInfo.sample_sols }}</pre>
    </div>
</div>
