@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

:host {
    @include basicBack;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin-bottom: 1rem;
    padding-top: 1rem !important;
}

.title_text {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

#question_title,
#question_statement {
    // background-color: white;
    // padding: 16px;
    // border-radius: 1rem;
    // @include sweetBorder();

    font-size: 1.05rem;

    ques-type-label {
        float: right;
        margin-top: 0.5rem;
    }
}

// #question_title.titleOnly {
//     background-color: ghostwhite;
// }

#question_statement {
    font-size: 1.05rem !important;
    flex-grow: 1;
    // flex-basis: 70%;
}
