<body>
    <style type="text/css">
        body {
            font-family: "Segoe UI", Helvetica, Arial, sans-serif;
            background-color: #f4f4f7;
            padding: 40px 5px;
            color: #333333;
            margin: 0;
        }
        .container {
            width: 100%;
            max-width: 512px;
            padding: 16px;
            padding-top: 32px;
            margin: 0 auto;
            background: #fbfbfb;
            overflow: hidden;
        }
    </style>

    <div class="container">
        <a
            style="width: 100%; display: flex; justify-content: center"
            href="https://hunter.cambo.in"
            target="_blank"
        >
            <img
                src="http://127.0.0.1:4200/assets/eh.png"
                alt="Hunter Logo"
                style="
                    border-radius: 8px;
                    width: 100%;
                    max-width: 470px;
                    margin: 0 auto;
                "
            />
        </a>
        <br />
        <br />

        <p style="padding-inline: 8px">
            Dear <%= user.name %>,
            <br />
            <br />
            This is our first product update report and we are thrilled to
            introduce you to some new features and enhancements we've rolled out
            in Hunter in past years. All of the updates were passionately worked
            on to provide more refined platform for contests and interviews.
            <br />
            <br />
            Read until the end to learn about all the updates.
        </p>
        <br />

        <a href="https://hunter.cambo.in" target="_blank">
            <img
                src="http://127.0.0.1:4200/assets/e1.png"
                alt="Hunter Logo"
                style="border-radius: 8px; width: 100%"
            />
        </a>
        <p style="padding-inline: 48px">
            Completely revamped the competition page to improve the languages’
            support, code analytics and the UX.
        </p>
        <br />

        <a href="https://hunter.cambo.in" target="_blank">
            <img
                src="http://127.0.0.1:4200/assets/e2.png"
                alt="Hunter Logo"
                style="border-radius: 8px; width: 100%"
            />
        </a>
        <p style="padding-inline: 48px">
            Simple and clear controls over privacy features, with new private
            invitations for interview tests.
        </p>

        <br />

        <a href="https://hunter.cambo.in" target="_blank">
            <img
                src="http://127.0.0.1:4200/assets/e3.png"
                alt="Hunter Logo"
                style="border-radius: 8px; width: 100%"
            />
        </a>
        <p style="padding-inline: 48px">
            Hunter now supports 3 more question types in addition to coding
            questions, which are suitable for academic tests.
        </p>

        <br />

        <a href="https://hunter.cambo.in" target="_blank">
            <img
                src="http://127.0.0.1:4200/assets/e4.png"
                alt="Hunter Logo"
                style="border-radius: 8px; width: 100%"
            />
        </a>
        <p style="padding-inline: 48px">
            Improvements have been made to provide more easy control over
            scheduling and time limits.
        </p>

        <br />

        <a href="https://hunter.cambo.in" target="_blank">
            <img
                src="http://127.0.0.1:4200/assets/e5.png"
                alt="Hunter Logo"
                style="border-radius: 8px; width: 100%"
            />
        </a>
        <p style="padding-inline: 48px">
            What if your coding problem is not solvable? Just use the new tester
            on the Editor page to check just that!
        </p>

        <br />

        <a href="https://hunter.cambo.in" target="_blank">
            <img
                src="http://127.0.0.1:4200/assets/e6.png"
                alt="Hunter Logo"
                style="border-radius: 8px; width: 100%"
            />
        </a>
        <p style="width: 100%; text-align: center">
            Go visit
            <a href="https://hunter.cambo.in" target="_blank"
                >hunter.cambo.in</a
            >
            to see more
        </p>
        <br />
        <br />

        <p style="width: 100%; text-align: center">
            &copy; 2025 Hunter. All rights reserved.
        </p>

        <br />
        <br />

        <p style="width: 100%; text-align: center; color: rgb(131, 131, 131)">
            <a
                href="https://hunter.cambo.in/u/<%= user.id %>"
                style="color: rgb(65, 65, 65)"
                target="_blank"
                >Unsubscribe</a
            >
            to stop receiving product updates in future.
        </p>
    </div>
</body>
