<app-bar></app-bar>

<app-loading *ngIf="loading"></app-loading>

<div class="community-form-container large-app-page">
    <div class="info">
        <h2>What are Hunter Communities?</h2>

        <p>
            Communities are spaces where people from the same college, school,
            or group come together to learn, share, and grow. They’re built
            around common goals like coding, creativity, or collaboration.
        </p>

        <h3>Why Create a Community?</h3>

        <p>
            <fa-icon [icon]="starIcon"></fa-icon>
            Bring together students, teachers, or members who share the same
            passion Learn and grow together. <br />
            <fa-icon [icon]="starIcon"></fa-icon>

            Members get notified whenever you host a contest in the community.
            <br />
            <fa-icon [icon]="starIcon"></fa-icon>

            Show your identity, represent your institution or group on the
            platform Build engagement

            <br />
            <fa-icon [icon]="starIcon"></fa-icon>

            Stay active to make your presence lively, and let your members
            participate in your fun contests
        </p>

        <img src="../../../../assets/community-illu.svg" alt="" />

        <h3>In Short</h3>

        <p>
            A community is your space to collaborate, create, and compete with
            others who share your interests or institution
        </p>
    </div>

    <spinner *ngIf="!isAuthenticated && loading"></spinner>

    <div *ngIf="!isAuthenticated && !loading">
        <sign-in-prompt></sign-in-prompt>
    </div>

    <div class="form" *ngIf="isAuthenticated">
        <h4>Name of the Community</h4>
        <p class="info-like sticky">
            Could be your Official Community name or name of the education
            institute
        </p>
        <input type="text" [(ngModel)]="community.name" />
        <manual-error [message]="errors.name"></manual-error>

        <h4>Description</h4>
        <p class="info-like sticky">
            Explain what defines your community, what you do and/or how you do
            it.
        </p>
        <textarea type="text" [(ngModel)]="community.description"> </textarea>
        <manual-error [message]="errors.description"></manual-error>

        <h4>Website</h4>
        <p class="info-like sticky">
            Any external link that refers to your community
        </p>
        <input type="text" [(ngModel)]="community.website_link" />
        <manual-error [message]="errors.website_link"></manual-error>

        <h4>Logo (Upload an image)</h4>
        <input type="file" (change)="onLogoFileChange($event)" />
        <manual-error [message]="errors.logo_file_path"></manual-error>

        <br />
        <br />

        <p class="flex-row i-confirm">
            <input type="checkbox" [(ngModel)]="iConfirm" />
            <span (click)="iConfirm = !iConfirm">
                I confirm I am an authorized representative of this community
                and understand that false representation may result in a
                permanent ban if reported
            </span>
        </p>
        <manual-error [message]="errors.iConfirm"></manual-error>

        <br />

        <button
            class="main"
            [ngClass]="{ disabled: loading }"
            (click)="sendRequest()"
        >
            Submit the request
        </button>
    </div>
</div>

<bottom-app-bar></bottom-app-bar>
