@use "../../../assets/fonts";
@use "../../../assets/colors";
@use "../../../assets/mixins" as *;

.heading{
  font-family: appFont;
  font-weight: normal;
  color: colors.$text_black;
}


.flex_container{
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: center;
}




#join_competition{
  background-color: whitesmoke;
  border-radius: 12px;
  margin-top: 24px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding : 6px;
 
}


#join_competition p.heading{
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding-inline: 12px;
}

#competition_id_text{
    border-radius: 8px;
    color: colors.$text_black;
    background-color: colors.$text_white;
    height: 28px;
    border-width: 0px;
    width: 212px;
    font-family: appFont;
    font-size: 16px;
    text-align: left;
    padding-left: 12px;
}

#btn_submit_compt_code{
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin : 16px;
  background-color: colors.$text_white;
  color: colors.$text_black;
  stroke-width: 0px;
  border-width: 0px;
  height: 28px;
  width: 48px;
  border-radius: 8px;
  font-family: appFont;
  font-weight: bold;
}

#btn_submit_compt_code:hover{
  background-color: colors.$text_black;
  color : colors.$text_white;
}


