<div
    class="community"
    *ngFor="let community of communities"
    routerLink="/communities/browse/{{ community.id }}"
    [ngClass]="{ 'disabled no-click': community.status !== 'APPROVED' }"
    [matTooltip]="getStatusTooltip(community)"
>
    <div
        class="badge"
        *ngIf="
            ['PENDING_APPROVAL', 'NOT_APPROVED', 'DISABLED'].includes(
                community.status
            )
        "
        [ngClass]="{
            'badge--pending': community.status === 'PENDING_APPROVAL',
            'badge--rejected':
                community.status === 'NOT_APPROVED' ||
                community.status === 'DISABLED'
        }"
    >
        {{
            community.status === "PENDING_APPROVAL"
                ? "Pending Approval"
                : community.status === "NOT_APPROVED"
                ? "Rejected"
                : community.status === "DISABLED"
                ? "Disabled"
                : community.status
        }}
    </div>

    <div
        class="badge badge--partner"
        *ngIf="community.status === 'APPROVED' && community.is_partner"
        matTooltip="This community is a verified partner of Hunter"
        matTooltipPosition="above"
    >
        <fa-icon [icon]="starIcon"></fa-icon>
        Hunter's Partner
    </div>

    <div class="logo">
        <img
            alt="community logo"
            src="/api/media/{{ community.logo_file_path }}"
        />
    </div>
    <div class="name">
        {{ community.name }}
    </div>
    <div class="desc">
        {{ community.description?.slice(0, 75) + "..." }}
    </div>
</div>
