<div
    class="footer"
    style="
        color: gray;
        border-width: 0;
        border-top: 1px;
        border-style: solid;
        border-color: gainsboro;
        margin-top: 24px;
    "
>
    <p>Platform built with &hearts; to ease the process of hosting contests!</p>

    <p>
        © <%= new Date().getFullYear() %> Hunter (created by
        <a href="https://cambo.in">Cambo</a>) <br />
        All rights reserved.
    </p>
</div>
