<div
    class="footer"
    style="
        color: gray;
        border-width: 0;
        border-top: 1px;
        border-style: solid;
        border-color: gainsboro;
        margin-top: 24px;
    "
>
    <p>Platform built with &hearts; to ease the process of hosting contests!</p>

    <p>
        <a href="https://hunter.cambo.in/about">About</a> &bull;
        <a href="https://github.com/msc24x/hunter">Github</a> &bull;
        <a href="https://cambo.in">Creator</a>
    </p>

    <p>© <%= new Date().getFullYear() %> Hunter. All rights reserved.</p>
</div>
