<style type="text/css">
    .email-body,
    .header,
    .footer {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(49, 49, 49);
    }
    .button {
        display: inline-block;
        padding: 12px 24px;
        border-radius: 8px;
        background-color: crimson;
        color: white !important;
        text-decoration: none;
    }
</style>

<div class="header" style="color: crimson">
    <img
        src="https://hunter.cambo.in/assets/logo-mid.webp"
        alt="Hunter Logo"
        width="80"
        style="border-radius: 8px"
    />
</div>
