<div
    [ngClass]="{ 'no-container': noContainer }"
    class="bg"
    (click)="bgClicked($event)"
>
    <div class="dialog">
        <h2
            *ngIf="!noContainer"
            [ngStyle]="{ 'color': destructive ? 'darkred' : 'initial' }"
        >
            {{ heading }}
        </h2>
        <ng-content></ng-content>
        <div *ngIf="showControls" class="row">
            <button
                class="main"
                [ngClass]="{ 'danger': destructive }"
                (click)="closeEvent.emit('cancel'); closeEvent.emit('continue')"
            >
                {{ continueMessage }}
            </button>
            <button
                *ngIf="!continueOnly"
                class="main sim"
                (click)="closeEvent.emit('cancel')"
            >
                Cancel
            </button>
        </div>
    </div>

    <div
        class="close-icon"
        (click)="bgClicked($event)"
        matTooltip="Close modal"
    >
        <fa-icon [icon]="closeIcon" size="lg"></fa-icon>
    </div>
</div>
