<div class="bg" (click)="bgClicked($event)">
    <div class="dialog">
        <h2 [ngStyle]="{ 'color': destructive ? 'darkred' : 'initial' }">
            {{ heading }}
        </h2>
        <ng-content></ng-content>
        <div *ngIf="showControls" class="row">
            <div class="continue_btn" (click)="closeEvent.emit('continue')">
                Continue
            </div>
            <div class="cancel_btn" (click)="closeEvent.emit('cancel')">
                Cancel
            </div>
        </div>
    </div>

    <div class="close-icon" (click)="bgClicked($event)">
        <fa-icon [icon]="closeIcon" size="2xl"></fa-icon>
    </div>
</div>
