<app-bar></app-bar>

<div class="body">

  <div id = "competition_info">

    <div>
      <b>{{this.competition.title}}</b>
      - {{this.competition.description}}
    </div>

    <div id="duration_info">Time Remaining : <b>{{timeRemaining.min}}</b> mins <b>{{timeRemaining.sec}}</b> sec
    </div>

  </div>

  <questions-list
    [competitionInfo]="competition"
    [questionsList]="competitionQuestions"
    [editable]="false"
    (questionSelectEmitter)="selectQuestion($event)"
  ></questions-list>

  <div id="question_title" [innerText]="">
    Question ID : {{questionSelectedInfo.id}} for {{questionSelectedInfo.points}} pts
    <br>
    <b>{{questionSelectedInfo.title}}</b>
  </div>
  <div id="question_statement" [innerText]="questionSelectedInfo.statement">
  </div>

  <drop-down-list
    listType = "Language"
    [items]="['cpp', 'c', 'py', 'js']"
    (itemSelectedEvent)="languageSelected = $event"
  ></drop-down-list>

  <div id="editor"></div>

  <div id="submit_code_btn" (click)="postSolution()">Submit</div>

  <div class="row sa">
    <div id="output_label">Submission Output</div>
    <div id="pts_desc_label">Evaluation</div>
  </div>

  <div id="output_points">

    <div id="solution_output" [innerText]="solutionOutput"></div>

    <div id="pts_desc">
      
      <div class="table_heading" >
        <div>QuesId</div>
        <div>Score</div>
        <div style="color : darkred;">Penalities</div>
      </div>
      <div *ngFor="let row of evaluation" >
        <div>{{row.question_id}}</div>
        <div>{{row.result}}</div>
        <div style="color : darkred;">{{row.penalities}}</div>
      </div>

    </div>

  </div>

  <scoreboard
    [competition_id]="c_id"
  ></scoreboard>


</div>
