<app-bar></app-bar>

<div id="about">
    
    <h1>About Us</h1>
    <p> 
        Hunter is an Open Source (GNU General Public License v3.0) Software 
        intended to simplify the daliy coding competitions hosting for general public.
        Hunter gives you the ability to create your own coding competitions similar to what you see
        on other competitive sites, but with a lot of easy, simplicity and least maintainance.
    </p>

    <h2>Creator of Hunter</h2>
    <p>
        Hi, I'm Maninderpal Singh. A Software Engineer who did multiple projects. Hunter is one of those projects.
        <br>
        The goal of this platform is to make competitions hosting
        so easy that every student, competitor or teacher could use Hunter to present their
        own designed coding questions with the convenience of a click. Just like social media, I want more and more
        users to host their challanges and everyone else to engage with them.
    </p>
    <p>
        Moreover,  Connect with me
        on <a href="https://linkedin.com/in/msc24x" target="_blank">LinkedIn</a>, <a href="https://instagram.com/msc24x" target="_blank">Instagram</a>. Explore more projects on <a href="https://github.com/msc24x" target="_blank">GitHub</a>.

    </p>

    <h2>How does it work?</h2>
    <p>
        Users can initiate with the free account and start creating competitions. Competitions are
        create on the basis of meta data users provide, such as title, description, length of competition,
        and more parameters. Host can add as many questions they like.
    </p>
    <p>
        Other users who wish to just participate can get ready in the compete page, where all the
        competitions, which were made public by the other users, would appear. Any one can get started
        with them when they are live.
    </p>
    <p>
        Users submit their solution code to the online judge built for Hunter, that detects the language,
        compiles it and test it against the test cases provided by the host user. The judge responds with
        the result. All the results would be public on a live scoreboard during the competition. Participants
        get ranks, based upon which they are benifited from the Hunter or the sponsers if exists. Normal challanging
        competitions are always present here, that are constantly added by the Hunter official account, to keep
        practicing your problem solving skills.
    </p>

    <h2>Security</h2>
    <p>
        Users' designed questions are only accessible through participation for non host users, which further is
        only served if they belong to a live competition set to public. 
    </p>

    <h2>Repository</h2>
    <p>
        Hunter is currently open source and is available on <a href="https://github.com/msc24x/hunter" target="_blank">github</a>
        Although we encourage the competitions to stay on Hunter even if the host user account is deleted, we allow 
        users to declare if they want their competitions to stay or gets removed.
    </p>
    <h3>Technical overview</h3>
    <p>
        Hunter client application is developed in TypeScript using Angular that talks to our NodeJs server. For more
        information regarding the implementation and system design, refer the github repository.
    </p>


</div>

