<app-bar></app-bar>

<div id="about">
    
    <h1>About Us</h1>
    <p> 
        Hunter is an Open Source (GNU General Public License v3.0) Software 
        intended to simplify the daliy coding competitions hosting for general public.
        Hunter gives you the ability to create your own coding competitions similar to what you see
        on other competitive sites, but with a lot of easy, simplicity and least maintainance.
    </p>
    <p>
        For providing feedback, posting bug/vunerability, or reporting any unreliable competition, kindly reach us
        through  <a href="mailto:msc24x@gmail.com">email</a>
    </p>

    <h2>The Creator</h2>
    <p>
        Hi, Maninderpal Singh here. I am a Software Engineer who did multiple projects,
        and Hunter is the one of those projects. The idea originated when I had an urge to set up a coding
        competition. I was looking for convenient platform for this. Even though the popular websites, such as HackerRank,
        provide this kind of hosting service, I decided to create a new one. The decision was not only to build such platform,
        but to learn and improve my own skills; from designing frontend to building a secure and efficient backend API & database, 
        Hunter was built.
        <br><br>
        The goal of this platform is to make coding contest hosting
        so easy that everyone could use Hunter to present their
        own designed coding questions with the convenience of a click. They can build, maintain & participate
        in them under one roof. 
        
    </p>
    <p>
        Moreover,  Connect with me
        on <a href="https://linkedin.com/in/msc24x" target="_blank">LinkedIn</a>, <a href="https://instagram.com/msc24x" target="_blank">Instagram</a>. Explore more projects on <a href="https://github.com/msc24x" target="_blank">GitHub</a>.

    </p>

    <h2>How does it work?</h2>
    <p>
        Users can initiate with the free account and start creating competitions. Competitions are
        create on the basis of meta data users provide, such as title, description, length of competition,
        and more parameters. Host can add as many questions they like.
    </p>
    <p>
        Other users who wish to just participate can get ready in the compete page, where all the
        competitions, which were made public by the other users, would appear. Any one can get started
        with them when they are live.
    </p>
    <p>
        Users submit their solution code to the online judge built for Hunter, that detects the language,
        compiles it and test it against the test cases provided by the host user. The judge responds with
        the result. All the results would be public on a live scoreboard during the competition. Participants
        get ranks, based upon which they are benifited from the Hunter or the sponsers if exists. Normal challanging
        competitions are always present here, that are constantly added by the Hunter official account, to keep
        practicing your problem solving skills.
    </p>

    <p>
        All the code submissions are executed and judged on Hunter's servers. Results are automatically reflected
        on scoreboard. The submissions are tested against the data that is private and only the host can access it.
        No participant can access the set of questions outside the permissible time period that the host defined. 
    </p>

    <h2>Open Source</h2>
    <p>
        Hunter is currently open source and is available on <a href="https://github.com/msc24x/hunter" target="_blank">github</a>.
        I am working on writing System Design Document for Hunter and a API reference for using backend in your applications. It will
        be available soon when it done. 
    </p>

    <h3>Donate</h3>
    <p>
        The project is open source and completely funded by myself for some short period of time. As we do not
        make any money from this project, you can help fund the project to keep it alive. You can UPI on 7888821718@apl
    </p>
    <p>
        <a href="https://www.buymeacoffee.com/msc24x"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a pizza&emoji=🍕&slug=msc24x&button_colour=5F7FFF&font_colour=ffffff&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00" /></a>
    </p>
    


</div>

