@use "../../assets/colors";
@use "../../assets/fonts";

.heading{
  font-family: appFont;
  font-weight: normal;
  color: colors.$text_black;
}

.flex_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#create_btn{
  margin-left: 7%;
  font-weight: bolder;
  font-family: appFont;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-top: 24px;
  width: fit-content;

  #plus_btn{
    background-color: colors.$sweet_white;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 15px 1px #00000044;
  }

}
#create_btn:hover{
  cursor: pointer;
  animation-name: outline;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes outline {
  100%{
    transform: scale(1.1);
  }
}


#join_competition{
  background-color: colors.$sweet_white;
  border-radius: 12px;
  margin-top: 24px;
  margin-left: 7%;
  margin-right: 7%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding : 6px
}


#join_competition p.heading{
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding-inline: 12px;
}

#competition_id_text{
    border-radius: 8px;
    color: colors.$text_black;
    background-color: colors.$sweet_white;
    stroke-width: 0px;
    border-width: 0.3px;
    height: 28px;
    width: 212px;
    font-family: appFont;
    font-size: 16px;
    text-align: left;
    padding-left: 12px;
}

#btn_submit_compt_code{
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin : 16px;
  background-color: colors.$sweet_white;
  color: colors.$text_black;
  stroke-width: 0px;
  border-width: 0.3px;
  height: 24px;
  width: 48px;
  border-radius: 4px;
  font-family: appFont;
}

#btn_submit_compt_code:hover{
  font-weight: bolder;
}

#btn_submit_compt_code:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#public_competitions{
  background-color: colors.$sweet_white;
  border-radius: 12px;
  height: fit-content;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 24px;
}

@media only screen and (max-width : 1024px) {
  #public_competitions{
    margin-inline: 0.5%;
  }
  .flex_container{
    justify-content: center;
  }
  #create_btn{
    margin-left: 0px;
  }
}

#competition_card:hover{
  cursor: pointer;
  background-color: #eeeeee;
}

#list_end{
  display: flex;
  justify-content: center;
  font-family: appFont;
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
}

#public_competitions p.heading{
  margin-left: 16px;
  padding-top: 16px;
  font-size: 26px;
  font-weight: bolder;
}

#list_public_competitions{
  list-style-type: none;
  padding-left: 0px;
  li{
    border-width: 2px;
    border-color: black;
  }
}

.competition_card{
  margin-left: 8px;
  margin-right: 8px;
  margin: 8px;
  padding : 12px;
  border-radius: 16px;
  border-color: black;
  border-width: 110px;
  height: fit-content;
  background-color: #e2e2e2;
  font-family: appFont;

}

.competition_card:hover{
  cursor: pointer;
  background-color: #b8b8b8;
}

#c_title{
  font-weight: normal;
  font-size: 20px;
}
#c_date_created{
  margin-left: 24px;
  font-size: 14px;
  font-weight: lighter;
}

#c_about{
  font-size: 1em;
}
