<app-bar></app-bar>
<app-loading *ngIf="loading"></app-loading>

<div class="body">

  <app-info-card [persist]="true" *ngIf="!isAuthenticated">
    <b>Do a quick sign in & participate in the competition.</b> <br>
  </app-info-card>

  <app-info-card *ngIf="hasEnded" [persist]="true">
    Oops! looks like you have missed the opportunity to participate in the competition.
    Meantime, you can practice other live competitions.
  </app-info-card>

  <app-info-card *ngIf="!hasEnded">
    <b>Important Instructions To Follow </b> <br> 
      <ul>
        <li>The available questions are displayed in the 'Questions' list. Submission can be done only if one is selected.</li>
        <li>Make sure that your are writing code in right selected language.</li>
        <li>To check the correctness of your code, use Run Test Cases button to run your code against one sample test case. This won't result in any penality if some error occured.</li>
        <li>Make sure to submit appropriate time before the competition ends, unless it is a live forever competition.</li>
        <li>To Fetch Last Submission, you must have to make atleast one Submit or Run Test Cases. Be aware enough not to close the tab and loose your in progress code.</li>
        <li>Every wrong submission results in penality and affects your Rank.</li>
        <li>Once you have made any successfull submission, the points of the question will be accumulated in your total score. No penality would be counted after this.</li>
        <li>If the host had not uploaded the files for test cases or the sample test cases, Output will return an error describing the same. In this case you can wait for host to update the competition or contact the Hunter team to report the comptition.</li>
        <li>Hunter being truly open for everyone to host, we respect the reliability for the participants. Kindly report any bad competition to the Hunter immediately.</li>
      </ul>  
  </app-info-card>

  <div id = "competition_info">

    <div>
      <b>{{this.competition.title}}</b>
      - {{this.competition.description}}
    </div>

    <div *ngIf="!hasEnded && isAuthenticated" id="duration_info">Time Remaining : <b>{{timeRemaining.min}}</b> mins <b>{{timeRemaining.sec}}</b> sec
    </div>

  </div>

  <questions-list
    *ngIf="!hasEnded && isAuthenticated"
    [competitionInfo]="competition"
    [questionsList]="competitionQuestions"
    [editable]="false"
    (questionSelectEmitter)="selectQuestion($event)"
    [(questionSelected)]="questionSelected"
  ></questions-list>

  <div *ngIf="questionSelected != -1 && isAuthenticated" id="question_title">
    Question ID : {{questionSelectedInfo.id}} for {{questionSelectedInfo.points}} pts
    <br><br>
    <b>{{questionSelectedInfo.title}}</b>
  </div>

    
  <div *ngIf="questionSelected != -1 && isAuthenticated" id="question_statement">
    <ng-katex [data]="questionSelectedInfo.statement || ''"></ng-katex>
  </div>

  
  <div *ngIf="isAuthenticated" class="row">
    
    <drop-down-list
      *ngIf="!hasEnded" 
      listType = "Language"
      [items]="['cpp', 'c', 'py', 'js']"
      (itemSelectedEvent)="languageSelected = $event; updateEditorMode()"
    ></drop-down-list>

    <div *ngIf="!hasEnded" id="load_template_btn" (click)="loadTemplate()">
      Load Template
    </div>
  </div>

  <div *ngIf="!hasEnded && isAuthenticated" id="editor"></div>

  <div id="submit_controls" *ngIf="questionSelected != -1  && isAuthenticated" class="row">
    <div class="button" id="submit_code_btn" (click)="postSolution()">Submit</div>
    <div class="button"  id="submit_code_samples_btn" (click)="postSolution(true)">Run Sample Cases</div>
    <div class="button" id="fetch_last_submit" (click)="fetchLastSubmission()">Fetch Last Submission</div>
    <div>{{fetchSubmissionMsg}}</div>
  </div>

  <div *ngIf="isAuthenticated && !hasEnded" class="row sa">
    <div id="output_label">Submission Output</div>
    <div id="pts_desc_label">Evaluation</div>
  </div>

  <div  *ngIf="isAuthenticated && !hasEnded" id="output_points">

    <div id="solution_output" [innerText]="solutionOutput"></div>

    <div id="pts_desc">
      
      <div class="table_heading" >
        <div>QuesId</div>
        <div>Score</div>
        <div style="color : darkred;">Penalities</div>
      </div>
      <div *ngFor="let row of evaluation" >
        <div>{{row.question_id}}</div>
        <div>{{row.result}}</div>
        <div style="color : darkred;">{{row.penalities}}</div>
      </div>

    </div>

  </div>

  <scoreboard
    [competition_id]="c_id"
  ></scoreboard>


</div>
