@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

.info-section {
    text-align: center;
    max-width: 40rem;
    margin-inline: auto;
    padding-block: 2rem;
    padding-inline: 0.3rem;

    .competition-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .competition-desc {
        margin-top: 1rem;
    }

    .competition-start,
    .competition-end {
        opacity: 0.7;
    }

    .tags {
        width: fit-content;
        margin-inline: auto;
        gap: 1rem;
        margin-top: 1rem;
        text-align: start;
    }
}

.instructions {
    padding-left: 1rem;

    li {
        list-style: none;
        font-weight: normal;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        fa-icon {
            font-size: 1.5rem;
        }
    }
}

.bottom-section {
    @include basicBack;
    @include hideSrollbar;
    z-index: 50;
    border-radius: 1.5rem;
    position: fixed;
    top: 96%;
    left: 12%;
    right: 12%;
    bottom: -2rem;
    opacity: 0.5;
    transition:
        opacity 100ms,
        top 200ms;
    box-shadow: -1px 0px 6px 0px rgba(128, 128, 128, 0.5);
    padding-top: 0;

    @media screen and (max-width: 512px) {
        left: 0;
        right: 0;
        top: 96%;

        &:hover {
            top: 96%;
        }
    }

    &:hover {
        opacity: 0.7;
        top: 95.8%;
    }

    &.full {
        opacity: 1;
        top: 35%;
        box-shadow: inset;
        overflow-y: auto;
        box-shadow: 1px 0px 150px 1000px rgba(128, 128, 128, 0.5);

        .section-toggle {
            rotate: 180deg;
        }
    }

    .section-toggle {
        height: 2.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-weight: 600;
    }

    .progress-container {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 0.5rem;

        .progress-box {
            font-size: 1.3rem;
            background-color: whitesmoke;
            padding: 1rem;
            padding-right: 1.3rem;
            width: fit-content;
            display: inline-block;
            border-radius: 1rem;
            flex-grow: 1;
            @include sweetBorder;

            .progress-num {
                font-weight: bold;
                font-size: 1.4rem;
                margin-inline: 0.2rem;
            }

            greenred {
                margin-top: 0.3rem;
            }

            &.score-box {
                display: flex;
                align-items: center;
                gap: 0.3rem;
                justify-content: center;
            }
        }
    }
}

.questions-container {
    align-items: end;
    justify-content: space-between;
    margin-bottom: 1rem;

    questions-list {
        max-width: calc(100% - 4rem);
    }

    .toggle-layout-label {
        text-align: center;
        font-size: 1.1rem;
        padding: 1rem;
        border-radius: 1rem;
        width: max-content;

        &.active {
            background-color: colors.$text_black;
            color: colors.$text_white;
        }
    }
}

.has-ended-info {
    @include basicBack;
    margin-block: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

#submit_controls {
    justify-content: space-between !important;
    align-items: start;

    #submit_code_btn {
        background-color: colors.$ls;
        border-color: #dcadb6;
        color: saddlebrown;
    }

    .button {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    & > div {
        justify-content: end;
    }
}

.extra-buttons {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;

    #share-btn {
        color: colors.$text_black;
    }

    #report-btn {
        color: colors.$text_black;
        cursor: pointer;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }
}

.nav-controls {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: absolute;
    top: 5.5rem;
    right: 1rem;
    z-index: 49;
    opacity: 0;

    &:hover {
        opacity: 1;
    }

    & > div {
        @include basicBack;
        font-size: 0.9rem;
        padding: 0.6rem;
        padding-inline: 0.8rem;

        background-color: rgba(245, 245, 245, 0.5);
        cursor: pointer;
        transition: 300ms;
        user-select: none;
        opacity: 0.4;

        &:hover {
            opacity: 1;

            background-color: rgba(245, 245, 245, 1);
        }

        &:active {
            scale: 0.95;
        }
    }
}

.question-section {
    position: relative;

    &:hover {
        .nav-controls {
            opacity: 1;
        }
    }
}

.compete-hr-layout {
    flex-wrap: nowrap !important;
    align-items: stretch !important;
    gap: 1rem;

    .question-side-section {
        width: 100%;
        flex-basis: 60%;
        flex-grow: 1;
        margin-bottom: 1rem;

        &:not(.ace-editor) {
            @include basicBack;
            flex-basis: calc(60% - 3.3rem);
        }
    }

    .question-section {
        height: calc(100svh - 90px - 2rem - 84px - 150px);
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        width: 45%;
    }
}

.question-side-section {
    &:not(.ace-editor) {
        @include basicBack;
    }
}

input,
textarea {
    @include appTextArea;
    width: calc(100% - 2rem);
}

.long-answer-section {
    .words-written {
        color: darkred;

        &.acceptable {
            color: darkgreen;
        }
    }
}

.mcq-section {
    .choices {
        .choice {
            @include blackBack;
            font-size: 1.1rem;
            display: flex;
            gap: 2rem;
            padding: 1rem;
            border-radius: 1rem;
            margin-top: 1rem;
            cursor: pointer;
            align-items: center;
            transition: transform 150ms;

            fa-icon {
                opacity: 0.7;

                &.selected {
                    color: orangered;
                    opacity: 1;
                }
            }

            &:hover {
                fa-icon {
                    opacity: 0.8;
                }

                transform: scale(1.008);
            }

            &:active {
                transform: scale(1);
            }
        }
    }
}

#competition_info {
    margin-bottom: 1rem;
    padding: 1.3rem;
    // background-color: colors.$dim_white;
    @include blackBack;
    @include sweetBorder;
    border-radius: 1.5rem;
    font-size: 1.1rem;

    .practice-label {
        color: purple;
        width: fit-content;
        @include basicBack;
        margin-top: -3.3rem;
        padding: 0.6rem;
        padding-inline: 1rem;
        left: 0.5rem;
        font-size: 0.9rem;
        font-weight: 400;
        border-radius: 1rem 1rem 0 0;
        position: relative;
        z-index: -1;
        margin-bottom: 1rem;
    }

    infotip {
        margin-left: 0.4rem;

        svg {
            font-size: 1.2rem;
        }
    }

    .title-duration-container {
        gap: 1rem;

        .title {
            font-weight: 500;
        }

        > b {
            width: 100%;
            flex-basis: 70%;
            font-size: 1.1rem;
        }
    }

    .description-toggle-content {
        margin: 6px;
        margin-top: 9px;
        margin-bottom: 0;
        width: 100%;
        cursor: pointer;

        .startup-info {
            text-align: right;
            padding-right: 1rem;
            color: darkgreen;
        }
    }
    .description-toggle-content-a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    #description-toggle:checked + p {
        .description-toggle-content-a {
            display: none;
        }
        .description-toggle-content-b {
            display: block;
        }
    }

    #description-toggle:not(:checked) + p {
        .description-toggle-content-a {
            display: block;
        }
        .description-toggle-content-b {
            display: none;
        }
    }

    #duration_info {
        border-radius: 0.6rem;
        padding: 10px;
        padding-inline: 1rem;
        text-align: start;
        display: flex;
        align-items: center;
        justify-content: space-between;
        float: right;
        margin: 0.2rem;
        color: darkred;

        .label {
            font-size: 1rem;
        }

        span {
            font-family: monospace;
            background: colors.$mild_red;
            border-radius: 0.5rem;
            padding: 0.3rem;
            padding-inline: 0.5rem;
            @include sweetBorder;

            border-color: #dcadb6;
        }
    }
}

.button {
    @include appTextArea;
    cursor: pointer;
    width: fit-content;
    padding: 16px;
    margin: 16px;
}

.button:hover {
    background-color: white;
}

#output_label {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 8px;
    max-height: 512px;
}

.sa {
    justify-content: space-around;
}

#output_points {
    display: flex;
    justify-content: stretch;
    align-items: start;
    gap: 0.6rem;

    question-evaluation {
        width: 50%;
    }

    #solution_output {
        scroll-margin: 24px;
        background-color: whitesmoke;
        width: 50%;
        overflow: scroll;
        padding: 18px;
        font-size: 1rem;
        border-radius: 1rem;
        border: 1px solid whitesmoke;
        margin: 4px;
        transition: height 200ms;

        @include sweetBorder();

        .progress-box {
            border: none;
        }

        .loading {
            font-size: 1.2rem;
            padding: 0.7rem;

            fa-icon {
                font-size: 1.5rem;
            }
        }

        h3,
        pre {
            padding-inline: 0.5rem;
        }

        a {
            text-decoration: none;
        }

        pre {
            overflow-x: auto;
            background-color: colors.$text_white;
            padding: 0.5rem;
            border-radius: 0.5rem;
            margin-inline: 0.5rem;
            max-height: 256px;
        }
    }

    #solution_output::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    #competition_info {
        flex-direction: column-reverse;
    }

    #output_points {
        flex-direction: column-reverse;

        #solution_output {
            width: auto !important;
        }
        question-evaluation {
            width: 100%;
        }
    }

    .title-duration-container > b {
        flex-basis: 100% !important;
    }

    .description-toggle-content-a {
        text-decoration: underline;
    }
}
