@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;


#editor{
  height: 720px;
  font-size: 1rem;
}

#competition_info{
  font-family: appFont;
  margin-top: 56px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #duration_info{
    background-color: whitesmoke;
    border-radius: 24px;
    padding : 10px;
    margin: 24px;
    padding-inline: 24px;
    min-width: 300px;

  }
}

#question_title, #question_statement{
  background-color: white;
  padding: 16px;
  border-radius: 24px;
  font-family: appFont;
  font-size: 1.2rem;
  margin-bottom: 24px;
}

#question_statement{
  font-size: 1.05rem !important;
}

.button{
  @include appTextArea;
  cursor: pointer;
  width: fit-content;
  padding: 16px;
  margin : 16px;
}

.button:hover{
  background-color: white;
}

#output_label, #pts_desc_label{
  font-family: appFont;
  font-size: 1.3rem;
  font-weight: bold;
  padding : 8px;
}

.row{
  display: flex;
  align-items: center;
  font-family: appFont;
  flex-wrap: wrap;
}

#load_template_btn{
  height: fit-content;
  color: white;
  background-color: colors.$text_black;
  margin-left: 4%;
  padding: 4px;
  cursor: pointer;
}

#load_template_btn:hover{
  background-color: #494949;
}


.sa{
  justify-content: space-around;
}

#output_points{
  display: flex;
  justify-content: stretch;
  align-items: stretch; 
  font-family: appFont;


  #solution_output{
    background-color: whitesmoke;
    width: 50%;
    overflow: scroll;
    max-height: 512px;
    padding: 16px;
    font-size: 1rem;
    border-radius: 24px;
    border: 1px solid whitesmoke;
    margin : 4px;
  }

  #solution_output::-webkit-scrollbar{
    display: none;
  }
  
  #pts_desc{
    width: 50%;
    overflow: scroll;
    max-height: 512px;
    display: flex;
    flex-direction: column;
    font-family: appFont;
    font-size: 1.2rem;
    background-color: whitesmoke;
    padding: 16px;
    border-radius: 24px;
    margin : 4px;

    .table_heading{
      font-weight: bold;
      margin-bottom: 8px;
    }

    #pts_desc_label{
      text-align: left;
    }

    div{
      display: flex;
      justify-content: space-around;

      div{
        width: 50px;
        text-align: center;
      }
    }
    div:hover{
      background-color: colors.$text_white;
      border-radius: 24px;
    }

  }

  #pts_desc::-webkit-scrollbar{
    display: none;
  }
}

@media only screen and (max-width : 720px) {
  #competition_info{
    flex-direction: column-reverse;
  }

  #pts_desc_label{
    display: none;
  }

  #output_points{
    flex-direction: column;
    #solution_output, #pts_desc{
      width: 91% !important;
    }
  }
}



