<app-bar></app-bar>
<app-loading *ngIf="loading"></app-loading>

<spinner *ngIf="loading && !competition.id"></spinner>

<popup
    *ngIf="!isAuthenticated && !loading"
    [heading]="'Sign in to participate'"
    [hidden]="!showSignInP"
    (closeEvent)="showSignInP = false"
    [showControls]="false"
    [noContainer]="true"
>
    <sign-in-prompt></sign-in-prompt>
</popup>

<div class="body info-section" *ngIf="competition.id && notStarted">
    <br />
    <br />

    <div class="competition-title">{{ competition.title || "Untitled" }}</div>
    <br />
    <div>
        Hosted by
        <user-display [userInfo]="competition.host_user"></user-display>
    </div>
    <div class="competition-desc">
        {{ competition.description || "No description provided by the host." }}
    </div>
    <br />
    <br />

    <div *ngIf="competition.scheduled_at || competition.scheduled_end_at">
        <h3>
            <fa-icon [icon]="clockIcon"></fa-icon>
            Scheduling info
        </h3>
        <div *ngIf="competition.scheduled_at" class="competition-start">
            {{
                startable
                    ? "Started accepting submissions on "
                    : "Will start accepting submissions on "
            }}
            <b>
                {{ competition.scheduled_at | prettyDate }}
            </b>
        </div>

        <div *ngIf="competition.scheduled_end_at" class="competition-end">
            Closing the submissions after
            <b>
                {{ competition.scheduled_end_at | prettyDate }}
            </b>
        </div>
    </div>

    <br />

    <div *ngIf="competition.time_limit && !competition.practice">
        <h3>
            <fa-icon [icon]="stopwatchIcon"></fa-icon>
            Time limit
        </h3>
        Once you start the contest, you will be given
        <b>
            {{ getTimeLimit().hours ? getTimeLimit().hours + " hours" : "" }}
            {{ getTimeLimit().mins ? getTimeLimit().mins + " mins" : "" }} </b
        >. So start when you are ready
        {{
            competition.scheduled_end_at
                ? ", but ensure you begin in time, as submissions will close for the entire competition according to the schedule, even if you still have time remaining"
                : ""
        }}.
    </div>
    <br />

    <div>
        <h3>Questions</h3>

        <div class="tags">
            <ng-container
                *ngFor="let quesCount of getQuestionCounts(); let i = index"
            >
                <div class="tag" *ngIf="quesCount > 0">
                    <span style="font-size: 1.2rem; font-weight: 500">
                        {{ quesCount }}
                        <span style="font-size: 0.8rem">
                            question{{ quesCount === 1 ? "" : "s" }}
                            of type
                        </span>
                    </span>
                    <span style="font-size: 1rem">
                        &nbsp;
                        <ques-type-label [ques_type]="i"></ques-type-label>
                    </span>
                </div>
            </ng-container>
        </div>
    </div>
    <br />
    <br />

    <button
        *ngIf="isAuthenticated"
        class="main danger"
        (click)="startCompetitionSession()"
    >
        {{
            notStarted && !startable
                ? (competition.scheduled_at | timeAgo : true).replace(
                      "ago",
                      "left to start"
                  )
                : hasEnded
                ? "Submissions Closed"
                : "Start Now"
        }}
    </button>

    <sign-in-prompt *ngIf="!isAuthenticated"></sign-in-prompt>
</div>

<div class="body" *ngIf="competition.id && !notStarted">
    <div class="main">
        <popup
            [hidden]="!showInstructionP"
            (closeEvent)="showInstructionP = false"
            [showControls]="false"
            heading="Important Instructions To Follow"
        >
            <ul>
                <li>
                    The available questions are displayed in the 'Questions'
                    list. Submissions can only be made if a question is
                    selected.
                </li>
                <li>
                    Ensure you are writing code in the correct selected
                    language.
                </li>
                <li>
                    To verify the correctness of your code, use the "Run Test
                    Cases" button to run your code against a sample test case.
                    This will not result in any penalty if an error occurs.
                </li>
                <li>
                    Submit your code well before the competition ends, unless it
                    is a live forever competition.
                </li>
                <li>
                    To fetch the last submission, you must have made at least
                    one submission or run test cases. Avoid closing the tab to
                    prevent losing your in-progress code.
                </li>
                <li>
                    Every incorrect submission results in a penalty and affects
                    your rank.
                </li>
                <li>
                    Once you have made a successful submission, the points for
                    the question will be added to your total score. No penalties
                    will be counted after this.
                </li>
                <li>
                    If the host has not uploaded the files for test cases or
                    sample test cases, the output will return an error
                    indicating this. In such cases, you can wait for the host to
                    update the competition or contact the Hunter team to report
                    the issue.
                </li>
                <li>
                    Hunter is open for everyone to host competitions. We value
                    the reliability for participants. Please report any
                    problematic competitions to the Hunter team immediately.
                </li>
            </ul>
        </popup>

        <div *ngIf="this.competition.title" id="competition_info">
            <div
                *ngIf="competition.practice"
                class="practice-label cute-panel"
                matTooltip="Contest is set as a practice only, allowing you to
                        attempt the contest multiple times. You can submit your
                        responses any number of times. Any positive or negative
                        points here won't affect your user profile."
            >
                <fa-icon [icon]="practiceIcon"></fa-icon>
                &nbsp; For Practice Only
            </div>
            <div class="title-duration-container">
                <div class="title">
                    {{ this.competition.title || "Untitled Contest" }}
                    <infotip
                        message="Click to read instructions"
                        (click)="showInstructionP = true"
                        [svgSize]="'sm'"
                    ></infotip>

                    <div id="duration_info">
                        <span style="width: max-content">
                            {{
                                hasEnded
                                    ? timeLimitReached
                                        ? "Time limit reached"
                                        : "Submissions Closed"
                                    : timeRemaining
                            }}
                        </span>
                    </div>
                </div>
            </div>

            <input
                type="checkbox"
                id="description-toggle"
                [checked]="true"
                hidden
            />
            <p class="description-toggle-content">
                <label
                    class="description-toggle-content-a"
                    for="description-toggle"
                >
                    Read description
                </label>
                <label
                    class="description-toggle-content-b"
                    for="description-toggle"
                    matTooltip="Click to collapse"
                >
                    <div class="info-like">
                        Hosted by
                        <user-display
                            [userInfo]="this.competition.host_user"
                        ></user-display>
                    </div>
                    <div class="info-like">
                        Updated
                        {{ this.competition.updated_at | timeAgo }}
                    </div>

                    <br />
                    <div
                        [innerText]="
                            this.competition.description.trim() ||
                            'No description provided by host.'
                        "
                    ></div>

                    <div
                        *ngIf="this.competition.competition_sessions?.[0]?.created_at"
                        class="info-like startup-info"
                    >
                        <div>
                            <fa-icon
                                [icon]="ticketIcon"
                                [size]="'xs'"
                            ></fa-icon>
                            You started this contest on
                            {{ this.competition.competition_sessions?.[0]?.created_at | prettyDate}}
                        </div>

                        <div>
                            <span
                                *ngIf="
                                    competition.time_limit &&
                                    !competition.practice
                                "
                            >
                                <fa-icon
                                    [icon]="stopwatchIcon"
                                    [size]="'xs'"
                                ></fa-icon>
                                Contest has a max time limit of
                                {{
                                    getTimeLimit().hours
                                        ? getTimeLimit().hours + " hrs"
                                        : ""
                                }}
                                {{
                                    getTimeLimit().mins
                                        ? getTimeLimit().mins + " mins"
                                        : ""
                                }}
                            </span>
                        </div>
                    </div>
                </label>
            </p>
        </div>

        <div
            [ngClass]="{ 'row compete-hr-layout': hrlayout }"
            *ngIf="questionSelectedInfo"
        >
            <!-- Questions -->
            <div class="question-section">
                <div class="row questions-container">
                    <questions-list
                        [competitionInfo]="competition"
                        [questionsList]="competition.questions || []"
                        [editable]="false"
                        (questionSelectEmitter)="selectQuestion($event)"
                        [(questionSelected)]="questionSelected"
                        [questionsProgress]="questionsProgress"
                    ></questions-list>

                    <label
                        for="toggle-layout"
                        class="hsection pointer toggle-layout-label"
                        matTooltip="Toggle the editor layout"
                        [ngClass]="{ 'active': hrlayout }"
                    >
                        <fa-icon [icon]="layoutIcon"></fa-icon>
                    </label>

                    <input
                        id="toggle-layout"
                        type="checkbox"
                        name="hrlayout"
                        hidden
                        (change)="toggleLayout()"
                    />
                </div>
                <question-display
                    [questionInfo]="questionSelectedInfo"
                ></question-display>
                <div class="nav-controls">
                    <div
                        class="prev"
                        [ngClass]="{
                            'no-click disabled': questionSelected <= 0
                        }"
                        (click)="selectNextPrev(-1)"
                    >
                        Prev
                    </div>
                    <div
                        class="next"
                        [ngClass]="{
                            'no-click disabled':
                                questionSelected ===
                                (competition.questions?.length || 0) - 1
                        }"
                        (click)="selectNextPrev(1)"
                    >
                        Next
                    </div>
                </div>
            </div>

            <!-- Code editor -->
            <code-editor
                *ngIf="questionSelectedInfo.type === 0"
                class="ace-editor question-side-section"
                [(code)]="codeWritten"
                [(languageSelected)]="languageSelected"
                (fetchLastSubmission)="fetchLastSubmission()"
            >
            </code-editor>

            <ng-template #alreadySubmittedInfo>
                <p>
                    <b
                        *ngIf="
                            questionSelectedInfo.results?.length != 0 &&
                            isAuthenticated
                        "
                    >
                        You submitted a response
                        {{
                            questionSelectedInfo.results?.[0]?.created_at
                                | timeAgo
                        }}
                    </b>
                </p>
            </ng-template>

            <div
                *ngIf="questionSelectedInfo.type === 1"
                class="mcq-section question-side-section"
                [ngClass]="{
                    'disabled_bright no-click':
                        !competition.practice &&
                        questionSelectedInfo.results?.length
                }"
            >
                <h3>Select option(s)</h3>
                <p class="info-like">
                    Please read the statement of the question carefully and
                    <b
                        >choose any
                        {{ questionSelectedInfo.correct_count }} from the
                        following
                        {{ questionSelectedInfo.question_choices?.length }}
                        choices.</b
                    >
                </p>
                <br />

                <b>
                    You have selected {{ alreadySelectedOptions() }}/{{
                        questionSelectedInfo.correct_count
                    }}

                    <infotip
                        [message]="
                            alreadySelectedOptions() ===
                            questionSelectedInfo.correct_count
                                ? 'You have selected the required number of options, and are ready to submit.'
                                : 'You have not selected the required number of options'
                        "
                    ></infotip>
                </b>

                <div class="choices">
                    <div
                        class="choice"
                        *ngFor="
                            let choice of questionSelectedInfo.question_choices
                        "
                        (click)="handleChoiceSelection(choice)"
                        [matTooltip]="
                            showChoiceAsSelected(choice)
                                ? 'Click to unselect'
                                : ''
                        "
                    >
                        <fa-icon
                            size="lg"
                            [icon]="
                                showChoiceAsSelected(choice)
                                    ? tickIcon
                                    : circleIcon
                            "
                            [ngClass]="{
                                'selected': showChoiceAsSelected(choice)
                            }"
                        ></fa-icon>
                        <div [innerText]="choice.text.trim()"></div>
                    </div>
                </div>
                <ng-outlet
                    [ngTemplateOutlet]="alreadySubmittedInfo"
                ></ng-outlet>
            </div>

            <div
                *ngIf="questionSelectedInfo.type === 2"
                class="blank-section question-side-section"
                [ngClass]="{
                    'disabled_bright no-click':
                        !competition.practice &&
                        questionSelectedInfo.results?.length
                }"
            >
                <h3>Fill in the value</h3>
                <p class="info-like">
                    Please read the statement of the question carefully and
                    answer the value for the blank
                </p>

                <br />

                <p class="">Input your answer below</p>
                <input
                    type="text"
                    [(ngModel)]="questionSelectedInfo.user_answer"
                    [value]="getLastSubmission()?.submission"
                    placeholder="Type..."
                />
                <ng-outlet
                    [ngTemplateOutlet]="alreadySubmittedInfo"
                ></ng-outlet>
            </div>

            <div
                *ngIf="questionSelectedInfo.type === 3"
                class="long-answer-section question-side-section"
                [ngClass]="{
                    'disabled_bright no-click':
                        !competition.practice &&
                        questionSelectedInfo.results?.length
                }"
            >
                <h3>Write your answer</h3>
                <p class="info-like">
                    Please read the statement of the question carefully and
                    start writing your answer.
                </p>

                <p class="info-like" *ngIf="questionSelectedInfo.char_limit">
                    <b
                        >Minimum number of words acceptable are
                        {{ questionSelectedInfo.char_limit }}</b
                    >
                </p>

                <br />

                <p
                    class="info-like"
                    [ngClass]="{
                        'acceptable': isLongAnswerAcceptable(
                            this.questionSelectedInfo.user_answer ||
                                getLastSubmission()?.submission ||
                                ''
                        )
                    }"
                    class="words-written"
                >
                    Number of words you've written
                    <span>
                        {{
                            numOfWordsWritten(
                                this.questionSelectedInfo.user_answer ||
                                    getLastSubmission()?.submission ||
                                    ""
                            ) || 0
                        }}<span *ngIf="questionSelectedInfo.char_limit">
                            /{{ questionSelectedInfo.char_limit }}
                        </span>
                    </span>

                    <infotip
                        *ngIf="questionSelectedInfo.char_limit"
                        [message]="
                            isLongAnswerAcceptable(
                                this.questionSelectedInfo.user_answer ||
                                    getLastSubmission()?.submission ||
                                    ''
                            )
                                ? 'You have written enough words, and are ready to submit.'
                                : 'Minimum words are not written, please write more.'
                        "
                    ></infotip>
                </p>

                <textarea
                    type="text"
                    [(ngModel)]="questionSelectedInfo.user_answer"
                    placeholder="Start typing your answer..."
                    [value]="getLastSubmission()?.submission"
                    rows="15"
                ></textarea>
                <ng-outlet
                    [ngTemplateOutlet]="alreadySubmittedInfo"
                ></ng-outlet>
            </div>
        </div>
        <manual-error
            *ngIf="hasEnded"
            message="Oops! looks like you have missed the opportunity to participate in
            the competition and any new submissions are now closed. Meantime, you can practice other live competitions."
        >
            <br />
            <a [routerLink]="'/compete'" style="color: gray"
                >Click here to view more competitions.</a
            >
        </manual-error>
        <p class="info-like" *ngIf="competition.practice">
            Contest is set as a practice only, allowing you to attempt the
            contest multiple times. You can submit your responses any number of
            times. Any positive or negative points here won't affect your user
            profile.
        </p>

        <!-- <app-info-card>Execution services are down at the moment, the remote code execution system is being re-organized and will be back once ready to ship.</app-info-card> -->
        <div
            id="submit_controls"
            *ngIf="!hasEnded && questionSelectedInfo"
            class="row"
        >
            <a
                id="report-btn"
                matTooltip="Email us for any kind of concern"
                [href]="reportCompetitionLink()"
            >
                <fa-icon [icon]="reportIcon" size="sm"></fa-icon>
                Report/Feedback
            </a>

            <div class="row">
                <div
                    class="button"
                    id="submit_code_samples_btn"
                    (click)="postSolution(true)"
                    [matTooltipPosition]="'above'"
                    [matTooltip]="'Test samples (Shift + Alt + J)'"
                    *ngIf="questionSelectedInfo.type === 0"
                >
                    <fa-icon [icon]="playIcon"></fa-icon>
                    &nbsp; Run Tests
                </div>

                <div
                    [matTooltip]="
                        !competition.practice &&
                        questionSelectedInfo.type !== 0 &&
                        questionSelectedInfo.results?.length
                            ? 'You have already submitted your response'
                            : 'Only submit when you\'re ready, to avoid negative marking'
                    "
                    class="button"
                    id="submit_code_btn"
                    [matTooltipPosition]="'above'"
                    (click)="postSolution()"
                    [ngClass]="{
                        'disabled no-click':
                            !competition.practice &&
                            questionSelectedInfo.type !== 0 &&
                            questionSelectedInfo.results?.length
                    }"
                >
                    <fa-icon [icon]="submitIcon"></fa-icon>
                    &nbsp; Submit & Evaluate
                </div>
            </div>
        </div>
    </div>

    <br />

    <div
        *ngIf="questionSelectedInfo"
        class="bottom-section"
        [ngClass]="{ 'full': bottomSection }"
    >
        <div
            class="section-toggle"
            (click)="bottomSection = !bottomSection"
            matTooltip="Toggle (Ctrl + `) or Close (Esc)"
        >
            <fa-icon [icon]="upIcon"></fa-icon>
        </div>
        <ng-template #overallProgress>
            <div>
                <div *ngIf="competition.questions" class="progress-container">
                    <div class="progress-box">
                        <span class="progress-num">
                            {{ questionsProgress.length }} of
                            {{ competition.questions.length }}
                        </span>
                        Questions Attempted
                        <greenred
                            [green_number]="questionsProgress.length"
                            [red_number]="
                                (competition.questions.length || 1) -
                                questionsProgress.length
                            "
                            green_label="Attempted"
                            red_label="Unattempted"
                        ></greenred>
                    </div>

                    <div class="progress-box">
                        <span class="progress-num">
                            {{ getAcceptedSolutions() }} of
                            {{ questionsProgress.length }}
                        </span>
                        Questions Accepted
                        <greenred
                            [green_number]="getAcceptedSolutions()"
                            [red_number]="
                                questionsProgress.length -
                                getAcceptedSolutions()
                            "
                            green_label="Accepted"
                            red_label="Not Accepted"
                        ></greenred>
                    </div>

                    <div class="progress-box score-box cute-panel">
                        Received a total of
                        <span class="progress-num">
                            {{ getTotalScore() }}
                        </span>
                        points

                        <infotip
                            *ngIf="competition.practice"
                            message="Will not affect your profile, since this is a practice contest only."
                        ></infotip>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #questionEvaluation>
            <h2>Question Evaluation</h2>
            <div id="output_points">
                <question-evaluation
                    [questionSelectedInfo]="questionSelectedInfo"
                    [flipper]="evaluationChangeOccurred"
                >
                </question-evaluation>

                <div id="solution_output">
                    <ng-outlet
                        [ngTemplateOutlet]="overallProgress"
                        [ngTemplateOutletContext]="{ hideTitle: true }"
                        *ngIf="questionSelectedInfo.type !== 0"
                    ></ng-outlet>
                    <div class="loading" *ngIf="judgeInProgress">
                        <fa-icon
                            [icon]="judgeLoadingIcon"
                            [spin]="true"
                            [pulse]="true"
                        ></fa-icon>
                        &nbsp;&nbsp; Judging... this may take a few seconds
                    </div>
                    <div *ngIf="solutionOutput.output">
                        <h3>Output<br /></h3>
                        <pre [innerText]="solutionOutput.output"></pre>
                    </div>

                    <div *ngIf="solutionOutput.expected">
                        <h3>Expected<br /></h3>
                        <pre [innerText]="solutionOutput.expected"></pre>
                    </div>

                    <pretty-meta
                        [meta]="solutionOutput.meta"
                        [success]="solutionOutput.success"
                    ></pretty-meta>
                </div>
            </div>

            <br />
            <h2
                *ngIf="competition.questions && questionSelectedInfo.type === 0"
            >
                Your Overall Progress
            </h2>
            <ng-outlet
                [ngTemplateOutlet]="overallProgress"
                *ngIf="questionSelectedInfo.type === 0"
            ></ng-outlet>
        </ng-template>

        <ng-container
            *ngIf="isAuthenticated"
            [ngTemplateOutlet]="questionEvaluation"
        ></ng-container>

        <div *ngIf="!isAuthenticated">
            <br />
            <br />
            <sign-in-prompt></sign-in-prompt>
        </div>

        <scoreboard
            [competitionInfo]="competition"
            [competition_id]="c_id"
        ></scoreboard>
    </div>
</div>
