@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

.bottom-section {
    @include basicBack;
    @include hideSrollbar;
    z-index: 50;
    border-radius: 1.5rem;
    position: fixed;
    top: 97%;
    left: 10%;
    right: 10%;
    bottom: -10%;
    opacity: 0.5;
    transition: opacity 100ms, top 200ms;
    box-shadow: -1px 0px 6px 0px rgba(128, 128, 128, 0.5);
    padding-top: 0;

    &:hover {
        opacity: 0.7;
        top: 96.5%;
    }

    &.full {
        opacity: 1;
        top: 50%;
        box-shadow: inset;
        overflow-y: auto;

        .section-toggle {
            rotate: 180deg;
        }
    }

    .section-toggle {
        height: 2.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.questions-container {
    align-items: end;
    justify-content: space-between;
    margin-bottom: 1rem;

    .toggle-layout-label {
        text-align: center;
        font-size: 1.2rem;
        padding: 1rem;
        border-radius: 12px;
        width: max-content;

        &.active {
            background-color: colors.$text_black;
            color: colors.$text_white;
        }
    }
}

#submit_controls {
    justify-content: end !important;

    .button {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
}

.compete-hr-layout {
    flex-wrap: nowrap !important;
    align-items: end !important;
    gap: 1rem;

    .ace-editor,
    #editor {
        width: 100%;
        flex-basis: 65%;
    }

    #question_statement {
        overflow-y: auto;
        flex-grow: 1;
    }

    .question-section {
        height: 818px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-basis: 45%;
    }
}

#competition_info {
    font-family: appFont;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    infotip {
        margin-left: 0.4rem;

        svg {
            font-size: 1.2rem;
        }
    }

    #duration_info {
        background-color: whitesmoke;
        border-radius: 24px;
        padding: 10px;
        margin: 24px;
        margin-right: 0;
        padding-inline: 24px;
        text-align: start;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .label {
            font-size: 1rem;
        }
    }
}

#question_title,
#question_statement {
    background-color: white;
    padding: 16px;
    border-radius: 24px;
    font-family: appFont;
    font-size: 1.2rem;
    margin-bottom: 24px;
}

#question_statement {
    font-size: 1.05rem !important;
}

.button {
    @include appTextArea;
    cursor: pointer;
    width: fit-content;
    padding: 16px;
    margin: 16px;
}

.button:hover {
    background-color: white;
}

#output_label,
#pts_desc_label {
    font-family: appFont;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 8px;
}

.sa {
    justify-content: space-around;
}

#output_points {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    font-family: appFont;

    #solution_output {
        background-color: whitesmoke;
        width: 50%;
        overflow: scroll;
        max-height: 512px;
        padding: 18px;
        font-size: 1rem;
        border-radius: 24px;
        border: 1px solid whitesmoke;
        margin: 4px;
        transition: height 200ms;

        .loading {
            font-size: 1.2rem;
            padding: 0.7rem;

            fa-icon {
                font-size: 1.5rem;
            }
        }

        h3,
        pre {
            padding-inline: 0.5rem;
        }

        a {
            text-decoration: none;
        }

        pre {
            overflow-x: auto;
            background-color: colors.$text_white;
            padding: 0.5rem;
            border-radius: 0.5rem;
            margin-inline: 0.5rem;
            max-height: 256px;
        }
    }

    #solution_output::-webkit-scrollbar {
        display: none;
    }
}

.btable {
    width: 50%;
    overflow: scroll;
    max-height: 512px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    background-color: whitesmoke;
    padding: 16px;
    border-radius: 24px;
    margin: 4px;

    .table_heading {
        font-weight: bold;
        margin-bottom: 8px;
    }

    div {
        display: flex;
        justify-content: space-around;

        div {
            width: 50px;
            text-align: center;
        }
    }
    div:hover {
        background-color: colors.$text_white;
        border-radius: 24px;
    }
}

#pts_desc::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 720px) {
    #competition_info {
        flex-direction: column-reverse;
    }

    #pts_desc_label {
        display: none;
    }

    #output_points {
        flex-direction: column;
        #solution_output,
        #pts_desc {
            width: 91% !important;
        }
    }
}
