<app-bar></app-bar>

<div class="page">
    <h2 class="insights-title">
        <fa-icon [icon]="rankIcon"></fa-icon>
        Insights and Evaluations
    </h2>
    <div
        class="insights-header"
        routerLink="/editor/{{ competition_id }}"
        matTooltip="Got to editor"
    >
        <h3>{{ competitionInfo.title || "Untitled" }}</h3>
        <p class="info-like">{{ competitionInfo.description }}</p>
    </div>

    <scoreboard
        *ngIf="competitionInfo.id"
        [competition_id]="competitionInfo.id"
        [competitionInfo]="competitionInfo"
        [question_list]="true"
        (metaChange)="scoreMeta = $event"
    ></scoreboard>
</div>
