@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

.options {
    border-radius: 1rem;
    display: flex;
    display: flex;
    justify-content: center;

    .option {
        font-size: 1.2rem;
        border-radius: 1rem;
        padding: 1rem;
        margin: 0.5rem;
        opacity: 0.8;
        cursor: pointer;
        background-color: whitesmoke;
        transition: transform 200ms;

        @include sweetBorder;

        fa-icon {
            margin-right: 0.3rem;
            opacity: 0.8;
        }

        &:hover {
            opacity: 1;
        }

        &.selected {
            opacity: 1;
            font-weight: 500;
            background-color: white;
            transform: translateY(-0.1rem);
        }
    }
}

.insights-header {
    @include blackBack;
    padding-inline: 2rem !important;
    cursor: pointer;
}

.download.cute-panel {
    @include basicBack;
    width: fit-content;
    padding: 0.5rem;
    padding-inline: 0.8rem;
    font-size: 0.9rem;
    font-weight: 600;
    float: right;
    cursor: pointer;
}

.evaluations-panel {
    questions-list {
        @include blackBack;
        display: block;
        position: sticky;
        top: 0rem;
        backdrop-filter: blur(16px);
        background-color: #a2a2a229;
    }

    .eval-section {
        display: flex;
        gap: 1rem;

        .evaluations {
            width: 30%;

            .evaluation {
                @include basicBack;
                padding: 1.3rem;
                cursor: pointer;
                transition: 100ms;
                margin-bottom: 0.5rem;

                &:hover {
                    background-color: rgb(255, 253, 248);
                }

                &:active {
                    scale: 0.99;
                }

                &.selected {
                    background-color: rgb(255, 251, 242);
                    transform: translateX(0.25rem);
                }

                .for {
                    font-size: 1.2rem;
                    font-weight: 400;
                }

                .by {
                    font-weight: 500;
                }

                .status {
                    width: fit-content;
                    background-color: #e9ffe0;
                    padding: 0.35rem;
                    border-radius: 0.6rem;
                    font-size: 0.8rem;
                    @include sweetBorder;
                    border-color: darkgreen;
                    color: darkgreen;
                    margin: 0.5rem;

                    &.pending {
                        border-color: darkred;
                        color: darkred;
                        background: #ffe0e0;
                    }
                }
            }
        }

        .selected-eval {
            @include basicBack;
            width: calc(70% - 1rem);
            height: fit-content;

            pre {
                @include basicBack;
                white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -pre-wrap;
                white-space: -o-pre-wrap;
                word-wrap: break-word;
                overflow: auto;
                background-color: rgb(255, 243, 226);
                height: 50svh;
            }

            question-display {
                cursor: pointer;
            }

            .by {
                font-size: 1.3rem;
                font-weight: 500;
            }

            .points {
                font-size: 1.4rem;
                font-weight: 400;
                color: colors.$cute_blue;

                input {
                    width: 3rem;
                }
            }
        }

        .empty {
            opacity: 0.6;
            text-align: center;
            margin: 3rem;
        }
    }
}
