.showdown-branding {
    font-weight: 200;
    padding-inline: 0.5rem;

    a {
        color: crimson;
    }
}

.solution-meta {
    background-color: #87cfeb30;
    border-color: skyblue;
    border-radius: 1rem;

    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: space-around;
}
