<app-bar></app-bar>


<div class="row_flex" style="margin-top: 16px;">

  <div class="vertical_flex">
    <div class="vertical_flex">
      <div id = "title_label">Competition Title</div>
      <textarea maxlength="120" rows="7" id="text_title">{{this.competitionInfo.title}}</textarea>
    </div>
  </div>

  <div class="vertical_flex">
    <div id = "desc_label">Competition Description</div>
      <textarea maxlength="456" rows="7" id="text_description">{{this.competitionInfo.description}}</textarea>
  </div>


  <div class="vertical_flex" style="align-items: stretch;">

    <div id="duration_label">Duration (minutes)</div>
    <input type="number" min="0" id = "competition_duration"[value]="competitionInfo.duration" >

    <div id="schedule_label">Set Live on schedule</div>
    <input type="datetime-local" id = "competition_schedule" [value]="competitionInfo.start_schedule | date : 'yyyy-MM-ddThh:mm'">

    <div id ="visbility_controller">
      <div id="id">
        Code : <b>{{competition_id}}</b>
      </div>
      <div id="rating">Rating : <b>{{this.competitionInfo.rating}}</b></div>
      <div id="visibility" (click)="toggleVisibility()">PUBLIC</div>
    </div>

    <div id="created_on">
      {{this.competitionInfo.created_on | date : 'medium'}}
    </div>

  </div>

</div>


<questions-list
  [competitionInfo]="competitionInfo"
  [questionsList]="this.competitionQuestions"
  (messageEmitter)="displayLog($event)"
  (questionSelectEmitter)="selectQuestion($event)"
  (saveClicked)="saveQuestion()"
  (fetchRequired)="fetchQuestions()"
  [(questionSelected)]="questionSelected"
>
</questions-list>


<div class="vertical_flex" id="question_editor">
 <div id="qtitle_label">
   Question Title
 </div>
  <textarea id = "text_qtitle" maxlength="150" rows="4" [value]="questionSelectedInfo.title"></textarea>

 <div id="qstatement_label">
  Question Statement
  </div>
 <textarea id = "text_statement" maxlength="2048" rows="15" [value]="questionSelectedInfo.statement"></textarea>

 <div class="row_flex">
  <div id = "question_id">Question ID : {{this.questionSelectedInfo.id}}</div>

  <label id ="testcases_file_label" class = "file_input" for="testcases_file">
    Upload test cases test file...
  </label>
  <input class = "file_input" (change)="updateFile($event, 'TestCases')" id = "testcases_file" type="file" >
  <a *ngIf="testExists" id = "testcases_download" (click)="downloadFile('testcases')">View TestCases</a>


  <label id = "solutions_file_label" class = "file_input" for="solutions_file">
    Upload test solutions file...
    
  </label>
  <input class = "file_input" id = "solutions_file" type="file" (change)="updateFile($event, 'Solutions')">
  <a *ngIf="solsExists" id = "solutions_download" (click)="downloadFile('solutions')">View Solutions</a>
  
  <div id="question_points_lbl">Set Points <input id="question_points" type="number" min="0" [value]="questionSelectedInfo.points" ></div>


 </div>
</div>

<div class = "row_flex" id="controls">
  <button (click)="refreshCompetitionInfo()">RESET UNSAVED CHANGES</button>
  <button (click)="this.saveChanges()">SAVE CHANGES (Shift + S)</button>
  <button>GUIDE</button>
  <div id = "log">Welcome</div>
</div>
