@use "../../../../assets/colors";
@use "../../../../assets/fonts";
@use "../../../../assets/mixins" as *;

:host {
    border-radius: 1rem;
    @include sweetBorder;

    .hunter-conf {
        width: calc(100% - 42px);
        background-color: var(--body-bg);
        border-radius: 1rem 1rem 0 0;
        overflow: hidden;
        height: auto;
        padding-block: 8px;
        padding-left: 42px;
        display: flex;
        gap: 5px;

        .editor-button {
            height: 1.8rem;
            padding-inline: 8px;
            color: var(--text-black);
            background-color: var(--dim-white);
            cursor: pointer;
        }

        .editor-button:hover {
            background-color: var(--whitesmoke);
        }

        .editor-button,
        drop-down-list {
            border-radius: 6px;
            overflow: hidden;
        }
    }

    .editor-instance {
        height: calc(65svh - 61px);
        font-size: 1rem;
        border-radius: 0 0 1rem 1rem;

        &.participation-page {
            height: calc(100svh - 90px - 2rem - 84px - 150px - 61px);
        }
    }
}
