@use "../../../../assets/colors";
@use "../../../../assets/fonts";
@use "../../../../assets/mixins" as *;

:host {
    .hunter-conf {
        width: calc(100% - 42px);
        background-color: colors.$text_black;
        border-radius: 24px 24px 0 0;
        overflow: hidden;
        height: auto;
        padding-block: 8px;
        padding-left: 42px;

        .editor-button {
            height: 1.8rem;
            padding-inline: 8px;
            color: white;
            background-color: colors.$text_black;
            cursor: pointer;
        }

        .editor-button:hover {
            background-color: #494949;
        }

        .editor-button,
        drop-down-list {
            border-radius: 6px;
            overflow: hidden;
        }
    }

    .editor-instance {
        height: calc(65svh - 61px);
        font-size: 1rem;
        border-radius: 0 0 24px 24px;

        &.participation-page {
            height: calc(100svh - 90px - 2rem - 84px - 150px - 61px);
        }
    }
}
