$app_a: #3e334d;
$app_b: #b091d9;
$app_c: #725e8d;
$app_d: #7c6799;
$app_e: #5d4d73;

$grey: #f6f8fa;
$text_white: #e9e9e9;
$text_black: #1f2328;
$purple_low: #b9b9b9;
$purple_high: #563e78;
$dim_white: #fffffff5;
$sweet_white: #fffef9e8;
$error: rgb(148, 48, 48);
$ls: #ffeef1;
$mild_red: #fff4f4;

$cute_blue: #00427a;
$cute_purple: #a63ca6;
