@use "./colors";
@use "./fonts";


@mixin inputText {
  border-radius: 5px;
  color: colors.$text_black;
  border-width: 0px;
  stroke-width: 0px;
  height: 30px;
  width: 259px;;
  margin-left: 12px;
  font-family: appFont;
  font-size: 16px;
  text-align: left;
  padding-left: 12px;
}

@mixin appTextArea {
  resize: none;
  border-radius: 24px;
  font-family: appFont;
  font-size: 1rem;
  padding: 8px;
  border-width: 0px;
}
