@use "./assets/colors";
@use "./assets/fonts";
@use "./assets/mixins" as *;

/*160deg*/

.mdc-switch {
    --mdc-switch-track-height: 24px !important;
    --mdc-switch-track-shape: 24px !important;
}
.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: blanchedalmond !important;
    --mdc-snackbar-supporting-text-color: rgb(91, 54, 0) !important;
    --mdc-snackbar-container-shape: 0.5rem !important;
    --mdc-snackbar-supporting-text-font: appFont !important;
    --mdc-snackbar-supporting-text-size: 16px !important;
    --mdc-snackbar-supporting-text-weight: 200 !important;
    --mdc-snackbar-supporting-text-line-height: 1.5rem !important;
    @include sweetBorder;
    border-color: rgb(255, 208, 150);
    border-radius: 0.5rem !important;
}

.mat-mdc-select-panel {
    border-radius: 1rem !important;
    @include sweetBorder;

    .mat-mdc-option {
        margin-inline: 0.5rem;
        border-radius: 0.7rem;

        &:hover {
            background-color: antiquewhite;
        }
    }
}

html {
    overflow-y: scroll;
    font-weight: 200;
}

.hidden {
    display: none;
}

.no-click {
    &:active {
        pointer-events: none;
    }

    * {
        pointer-events: none;
        &:active {
            pointer-events: none;
        }
    }
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed !important;

    * {
        cursor: not-allowed !important;
        opacity: 0.7;
    }
}

.disabled_bright {
    opacity: 0.85;
    cursor: not-allowed !important;

    * {
        cursor: not-allowed !important;
        opacity: 0.85;
    }
}

.link-like {
    cursor: pointer;
    color: colors.$text_black;

    &:hover {
        text-decoration: underline;
    }
}

.info-like {
    color: gray;

    b {
        font-weight: 500;
        color: rgb(95, 95, 95);
    }
}

a {
    text-decoration: none;
}

.table_heading {
    // pointer-events: none;
}

.hsection {
    background-color: whitesmoke;
    border-radius: 24px;
    padding: 10px;
}

.pointer {
    cursor: pointer;
}

body {
    background-color: colors.$text_white;
    margin: 0px;
    max-width: 1720px;
    padding-inline: 2%;
    margin-inline: auto;
    font-family: appFont;
}

.largeButton {
    padding: 0.8rem;
    padding-inline: 1.6rem;
    color: colors.$text_black;
    font-size: 1rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;

    @include sweetBorder;

    &:not(:hover) {
        transition: 300ms;
    }

    &:hover {
        transform: scale(1.07);
        background-color: colors.$text_black;
        font-weight: bold;
        color: white;
        transition: 300ms;
    }
}

.flex {
    display: flex;

    &-row {
        @extend .flex;
        flex-direction: row;
    }

    &-col {
        @extend .flex;
        flex-direction: column;
    }
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.justify {
    &-center {
        justify-content: center;
    }
    &-sb {
        justify-content: space-between;
    }
}

.align {
    &-center {
        align-items: center;
    }
    &-stretch {
        align-items: stretch;
    }
}

.wrap {
    flex-wrap: wrap;

    &-rev {
        flex-wrap: wrap-reverse;
    }
}

.btable {
    overflow: scroll;
    max-height: 512px;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    background-color: whitesmoke;
    padding: 16px;
    border-radius: 1rem;
    margin: 4px;

    @include sweetBorder();

    .table_heading {
        font-weight: bold;
        margin-bottom: 8px;
    }

    div {
        display: flex;
        justify-content: start;

        div {
            text-align: center;
            flex-basis: 33%;
            padding: 0.3rem;
        }
    }

    & > div:not(.table_heading):hover {
        border-radius: 0.3rem;
        background-color: colors.$text_white;
    }
}
