@use "./assets/colors";
@use "./assets/fonts";
@use "./assets/mixins" as *;

// =============================
// Base Styles
// =============================
html {
    overflow-y: scroll;
    font-weight: 200;
    background-color: colors.$text_white;
}

body {
    margin: 0;
    max-width: 1720px;
    padding-inline: 2%;
    margin-inline: auto;
    font-family: appFont;
    font-weight: 400;
}

a {
    text-decoration: none;
}

input[type="number"],
input[type="email"],
input[type="text"] {
    @include appTextArea;
    border-radius: 0.7rem !important;
    padding: 0.5rem;
}

button.main,
.button.main {
    @include blackBack;
    font-size: 1rem;
    color: colors.$cute_blue;
    border-color: colors.$cute_blue;
    background-color: #e1e5ff;
    min-width: 5rem;
    border-radius: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 100ms;
    text-align: center;
    font-weight: 400;
    margin: 2px;

    &.sim {
        border-color: #9ea4d0;
    }

    &:hover {
        background-color: #f1f3ff;

        &.danger {
            background-color: #fff7f7;
        }
    }

    &:active {
        scale: 0.99;
        background-color: #d6dcff;

        &.danger {
            background-color: #ffe7e7;
        }
    }

    &.danger {
        background-color: #fff1f1;
        color: darkred;
        border-color: darkred;
    }
}

.app-settings {
    .setting-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
}

.beta-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* Shape & Size */
    padding: 4px 10px;
    border-radius: 50px; /* Pill shape */

    /* Typography */
    font-size: 0.75rem; /* Approx 12px */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em; /* Slight spacing for uppercase readability */
    line-height: 1;

    /* Colors (Light Blue Theme) */
    background-color: #e0f2fe;
    color: #0284c7;
    border: 1px solid #bae6fd; /* Subtle border for definition */
}

// =============================
// Material Design Components
// =============================
.mdc-switch {
    --mdc-switch-track-height: 24px !important;
    --mdc-switch-track-shape: 24px !important;
}

.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: blanchedalmond !important;
    --mdc-snackbar-supporting-text-color: rgb(109, 65, 0) !important;
    --mdc-snackbar-container-shape: 0.5rem !important;
    --mdc-snackbar-supporting-text-font: appFont !important;
    --mdc-snackbar-supporting-text-size: 16px !important;
    --mdc-snackbar-supporting-text-weight: 400 !important;
    --mdc-snackbar-supporting-text-line-height: 1.5rem !important;
    @include sweetBorder;
    border-color: rgb(255, 208, 150);
    border-radius: 0.5rem !important;
}

.mat-mdc-snack-bar-action {
    color: rgb(109, 65, 0) !important;
}

.mat-mdc-select-panel {
    border-radius: 1rem !important;
    @include sweetBorder;

    .mat-mdc-option {
        margin-inline: 0.5rem;
        border-radius: 0.7rem;

        &:hover {
            background-color: antiquewhite;
        }
    }
}

.mat-mdc-tab-label-container {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1.3rem;
    overflow: hidden;
    padding: 0.3rem;

    .mat-mdc-tab {
        border-radius: 1rem;
        overflow: hidden;
        transition: 200ms;

        &:hover {
            background-color: transparent;
        }

        .mdc-tab__content {
            transition: 300ms;
        }

        &:active .mdc-tab__content {
            transform: scale(0.96);
        }
    }

    * {
        font-family: appFont;
    }

    .mdc-tab-indicator {
        display: none;
    }

    .mdc-tab--active,
    .mdc-tab--active:hover {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 1rem;
    }
}

.mat-mdc-tab-body-wrapper {
    padding-inline: 0.5rem;
}

question-display {
    .sun-editor {
        border-width: 0;

        .se-wrapper-inner {
            padding: 0.5rem;
        }

        .se-resizing-bar {
            display: none;
        }
    }
}

.sun-editor {
    font-family: appFont;
    width: auto !important;
    border-radius: 1rem;
    overflow: hidden;

    .se-btn-module-border {
        border-radius: 0.9rem;
    }
    .se-btn {
        border-radius: 0.85rem;
    }
    .se-dialog .se-dialog-inner .se-dialog-content {
        border-radius: 1rem;
    }

    .se-resizing-bar {
        padding-inline: 1rem;
    }

    .se-list-format {
        max-height: 9rem;
        border-radius: 0.5rem;
    }
}

.katex-mathml {
    display: none !important;
}

// =============================
// Layout Utilities
// =============================
.flex {
    display: flex;

    &-row {
        @extend .flex;
        flex-direction: row;
    }

    &-col {
        @extend .flex;
        flex-direction: column;
    }
}

.justify {
    &-center {
        justify-content: center;
    }
    &-sb {
        justify-content: space-between;
    }
}

.align {
    &-center {
        align-items: center;
    }
    &-stretch {
        align-items: stretch;
    }
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wrap {
    flex-wrap: wrap;

    &-rev {
        flex-wrap: wrap-reverse;
    }
}

.no-selection {
    &,
    & * {
        -webkit-user-select: none !important; /* Safari */
        -moz-user-select: none !important; /* Firefox */
        -ms-user-select: none !important; /* IE10+/Edge */
        user-select: none !important; /* Standard */
    }

    &.no-click {
        &,
        & * {
            pointer-events: none !important;
        }
    }
}

.full-app-page {
    max-width: 1720px;
    margin-inline: auto;
}

.large-app-page {
    max-width: 1450px;
    margin-inline: auto;
}

.small-app-page {
    max-width: 1080px;
    margin-inline: auto;
}

// =============================
// State Classes
// =============================
.hidden {
    display: none;
}

.no-click {
    &,
    * {
        &:active {
            pointer-events: none;
        }
    }
    * {
        pointer-events: none;
    }
}

.disabled {
    &,
    * {
        opacity: 0.7 !important;
        cursor: not-allowed !important;
    }
}

.disabled_bright {
    &,
    * {
        opacity: 0.85 !important;
        cursor: not-allowed !important;
    }
}

.pointer {
    cursor: pointer;
}

// =============================
// Components
// =============================
.largeButton {
    padding: 0.8rem 1.6rem;
    color: colors.$text_black;
    font-size: 1rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    @include sweetBorder;

    &:not(:hover) {
        transition: 300ms;
    }

    &:hover {
        transform: scale(1.07);
        background-color: colors.$text_black;
        font-weight: bold;
        color: white;
        transition: 300ms;
    }
}

.btable {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    background-color: whitesmoke;
    padding: 16px;
    border-radius: 1rem;
    @include sweetBorder();

    .table_heading {
        font-weight: bold;
        margin-bottom: 8px;
    }

    div {
        display: flex;
        justify-content: start;
        align-items: center;

        div {
            text-align: center;
            flex-basis: 33%;
            padding: 0.3rem;
        }
    }

    & > div:not(.table_heading):hover {
        border-radius: 0.3rem;
        background-color: colors.$text_white;
    }
}

// =============================
// Utility Classes
// =============================
.link-like {
    cursor: pointer;
    color: colors.$text_black;

    &:hover {
        text-decoration: underline;
    }
}

.info-like {
    color: gray;

    b {
        font-weight: 500;
        color: rgb(95, 95, 95);
    }

    &.cute {
        color: colors.$cute_blue;
        font-weight: 500;
    }

    &.sticky {
        margin-top: -0.7rem;
        font-size: 0.8rem;
    }
}

.error-like {
    color: darkred;
}

.hsection {
    background-color: whitesmoke;
    border-radius: 24px;
    padding: 10px;
}

.cute-panel {
    background: #fff1ff !important;
    border-color: #c19bc1 !important;
    color: purple !important;
}

.glowing-thing {
    background: hsl(0, 0%, 100%) !important;
    padding: 16px 24px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);

    &::after {
        position: absolute;
        content: "";
        top: 15px;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        transform: scale(0.9) translateZ(0);
        filter: blur(15px);
        background: linear-gradient(
            to left,
            #ff577077,
            #e4428d77,
            #c42da877,
            #9e16c377,
            #6501de77,
            #9e16c377,
            #c42da877,
            #e4428d77,
            #ff577077
        );
        background-size: 200% 200%;
        animation: animateGlow 1.25s linear infinite;
    }
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
