@use "./assets/colors";

/*160deg*/

body{
  background-color: colors.$text_white;
  // background: linear-gradient(165deg, colors.$text_white,colors.$purple_high);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  margin : 0px;
  margin-top: 120px;
  max-width: 1440px;
  padding-inline: 2%;
  margin-inline: auto;
}

