<app-loading *ngIf="loading"></app-loading>

<popup
    heading="Destructive Action"
    id="delete_confirm"
    [hidden]="!showQuestionDeleteP"
    [destructive]="true"
    (closeEvent)="handleDeleteConfirmation($event)"
    continueMessage="Yes, delete the question"
>
    <p>
        You are about to delete the question. This is an irreversible action,
        please confirm once.
    </p>
</popup>

<ol class="questions_list">
    <div class="list-heading">
        {{ questionsList.length }}
        {{ questionsList.length === 1 ? "Question" : "Questions" }}
    </div>
    <li
        *ngFor="let question of this.questionsList; index as i"
        [ngClass]="{ 'selected-question': questionSelected == i }"
        (click)="selectQuestion($event)"
        matTooltip="Click to unselect"
        [matTooltipDisabled]="questionSelected !== i || !clearable"
    >
        <fa-icon
            *ngIf="getQuestionProgress(question.id) as quesProgress"
            [icon]="quesProgress.accepted ? checkIcon : crossIcon"
            [style]="
                quesProgress.accepted ? 'color: darkgreen' : 'color: darkred'
            "
            class="question-progress"
            [matTooltip]="quesProgress.total + ' points'"
            matTooltipPosition="above"
        ></fa-icon>

        <span>
            <ques-type-label
                [ques_type]="question.type"
                [no_label]="true"
                style="opacity: 0.3; margin-left: -0.3rem"
            ></ques-type-label
            >&nbsp;
            {{ this.questionsList.indexOf(question) + 1 }}
        </span>
    </li>

    <li
        style="min-width: 3rem"
        *ngIf="editable"
        id="create_question_btn"
        (click)="openCreateQues()"
    >
        <mat-select
            #add_question_select
            panelWidth="14rem"
            matTooltip="Insert one new question"
            [(value)]="questionTypeBuffer"
            (selectionChange)="addQuestion($event)"
            placeholder="Add"
        >
            <mat-option
                *ngFor="let qOption of questionTypes"
                [value]="qOption[1]"
            >
                <ques-type-label
                    [ques_type]="parseInt(qOption[1])"
                ></ques-type-label>
            </mat-option>
        </mat-select>
    </li>
    <!-- <div
        matTooltip="Save changes for the selected question"
        *ngIf="editable && questionSelected !== -1"
        id="save_question_btn"
        (click)="saveClicked.emit()"
    >
        Save
    </div> -->
    <button
        matTooltip="Delete the selected question"
        *ngIf="editable && questionSelected !== -1"
        class="main danger"
        (click)="showQuestionDeleteP = true"
    >
        DELETE
    </button>
</ol>
