@use "../../../assets/fonts";
@use "../../../assets/colors";
@use "../../../assets/mixins" as *;

.questions_list::-webkit-scrollbar {
    display: none;
}

.questions_list {
    list-style: none;
    padding: 0px;
    display: flex;
    overflow-x: scroll;
    overflow-y: show;
    border-radius: 1rem;

    scroll-behavior: smooth;
    margin: 0;

    .list-heading {
        position: sticky;
        left: 0rem;
        text-wrap: nowrap;
        z-index: 10;
    }

    & > div {
        background-color: white;
        border-radius: 1rem;
        padding: 16px;
        font-weight: bold;
        width: max-content;
        text-align: center;
        margin-right: 16px;
        cursor: default;
        @include sweetBorder;
    }

    div#create_question_btn {
        padding-top: 0px;
        padding-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
    }

    div#delete_question_btn {
        padding-top: 0px;
        padding-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: darkred;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    li {
        background-color: whitesmoke;
        border-radius: 1rem;
        padding: 16px;
        font-weight: bold;
        width: max-content;
        text-align: center;
        margin-right: 6px;
        cursor: pointer;
        position: relative;
        text-wrap: nowrap;
        @include sweetBorder;

        &.selected-question {
            background-color: colors.$text_black;
            color: whitesmoke;

            &:hover {
                opacity: 1;
            }
        }

        .question-progress {
            position: absolute;
            top: 0rem;
            left: -0.5rem;
            font-size: 1.3rem;
            background: colors.$text_white;
            border-radius: 1.3rem;
            height: 1.3rem;
            display: block;
        }

        &:active {
            scale: 0.95;
        }
    }

    #delete_question_btn:hover {
        background-color: darkred;
        color: whitesmoke;
    }

    #delete_question_btn:active {
        transform: scale(0.95);
    }

    li:hover,
    div#create_question_btn:hover,
    div#save_question_btn:hover {
        background-color: colors.$text_black !important;
        color: colors.$text_white !important;
        opacity: 0.8;
    }
}
