@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

.heading {
    font-weight: normal;
    color: colors.$text_black;
}

.flex_container {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: center;
}

#join_competition {
    background-color: whitesmoke;
    border-radius: 12px;
    margin-top: 24px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

#join_competition p.heading {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-inline: 12px;
}

#competition_id_text {
    border-radius: 8px;
    color: colors.$text_black;
    background-color: colors.$text_white;
    height: 28px;
    border-width: 0px;
    width: 212px;

    font-size: 16px;
    text-align: left;
    padding-left: 12px;
}

#btn_submit_compt_code {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin: 16px;
    background-color: colors.$text_white;
    color: colors.$text_black;
    stroke-width: 0px;
    border-width: 0px;
    height: 28px;
    width: 48px;
    border-radius: 8px;

    font-weight: bold;
}

#btn_submit_compt_code:hover {
    background-color: colors.$text_black;
    color: colors.$text_white;
}

.community-partner {
    display: flex;
    justify-content: center;
    width: 16rem;
    height: 10rem;
    background-color: white;
    border-radius: 1.5rem;
    @include sweetBorder();
    overflow: hidden;
    position: relative;
    color: colors.$text_black;

    img {
        height: 100%;
    }

    &:hover {
        border-color: gray;
    }

    .description {
        position: absolute;
        font-size: 0.7rem;
        bottom: 1rem;
        left: 1rem;
        padding-right: 1rem;
        font-weight: bold;

        .title {
            font-size: 1rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to top,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0.7) 30%,
            rgba(0, 0, 0, 0.1) 60%
        );
        pointer-events: none; /* Allows clicks to pass through */
        z-index: 0;
    }
}
