<app-bar></app-bar>
<app-loading *ngIf="loading"></app-loading>

<!-- <app-info-card *ngIf="!isAuthenticated">
    These are the public competitions currently available on Hunter. Do a quick
    sign in and you will be able to participate in them, when they are live.
</app-info-card> -->

<!-- <div *ngIf="isAuthenticated" class="flex_container">
    <div id="join_competition">
        <p class="heading">Join with competition code</p>
        <input type="number" id="competition_id_text" placeholder="Eg. 54321" />
        <button id="btn_submit_compt_code" (click)="routeToCompetition()">
            Join
        </button>
    </div>
</div> -->

<div class="large-app-page">
    <div class="survey-banner">
        <div class="survey-content">
            <div class="survey-text">
                <span class="survey-badge">💬 Feedback</span>
                <h3>
                    Tell us what you love — and what you’d love to see next in
                    Hunter!
                </h3>
                <p>
                    Share your thoughts in our 2-minute anonymous survey and
                    directly influence Hunter's next features.
                    <b>(Survey closes on 11 January)</b>
                </p>
            </div>

            <a
                href="https://forms.gle/Y5bkFVqbhPvt2Vx26"
                target="_blank"
                class="survey-btn"
            >
                Take Survey
            </a>
        </div>
    </div>

    <ng-template #communitiesTemp>
        <h1>
            Communities

            <div class="beta-label">Beta</div>

            <infotip
                message="A community is your space to collaborate, create, and compete with
            others who share your interests or institution."
            ></infotip>
        </h1>
        <communities-list [communities]="publicCommunities"></communities-list>
    </ng-template>

    <ng-outlet
        [ngTemplateOutlet]="communitiesTemp"
        *ngIf="publicCommunities?.length"
    >
    </ng-outlet>

    <competitions-list
        [competitionsList]="this.publicCompetitions"
        [invitedList]="invitedCompetitions"
        heading="Public Competitions"
        route="compete/p"
    ></competitions-list>
</div>
