<div id="bottom_app_bar">
    <div class="row">
      <div id="site_logo">
        Hunter 
        <div id="site_info">
          Project By Maninderpal Singh<br>An Open Source (GNU General Public License v3.0) Software<br>Intended to simplify the daliy coding competitions
        </div>
      </div>
      <div class="button" routerLink="/about" id="about">About</div>
      <div class="button"  id="privacy_policy">Privacy Policy</div>
      <div class="button"  id="terms">Terms & Conditions</div>
    </div>
    
</div>