<ng-template #getstarted>
    <div
        id="getstarted"
        [ngClass]="{ 'app-line': true }"
        (click)="getStarted()"
    >
        <img
            src="../../../../assets/gh_logo.png"
            height="36"
            width="36"
            alt="github_logo"
        />
        <span>Sign In with GitHub</span>
    </div>
</ng-template>

<div class="sign-in-section" *ngIf="!minimal">
    <div class="text">Lets get you started with Hunter</div>
    <ng-outlet [ngTemplateOutlet]="getstarted" />
</div>

<ng-outlet *ngIf="minimal" [ngTemplateOutlet]="getstarted"></ng-outlet>
