<div id="signinDialog">

  <p class="sectionHeading">Register</p>

  <p class = "inputHeading">Full Name</p>
  <input type="text" class = "textbox">

  <p class = "inputHeading">Email *</p>
  <input type="email" class = "textbox">

  <p class = "inputHeading">Password *</p>
  <input type="password" class = "textbox">

  <p><br></p>

  <div id="legal">
    By clicking 'Submit', you agree to our Privacy Policy & Terms and Conditions, Others will be able to find you by email id provided
  </div>
  <button id="register_btn" (click)="sendRegisterReq()">
    Submit
  </button>

  <p id="login_heading" routerLink="/home">Already have an account?</p>
  <p id="responseMessage">{{registerResponseMessage}}</p>


</div>
