<div id="score_board">
    <h2>Competition Scoreboard</h2>
    <div id="scores_table">
        <div class="table_heading">
            <div class="rank-col">#</div>
            <div class="name-col">User Name</div>
            <div class="time-col">Last Submission</div>
            <div class="score-p">Points</div>
            <div class="score">
                Final Points
                <infotip
                    message="Effective points after negative marking for penalities done"
                ></infotip>
            </div>
            <!-- <div class="penalities">Penalities</div> -->
        </div>
        <div *ngFor="let score of scores; let i = index">
            <div class="rank-col">
                <b>{{ i + 1 }}</b>
            </div>
            <div class="name-col">
                {{ score.user_name }}#{{ score.user_id }}
            </div>
            <div class="time-col">
                {{ score.created_at | date : "yyyy MMM dd 'at' hh:mm aa" }}
            </div>

            <div class="score-p">&nbsp;&nbsp;{{ score.result }}</div>
            <div class="score">&nbsp;&nbsp;{{ score.final_result }}</div>
            <!-- <div class="penalities">{{ score.penalities }}</div> -->
        </div>

        <div>
            <div class="rank-col">-</div>
            <div class="name-col">-</div>
            <div class="time-col">-</div>
            <div class="score-p">&nbsp;&nbsp;-</div>
            <div class="score">&nbsp;&nbsp;-</div>
            <!-- <div class="penalities">-</div> -->
        </div>
    </div>
</div>
