<div id="score_board">
    <h2>Competition Scoreboard</h2>
    <div id="scores_table">
        <div class="table_heading">
            <div class="rank-col">#</div>
            <div class="name-col">User Name</div>
            <div class="time-col">Last Submission</div>
            <div class="score-p">Points</div>
            <div class="score">
                Final Points
                <infotip
                    message="Effective points after negative marking for penalities done"
                ></infotip>
            </div>
            <!-- <div class="penalities">Penalities</div> -->
        </div>
        <div
            *ngFor="let score of scores; let i = index"
            [ngClass]="{
                'user-rank-row':
                    user_details && user_details.user_id === score.user_id
            }"
        >
            <div class="rank-col">
                <b>{{ score.user_rank }}</b>
            </div>
            <div class="name-col">
                {{ score.user_name || "Anonymous" }}#{{ score.user_id }}
            </div>
            <div class="time-col">
                {{ score.created_at | date : "yyyy MMM dd 'at' hh:mm aa" }}
            </div>

            <div class="score-p">&nbsp;&nbsp;{{ score.result }}</div>
            <div class="score">&nbsp;&nbsp;{{ score.final_result }}</div>
            <!-- <div class="penalities">{{ score.penalities }}</div> -->
        </div>

        <div *ngIf="user_details && uiShowUserRow()" class="user-rank-row">
            <div class="rank-col">
                <b>{{ user_details.user_rank }}</b>
            </div>
            <div class="name-col">
                {{ user_details.user_name || "Anonymous" }}
            </div>
            <div class="time-col">
                {{
                    user_details.created_at | date : "yyyy MMM dd 'at' hh:mm aa"
                }}
            </div>
            <div class="score-p">{{ user_details.result }}</div>
            <div class="score">{{ user_details.final_result }}</div>
            <!-- <div class="penalities">-</div> -->
        </div>

        <div *ngIf="scores.length === 0">
            <div class="rank-col">-</div>
            <div class="name-col">-</div>
            <div class="time-col">-</div>
            <div class="score-p">&nbsp;&nbsp;-</div>
            <div class="score">&nbsp;&nbsp;-</div>
            <!-- <div class="penalities">-</div> -->
        </div>
    </div>
</div>
