@use "../../../../assets/fonts";
@use "../../../../assets/colors";
@use "../../../../assets/mixins" as *;

#bottom_app_bar {
    background-color: white;
    color: colors.$text_black;
    position: absolute;
    left: 0px;
    margin-top: 26rem;
    height: fit-content;
    padding-block: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .github-button {
        border-radius: 1rem;
        background-color: black;
        color: white;
        font-weight: bold;
        padding: 0.3rem 0.6rem;
    }

    .para {
        max-width: 512px;
    }

    > div {
        margin: 3rem;
    }

    #site_logo {
        font-weight: 700;
        font-size: 2rem;

        #site_info {
            font-size: 1rem;
            font-weight: 400;
        }

        .site-version {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    a {
        color: colors.$text_black;
    }

    .links {
        max-width: 1024px;
        // padding-inline: 10%;
        gap: 1.5rem;
        display: grid;
        grid-column: 2;
        justify-items: end;

        div {
            cursor: default;
        }

        a {
            margin-inline: 12px;
            cursor: pointer;
        }

        a:hover {
            opacity: 1;
        }
    }
}
@media only screen and (max-width: 1024px) {
    #site_logo {
        #site_info {
            font-size: 1rem !important;
        }
    }
    .button {
        font-size: 0.9rem !important;
    }
}
