<popup
    id="privacy_policy"
    heading=""
    (closeEvent)="showPrivacyPolicy(false)"
    [showControls]="false"
>
    <h1>Privacy Policy of Hunter</h1>

    <p>
        Hunter operates the hunter.cambo.in website, which provides the service
        to host public and private programming competitions/contests & to
        participate in them through letting users execute their code on Hunter's
        backend servers.
    </p>

    <p>
        This page is used to inform website visitors regarding our policies with
        the collection, use, and disclosure of Personal Information if anyone
        decided to use our Service, the hunter.cambo.in website.
    </p>

    <p>
        If you choose to use our Service, then you agree to the collection and
        use of information in relation with this policy. The Personal
        Information that we collect are used for providing and improving the
        Service. We will not use or share your information with anyone except as
        described in this Privacy Policy.
    </p>

    <p>
        The terms used in this Privacy Policy have the same meanings as in our
        Terms and Conditions, which is accessible at hunter.cambo.in, unless
        otherwise defined in this Privacy Policy.
    </p>

    <h2>Information Collection and Use</h2>

    <p>
        For a better experience while using our Service, we may require you to
        provide us with certain personally identifiable information, such as
        your full name and email id. The information that we collect will be
        used to contact or identify you.
    </p>

    <h2>Cookies</h2>

    <p>
        Cookies are files with small amount of data that is commonly used an
        anonymous unique identifier. These are sent to your browser from the
        website that you visit and are stored on your computer’s hard drive.
        Hunter uses it to store login session ids or OAuth tokens to provide
        seamless experience for users to authenticate themselves while using the
        Service.
    </p>

    <p>
        Our website uses these "cookies" to collection information and to
        improve our Service. You have the option to either accept or refuse
        these cookies, and know when a cookie is being sent to your computer. If
        you choose to refuse our cookies, you may not be able to use some
        portions of our Service.
    </p>

    <h2>Service Providers</h2>

    <p>
        We may employ third-party companies and individuals due to the following
        reasons:
    </p>

    <ul>
        <li>To facilitate our Service;</li>
        <li>To provide the Service on our behalf;</li>
        <li>To perform Service-related services; or</li>
        <li>To assist us in analyzing how our Service is used.</li>
    </ul>

    <p>
        We want to inform our Service users that these third parties have access
        to your Personal Information. The reason is to perform the tasks
        assigned to them on our behalf. However, they are obligated not to
        disclose or use the information for any other purpose.
    </p>

    <h2>Security</h2>

    <p>
        We value your trust in providing us your Personal Information, thus we
        are striving to use commercially acceptable means of protecting it. But
        remember that no method of transmission over the internet, or method of
        electronic storage is 100% secure and reliable, and we cannot guarantee
        its absolute security. Hunter as our responsibility, are working and
        providing the Service with the best and secure methods for transmission
        or storage of your data.
    </p>

    <h2>Links to Other Sites</h2>

    <p>
        Our Service may contain links to other sites. If you click on a
        third-party link, you will be directed to that site. Note that these
        external sites are not operated by us. Therefore, we strongly advise you
        to review the Privacy Policy of these websites. We have no control over,
        and assume no responsibility for the content, privacy policies, or
        practices of any third-party sites or services.
    </p>

    <p>Children's Privacy</p>

    <p>
        Our Services do not address anyone under the age of 13. We do not
        knowingly collect personal identifiable information from children under
        13. In the case we discover that a child under 13 has provided us with
        personal information, we immediately delete this from our servers. If
        you are a parent or guardian and you are aware that your child has
        provided us with personal information, please contact us so that we will
        be able to do necessary actions.
    </p>

    <h2>Changes to This Privacy Policy</h2>

    <p>
        We may update our Privacy Policy from time to time. Thus, we advise you
        to review this page periodically for any changes. We will notify you of
        any changes by posting the new Privacy Policy on this page. These
        changes are effective immediately, after they are posted on this page.
    </p>

    <h2>Contact Us</h2>

    <p>
        If you have any questions or suggestions about our Privacy Policy, do
        not hesitate to contact us. For more information, refer to the About
        page.
    </p>
</popup>

<div id="bottom_app_bar" [ngClass]="{ isAuthenticated: 'no-auth' }">
    <div class="main-content">
        <div id="site_logo">
            Hunter
            <br />
            <div id="site_info">
                With <fa-icon [icon]="heartIcon"></fa-icon> by
                <a href="https://cambo.in">Maninderpal Singh</a>

                <br />
                <br />
                <fa-icon [icon]="copyIcon" size="xs"></fa-icon> Cambo
                {{ getYear() }}
                <br />
                <br />

                <a
                    class="github-button"
                    href="https://github.com/msc24x/hunter"
                    target="_blank"
                >
                    <fa-icon [icon]="startIcon"></fa-icon>
                    on GitHub</a
                >
            </div>
        </div>

        <div class="links">
            <a href="mailto:msc24x@gmail.com" target="_blank"
                >Contact Support</a
            >
            <a
                href="https://www.linkedin.com/company/hunter-cambo-in"
                target="_blank"
                >LinkedIn</a
            >
            <a href="https://cambo.in" target="_blank">Creator's Portfolio</a>
            <a id="privacy_policy" (click)="showPrivacyPolicy(true)">
                Privacy Policy
            </a>
            <a href="https://donate.cambo.in" target="_blank">
                Donate
                <fa-icon [icon]="heartIcon"></fa-icon>
            </a>
        </div>
    </div>

    <div class="paragraph">
        Built with passion by
        <a href="https://cambo.in" target="_blank">Maninderpal Singh</a>, Hunter
        is an open-source initiative to make contest hosting effortless. We
        believe in community collaboration and fun access to education. If you
        enjoy using the platform, consider checking out our code on
        <a href="https://github.com/msc24x/hunter" target="_blank">GitHub</a> or
        supporting the project to
        <a href="https://donate.cambo.in" target="_blank"
            >help keep our servers running.</a
        >
    </div>
</div>
