<app-bar></app-bar>

<!--div id="logo" class="app-line">Hunter <span>I</span></div-->
<app-info-card [persist]="true">
  <b>UPDATE&nbsp;:&nbsp;</b> I regret to inform you that I will be discontinuing this hobby project of 
  mine in upcoming days due to some technical reasons. Hunter was a fun and challenging project that I 
  enjoyed working on, but unfortunately I can no longer maintain it. I hope to resume it someday, but 
  on a different domain. You will be notified on my Linkedin profile if and when that happens. Thank you 
  for your support and interest in Hunter.

</app-info-card>

<div id="tagline" class="app-line">Your Place To Host Programming Competitions.</div>
<div id="tagline_small" class="app-line">Host your own designed coding questions with the convenience of a click.
  Build, Maintain & Participate in them under one roof. </div>

<div *ngIf="!isAuthenticated" id="getstarted" class="app-line" (click)="getStarted()">
  <img *ngIf="prod" src="../../../../assets/gh_logo.png" height="28px" width="28px" alt="github_logo"
  >Sign In to start using Hunter </div>

<div class="row">
  <img id="ss1" class="app-img-r" src="../../../assets/ss1.png" width="640px" height="640px" alt="How hunter allows you to build coding competitions with so much ease">
  <div id="ss1_tag" class="app-line">Build Your Own Competitions With A Click.</div>
</div>

<div class="row" id="ss2_row">
  <div id="ss2_tag" class="app-line">Let The World Participate In Your Challenge</div>
  <img id="ss2" class="app-img-b" src="../../../assets/ss4.png" alt="Shows how hunter enables users to host their challanges across the world">
</div>

<div class="row">
  <img id="ss3" class="app-img-r" width="640px" height="640px" src="../../../assets/ss3.png" alt="Hunter comes with their home grown code compiling and execution services at their backend">
  <div id="ss3_tag" class="app-line">Compile & Execute On Hunter's Servers.</div>
</div>

<div *ngIf="!isAuthenticated && !prod" class="row">
  <div id="login_tag" class="app-line">Login Into Your Account</div>
  <login-dialog></login-dialog>
</div>

