<div id="loginDialog">
  <p class="sectionHeading">Login</p>
  <p class = "inputHeading">Email *</p>
  <input type="email" class = "textbox">
  <p class = "inputHeading">Password *</p>
  <input type="password" class = "textbox">
  <p><br></p>
  <!--input id = "keep_logged_check" type="checkbox">
  <p class="line" (click)="toggleKeepLoggedIn()">Keep me logged in</p-->

  <button id="login_btn" (click)="sendLoginRequest()">
    Login
  </button>
  or
  <button routerLink="/api/oauth/github">Sign In With GitHub</button>

  <p id="register_heading" routerLink="/register">Don't have an account?</p>
  <p id="responseMessage" >{{loginResponse}}</p>

</div>
